#slider{
	position:static ;
}
#slider-materail{
	background-color: #505050;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 33px;
}
#promo{
	position: absolute;
	bottom: 10px;
}
#slider #screens{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 20px;
	width:auto;
	height:auto;
}
.window-bottom{
}


.as-application .navs{
	-moz-border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	border-radius:6px 6px 0 0;
}
.as-application #slider-materail{
	-moz-border-radius:0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}