.as-application:not(.chrome-extension) body{
	position:relative;	/* complex bugfix for opera 10.10 weird widget scroll */
	width:100%;			/* complex bugfix for opera 10.10 weird widget scroll */
	
	background-color:transparent;
	overflow:hidden;
}

 
html.as-application:not(.chrome-extension){
	overflow:hidden;	/* complex bugfix for opera 10.10 weird widget scroll */
	position: absolute; /* complex bugfix for opera 10.10 weird widget scroll */
	width:100%;			/* complex bugfix for opera 10.10 weird widget scroll */
}

html.opera-extension{
	height:100%;
}
	html.opera-extension body{
		height:100%;
	}
 #slider{
	position:static ;
	padding:0 0 0;
}
.pokki-app{
	width:800px !important;
}
.pokki-app, .pokki-app body{
	height:auto !important;
	}
	.pokki-app #slider{
		padding-bottom:5px;
		}
		.pokki-app #slider-materail{
			height:661px;
			overflow: auto;
			}

.chrome-extension #slider {
	width:600px;
}

	
	 #slider .screens{
		
		
		padding:0 1em 0;
		position:relative;
		z-index:2;
		-apple-dashboard-region: dashboard-region(control rectangle 0 0 0 0);
		}

.as-application:not(.chrome-extension) #slider-materail{
	background-color: #505050;
	border:1px solid #666;
	border-top:0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 43px;
}

#promo{
	
	bottom: 10px;
	z-index:3;
}
.as-application #slider .screens{
		overflow-y:auto;
		overflow-x:hidden;
		height:549px;
		}
.chrome-extension.as-application #slider .screens{
			height: 553px;
		}
.as-application:not(.chrome-extension) #slider #screens{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width:auto;
	height:auto;
	bottom: 20px;
}


.as-application.opera-extension #slider #screens{
	bottom: 1px;
}


.as-application .navs{
	-moz-border-radius:0.5em 0.5em 0 0;
	-webkit-border-radius:0.5em 0.5em 0 0;
	border-radius:0.5em 0.5em 0 0;
}
.as-application #slider-materail{
	-moz-border-radius:0 0 0.5em 0.5em;
	-webkit-border-radius: 0 0 0.5em 0.5em;
	border-radius: 0 0 0.5em 0.5em;
}






#slider-materail{
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 43px;
	}
	#slider .screens{
		position: absolute;
		left: 0;
		right: 0;
		min-height: 100%;
		}
		.page-scheme{
			position: absolute;
			top: 0;
			bottom: 0;
			overflow: hidden;
			
			}
		.complex-page{
			-webkit-transition: margin-left 0.2s ease-out;
			-moz-transition: margin-left 0.2s ease-out;
			-o-transition: margin-left 0.2s ease-out;
			transition: margin-left 0.2s ease-out;
			}
