.preview_area{
	1background: #545454;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	}
	.preview_area .area_for_button{
		1background: #545454;
		margin-bottom: 0;
		}
	.preview_area .pl-auth-con{
		padding-bottom: 0.5rem;
		}
	.page-scheme .preview_area{
		margin-bottom: 0;
		padding-bottom: 0;
		}

.area_for_button{
	display: block;
	cursor: pointer;
	padding: 0 0 0.5rem;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	border: 1px dashed transparent;
	}

.theme--dark .area_for_button{
	border-color: #616161;
}

	.area_for_button .area-button{
		margin-bottom: 0;
		border-color: transparent;
		padding-bottom: 0rem;
		min-height: 1.5rem;
		}

	.theme--dark .area_for_button .area-button{
	border-color: transparent;
}

	.page-scheme .area_for_button .area-button{
		padding-bottom: 0.5rem;
		}
	.area_for_button .area-description {

		display: block;
		font-size: 0.8em;

		color: transparent;
		}
	.theme--dark .area_for_button .area-description{
	color: hsl(0, 0%, 55%);
}
	.access-request .area_for_button .area-description {
		display: none;
		}
	.desc_prevw_list{
		padding:0.2rem 1rem;
		height: 2rem;
		overflow: hidden;
		text-overflow: ellipsis;
		}

		.desc_prevw_list .desc_item{

			margin-right: 1rem;
			}
			.preview_line-wrap{
				white-space: nowrap;
				}
		.desc_prevw_list .desc_item:after{
			content: " ";
			visibility: hidden;
			white-space: normal;
			}
			.desc_prevw_list .desc_item-imgcon{
				width: 1rem;
				height: 1rem;
				display: inline-block;
				margin-right: 0.3rem;
				position: relative;
				margin-top: -0.2rem;
				top: 0.2rem;
				background: transparent;
				border-radius: 50%;
			}
			.theme--dark .desc_prevw_list .desc_item-imgcon{
	background-color: #666;
}
			.desc_item-imgcon img{
				width: 1rem;
				height: 1rem;
				border-radius: 50%;
				}
	.area_for_button.surf_nav .area-button{
		border-color: transparent;
		background-image: none;
		background-color: transparent;
		}
	.theme--dark .area_for_button.surf_nav .area-button{
	border-color: transparent;
	background-color: transparent;
}
	.desc_prevw_list.list_loading{
		position: relative;
		}
	.desc_prevw_list.list_loading:after{
		left:1rem !important;
		top:0.5rem !important;

		}
	.page-scheme .area_for_button{
		margin-bottom: 0.5rem;
		padding-bottom: 0;
		}
		.page-scheme .area_for_button .area-description{
			display: none;
			}
.area-button{
	display: block;
	margin-bottom:1rem;
	padding: 0.5rem 1rem;

	border-radius: 0.6rem;


	border: 1px dashed transparent;



	color: transparent;

	}
.theme--dark .area-button{
	border-color: #616161;
	color: hsl(0, 0%, 70%);
}

	.no_arfb .area-button{
		cursor: pointer;
	}
	.button_selected .area-button{
		cursor: default;
		}
	.area_for_button:hover,
	.no_arfb .area-button:hover{
		background: transparent;
		border-color: transparent;
		border-top: 1px solid transparent;
		/*
		#5E5E5E;
		#545454), to(#4D4D4D));
		#474747;
		*/
		border-bottom: 1px solid transparent;
		background-image: linear-gradient(transparent,transparent);
		}
	.theme--dark .area_for_button:hover,
	.theme--dark .no_arfb .area-button:hover{
	background-color: #4f4f4f;
	border-color: transparent;
	border-top-color: #5E5E5E;
	border-bottom-color: #474747;
	background-image: linear-gradient(#545454,#4D4D4D);
}
	.area_for_button:active,
	.no_arfb .area-button:active{

		border-color:transparent;
		background-image: none;
		box-shadow: inset 0 0 10px 1px transparent;
		}
	.theme--dark .area_for_button:active,
	.theme--dark .no_arfb .area-button:active{
	border-color: transparent;
	box-shadow: inset 0 0 10px 1px #454545;
}
	.no_arfb .area-button.surf_nav{
		border-color: transparent;
		background-image: none;
		}
	.theme--dark .no_arfb .area-button.surf_nav{
	border-color: transparent;
}

	.area-button .area-description{
		min-height: 2rem;
		font-size: 0.8em;
		}
	.page-scheme .area-button .area-description{
		display: none;
		}
.arb-union {
	margin-bottom: 1rem;
	}
	.arb-union .area-button {
		margin-bottom: 0;
	}

	.arb-union .arb-ally {
		padding: 0.1rem 1rem;
		border: 1px dashed transparent;
		border-radius: 0.5rem;
		cursor: pointer;
		}

	.theme--dark .arb-union .arb-ally{
	border-color: transparent;
}
		.arb-union .arb-ally:hover {
			background: transparent;
			}
		.theme--dark .arb-union .arb-ally:hover{
	background-color: #555;
}
.button_selected{
	background-color: transparent;
	border: 1px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	cursor: default;
	}
.theme--dark .button_selected{
	background-color: #444;
	border-color: transparent;
	border-top-color: #404040;
	border-bottom-color: #555;
}
