a img{border:0;}
label{cursor:pointer;}


input[type=text],input[type=search],input[type=password]{
	padding:0.125rem;
	border: 0.0714rem  solid transparent;
	border-radius: 0.214rem;
	background:transparent;
	font-size: 1.15rem;
}


.theme--dark input[type=text],.theme--dark input[type=search],.theme--dark input[type=password]{border-color:#666;background-color:#ccc;}
input[type=text]:focus,input[type=search]:focus,input[type=password]:focus{
	outline:1px solid transparent;
}
.theme--dark input[type=text]:focus,.theme--dark input[type=search]:focus,.theme--dark input[type=password]:focus{outline-color:#a37b1b;}
input[type=submit],
input[type=button],
button{
	font-size: 1.15rem;
}

dl,dt,dd,h5{
	margin:0;
	padding:0;
}
ul{margin:0;padding:0;list-style:none;}
a{color:transparent;}
.theme--dark a{color:#d5d5d5;}

a[href]{
	border-bottom:1px solid transparent;
	color:transparent;
	text-decoration:none;
	}

.theme--dark a[href]{border-bottom-color:#737373;color:#ABABAB;}
	a[href]:hover{
		border-bottom-color:transparent;
		color:transparent;
		}
	.theme--dark a[href]:hover{border-bottom-color:#9C9C9C;color:#E6E6E6;}
	a[href]:active{
		color:transparent;
		}
	.theme--dark a[href]:active{color:#999;}
a[href='javascript:void(0)']{
	border-bottom-style:dotted;
}

h5{
	font-weight:400;
	font-size:1rem;
}

a.js-serv{
	white-space: nowrap;
	color: transparent;
	cursor: pointer;
	padding: 0.286rem;
	background: transparent;
	border: 0.08rem solid transparent;
	border-radius: 0.5rem;
	}

.theme--dark a.js-serv{color:hsl(0, 0%, 75%);background-color:#555;border-color:#4a4a4a;}
	a.js-serv:hover{
		background-color: transparent;
		border-color:transparent;
		}
	.theme--dark a.js-serv:hover{background-color:#4a4a4a;border-color:#434343;}
	a.js-serv:active{
		background-color: transparent;
		border-color:transparent;
		}
	.theme--dark a.js-serv:active{background-color:#444;border-color:#3a3a3a;}
	a.js-serv.surf_nav{
		background: transparent;
		color:transparent;
		}
	.theme--dark a.js-serv.surf_nav{background-color:#000;color:#eee;}

a.bbcode_artist,
a.bbcode_tag{
	border-bottom-style:dotted!important;
	text-decoration:none;
	cursor:pointer;
	}
	a.bbcode_artist:hover,
	a.bbcode_tag:hover{
		border-bottom-color:transparent   !important;
		}
	.theme--dark a.bbcode_artist:hover,
	.theme--dark a.bbcode_tag:hover{border-bottom-color:#9C9C9C   !important;}
	a.bbcode_artist:active,
	a.bbcode_tag:active{
		border-bottom-color:transparent  !important;
		}
	.theme--dark a.bbcode_artist:active,
	.theme--dark a.bbcode_tag:active{border-bottom-color:#999  !important;}
.hidden, [pv-when]{
	display:none !important;
}
a.desc{
	border-bottom-color:transparent !important;
	color:transparent;
}
.theme--dark a.desc{border-bottom-color:#5e5e5e !important;color:#666;}
	a.desc:hover{
		border-bottom-color:transparent !important;
		color:transparent;
		}
	.theme--dark a.desc:hover{border-bottom-color:#5a5a5a !important;color:#5e5e5e;}
