a img{border:0;}
label{cursor:pointer;}


input[type=text],input[type=search],input[type=password]{
	padding:0.125rem;
	border: 0.0714rem  solid #666;
	border-radius: 0.214rem;
	background:#ccc;
	font-size: 1.15rem;
}
input[type=text]:focus,input[type=search]:focus,input[type=password]:focus{
	outline:1px solid #a37b1b;
}
input[type=submit],
input[type=button],
button{
	font-size: 1.15rem;
}

dl,dt,dd,h5{
	margin:0;
	padding:0;
}
ul{margin:0;padding:0;list-style:none;}
a{color:#d5d5d5;}

a[href]{
	border-bottom:1px solid #737373;
	color:#ABABAB;
	text-decoration:none;
	}
	a[href]:hover{
		border-bottom-color:#9C9C9C;
		color:#E6E6E6;
		}
	a[href]:active{
		color:#999;
		}
a[href='javascript:void(0)']{
	border-bottom-style:dotted;
}

h5{
	font-weight:400;
	font-size:1rem;
}

a.js-serv{
	white-space: nowrap;
	color: hsl(0, 0%, 75%);
	cursor: pointer;
	padding: 0.286rem;
	background: #555;
	border: 0.08rem solid #4a4a4a;
	border-radius: 0.5rem;
	}
	a.js-serv:hover{
		background-color: #4a4a4a;
		border-color:#434343;
		}
	a.js-serv:active{
		background-color: #444;
		border-color:#3a3a3a;
		}
	a.js-serv.surf_nav{
		background: #000;
		color:#eee;
		}

a.bbcode_artist,
a.bbcode_tag{
	border-bottom-style:dotted!important;
	text-decoration:none;
	cursor:pointer;
	}
	a.bbcode_artist:hover,
	a.bbcode_tag:hover{
		border-bottom-color:#9C9C9C   !important;
		}
	a.bbcode_artist:active,
	a.bbcode_tag:active{
		border-bottom-color:#999  !important;
		}
.hidden{
	display:none !important;
}
a.desc{
	border-bottom-color:#5e5e5e !important;
	color:#666;
}
	a.desc:hover{
		border-bottom-color:#5a5a5a !important;
		color:#5e5e5e;
		}

		



.navs .nav-title{
	display:block;
	overflow:hidden;
	padding-top:5px;
	padding-left:10px;
	
	height:20px;
	text-overflow: ellipsis;
	white-space:nowrap;
	line-height:20px; 
}
.nav-item.hidden{
	display:none;
}
.nav-item{
	display:inline-block;
	overflow: hidden;
	margin-left:1rem;
	padding:4px 0;
	height:20px;
	border-top:1px solid transparent;
	line-height:20px;
  	-webkit-transition: margin-left 0.1s ease-out;  
  	-moz-transition: margin-left 0.1s ease-out; 
  	-o-transition: margin-left 0.1s ease-out; 
  	transition: margin-left 0.1s ease-out; 
}
	.nav-item span{
		display:block;
		overflow:hidden;
		height:1.72rem;
		text-overflow: ellipsis;
		white-space: nowrap;
		line-height:20px;
		}
	.nav-item b{
		display:none;
	}
	.nav-item .icon{
		overflow: hidden;
		width:20px;
		background: no-repeat;
		text-indent: -200px;
	}
.nav-button{
	display: inline-block;
	padding:4px 8px;
	border-radius:6px;
	cursor:pointer;
}	
.nnav, .nav-button{

	position:relative;
	overflow: visible;
	border-top:1px solid #777;
	border-right:1px solid #333;
	border-bottom:1px solid #111;
	background:url(../i/nav/button-gradient.png) repeat-x 100% 0;
	background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/menu-nf.svg","part":"menu-part-rect"}');
	
	text-shadow:0 1px 0 #000;
	
}

.nnav{
	
	margin-right:10px;
	
	padding:4px 1rem 4px 9px;
	min-width: 15px;
	-webkit-border-radius:0 6px 6px 0;
	-moz-border-radius:0 6px 6px 0;
	border-radius:0 6px 6px 0;
	}
	.nnav b{
		position:absolute;
		top:-0;
		left:-15px;
		z-index:2;
		display:inline;
		width:17px;
		height:28px;
		
		background:url(../i/nav/button-arrow.png) no-repeat 0 0;
		background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/menu-nf.svg"}');
		}

.nnav:after, .nav-button:after{
	position:absolute;right:0;
	bottom:-2px;
	left:0;
	display:block;
	height:28px;
	border-bottom:1px solid #444;
	border-radius:0 0 6px 0;
	content: " ";
}
.nav-button:after{
	border-radius:0 0 6px 6px !important;
}
.nav_clickable{
	cursor: pointer;
}
.nnav.nav_clickable:hover,.nav-button:hover{
	background-image:url(../i/nav/button-gradient-hover.png);
	background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/menu-nf.svg","part":"menu-part-rect", "state":"hover-state"}');
	color:#fff;
	}
	.nnav.nav_clickable:hover b{
		background-image:url(../i/nav/button-arrow-hover.png) ;
		background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/menu-nf.svg", "state":"hover-state"}');
		}
.nnav.nav_clickable:active, .nav-button:active{
	border-top-color: #666;
	background-image:url(../i/nav/button-gradient-active.png);
	background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/menu-nf.svg","part":"menu-part-rect", "state":"active-state"}');
	text-shadow:none;
	
	}
	.nnav.nav_clickable:active b{
		background-image:url(../i/nav/button-arrow-active.png) ;
		background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/menu-nf.svg", "state":"active-state"}');
		}
.nnav.surf_nav, .nav-button.surf_nav{
	border-top-color: #555;
	background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/menu-nf.svg","part":"menu-part-rect", "state":"surf_nav-state"}');
	}
	.nnav.surf_nav b{
		background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/menu-nf.svg", "state":"surf_nav-state"}');
		}
		

.stack-top{
	width:48px !important;
	}


.stack-middle, .stack-top, .stack-bottom{
	margin-left:-42px;
	}

	
.stack-bottom, .stack-middle{
	max-width:15px;
	}

.stacked{
	margin-right: 37px !important;
	
}





.people-list-item{
	overflow: hidden;
	}
	.people-list-item .desc{
		display:block;
		font-size:0.8rem;
		line-height:1.4;
	}
	.people-image{
		float:left;
		margin-right:1rem;
	}
	.people-image img{
		width: 50px;
		height: 50px;
		}

