a img{border:0;}
label{cursor:pointer;}


input[type=text],input[type=search],input[type=password]{
	padding:0.125rem;
	border: 0.0714rem  solid #666;
	border-radius: 0.214rem;
	background:#ccc;
	font-size: 1.15rem;
}
input[type=text]:focus,input[type=search]:focus,input[type=password]:focus{
	outline:1px solid #a37b1b;
}
input[type=submit],
input[type=button],
button{
	font-size: 1.15rem;
}

dl,dt,dd,h5{
	margin:0;
	padding:0;
}
ul{margin:0;padding:0;list-style:none;}
a{color:#d5d5d5;}

a[href],a.js-serv{
	border-bottom:1px solid #737373;
	color:#ABABAB;
	text-decoration:none;
	}
	a[href]:hover,a.js-serv:hover{
		border-bottom-color:#9C9C9C;
		color:#E6E6E6;
		}
	a[href]:active,a.js-serv:active{
		color:#999;
		}
a[href='javascript:void(0)']{
	border-bottom-style:dotted;
}

h5{
	font-weight:400;
	font-size:1rem;
}
a.js-serv,
a.bbcode_artist,
a.bbcode_tag{
	border-bottom-style:dotted!important;
	text-decoration:none;
	cursor:pointer;
	}
	a.js-serv:hover,
	a.bbcode_artist:hover,
	a.bbcode_tag:hover{
		border-bottom-color:#9C9C9C   !important;
		}
	a.js-serv:active,
	a.bbcode_artist:active,
	a.bbcode_tag:active{
		border-bottom-color:#999  !important;
		}
.hidden{
	display:none !important;
}
a.desc{
	border-bottom-color:#5e5e5e !important;
	color:#666;
}
	a.desc:hover{
		border-bottom-color:#5a5a5a !important;
		color:#5e5e5e;
		}

		



.navs .nav-title{
	display:block;
	overflow:hidden;
	padding-top:5px;
	padding-left:10px;
	
	height:20px;
	text-overflow: ellipsis;
	white-space:nowrap;
	line-height:20px; 
}
.nav-item.hidden{
	display:none;
}
.nav-item{
	display:inline-block;
	overflow: hidden;
	margin-left:1rem;
	padding:4px 0;
	height:20px;
	border-top:1px solid transparent;
	line-height:20px;
  	-webkit-transition: margin-left 0.1s ease-out;  
  	-moz-transition: margin-left 0.1s ease-out; 
  	-o-transition: margin-left 0.1s ease-out; 
  	transition: margin-left 0.1s ease-out; 
}
	.nav-item span{
		display:block;
		overflow:hidden;
		height:1.72rem;
		text-overflow: ellipsis;
		white-space: nowrap;
		line-height:20px;
		}
	.nav-item b{
		display:none;
	}
	.nav-item .icon{
		overflow: hidden;
		width:20px;
		background: no-repeat;
		text-indent: -200px;
	}
.nav-button{
	display: inline-block;
	padding:4px 8px;
	border-left:1px solid #751679;
	border-radius:6px;
}	
.nnav, .nav-button{

	position:relative;
	overflow: visible;
	border-top:1px solid #C16CC6;
	border-right:1px solid #751679;
	border-bottom:1px solid #580A5C;
	background:url(../i/nav/button-gradient.png) repeat-x 100% 0;
	
	text-shadow:0 1px 0 #000;
	cursor:pointer;
}

.nnav{
	
	margin-right:10px;
	
	padding:4px 1rem 4px 9px;
	min-width: 15px;
	-webkit-border-radius:0 6px 6px 0;
	-moz-border-radius:0 6px 6px 0;
	border-radius:0 6px 6px 0;
	}
	.nnav b{
		position:absolute;
		top:-1px;
		left:-15px;
		z-index:2;
		display:inline;
		width:15px;
		height:30px;
		
		background:url(../i/nav/button-arrow.png) no-repeat 0 0;
		}

.nnav:after, .nav-button:after{
	position:absolute;right:0;
	bottom:-2px;
	left:0;
	display:block;
	height:28px;
	border-bottom:1px solid #783B7D;
	border-radius:0 0 6px 0;
	content: " ";
}
.nav-button:after{
	border-radius:0 0 6px 6px !important;
}

.nnav:hover,.nav-button:hover{
	background-image:url(../i/nav/button-gradient-hover.png);
	color:#fff;
	}
	.nnav:hover b{
		background-image:url(../i/nav/button-arrow-hover.png) ;
		}
.nnav:active, .nav-button:active{
	background-image:url(../i/nav/button-gradient-active.png);
	text-shadow:none;
	
	}
	.nnav:active b{
		background-image:url(../i/nav/button-arrow-active.png) ;
		}
		

.stack-top{
	width:48px !important;
	}


.stack-middle, .stack-top, .stack-bottom{
	margin-left:-42px;
	}
	.stack-middle > b, .stack-top > b, .stack-bottom > b{
		top: 0;
		background-position:0 -1px;
		}	
	
.stack-bottom, .stack-middle{
	max-width:15px;
	}

.stacked{
	margin-right: 37px !important;
	
}





.people-list-item{
	overflow: hidden;
	}
	.people-list-item .desc{
		display:block;
		font-size:0.8rem;
		line-height:1.4;
	}
	.people-image{
		float:left;
		margin-right:1rem;
	}

