a img{border:0;}
label{cursor:pointer;}


input[type=text],input[type=search],input[type=password]{
	padding:0.125rem;
	border: 0.0714rem  solid #666;
	border-radius: 0.214rem;
	background:#ccc;
	font-size: 1.15rem;
}
input[type=text]:focus,input[type=search]:focus,input[type=password]:focus{
	outline:1px solid #a37b1b;
}
input[type=submit],
input[type=button],
button{
	font-size: 1.15rem;
}

dl,dt,dd,h5{
	margin:0;
	padding:0;
}
ul{margin:0;padding:0;list-style:none;}
a{color:#d5d5d5;}

a[href]{
	border-bottom:1px solid #737373;
	color:#ABABAB;
	text-decoration:none;
	}
	a[href]:hover{
		border-bottom-color:#9C9C9C;
		color:#E6E6E6;
		}
	a[href]:active{
		color:#999;
		}
a[href='javascript:void(0)']{
	border-bottom-style:dotted;
}

h5{
	font-weight:400;
	font-size:1rem;
}

a.js-serv{
	white-space: nowrap;
	color: hsl(0, 0%, 75%);
	cursor: pointer;
	padding: 0.286rem;
	background: #555;
	border: 0.08rem solid #4a4a4a;
	border-radius: 0.5rem;
	}
	a.js-serv:hover{
		background-color: #4a4a4a;
		border-color:#434343;
		}
	a.js-serv:active{
		background-color: #444;
		border-color:#3a3a3a;
		}
	a.js-serv.surf_nav{
		background: #000;
		color:#eee;
		}

a.bbcode_artist,
a.bbcode_tag{
	border-bottom-style:dotted!important;
	text-decoration:none;
	cursor:pointer;
	}
	a.bbcode_artist:hover,
	a.bbcode_tag:hover{
		border-bottom-color:#9C9C9C   !important;
		}
	a.bbcode_artist:active,
	a.bbcode_tag:active{
		border-bottom-color:#999  !important;
		}
.hidden, [pv-when]{
	display:none !important;
}
a.desc{
	border-bottom-color:#5e5e5e !important;
	color:#666;
}
	a.desc:hover{
		border-bottom-color:#5a5a5a !important;
		color:#5e5e5e;
		}
