.buttmen{
	position:relative;
	width:25px;
	height:1.72rem;
	
	}
	.buttmen a{
		border:0;
		text-decoration:none;
	}
	.buttmen .buttmen-mask{
		position:absolute;
		top:-2px;
		left:-3px;
		z-index:-1;
		width:29px;
		height:28px;
		background: url(../i/white-black-dots.png) no-repeat ;
	}
	.buttmen .main-button{
		display:block;
		width:25px;
		height:1.72rem;
		}
.buttmen-highlighting{
	
	}
	.buttmen-highlighting .buttmen-mask{
		display:none;
	}
	.buttmen-highlighting .buttmen-hlts{
		display:block;
	}
	
.buttmen-butting{
	
	}
	.buttmen-butting .buttmen-mask{
		display:none;
	}
	.buttmen-butting .buttmen-butts{
		display:block;
		}	
		
		
.buttmen-butts{
	display:none;
	
	}
	.buttmen-butts li{
		position:absolute;
		top:0;
		left:0;
		width:25px;
		height:1.72rem;
	}
	.buttmen-butts .buttmen-butt-top{
		top:-28px;
		
		}
	.buttmen-butts .buttmen-butt-right{
		right:-28px;
		left:auto;
		}
	.buttmen-butts .buttmen-butt-bottom{
		top:auto;
		bottom:-28px;
		}
	.buttmen-butts .buttmen-butt-left{
		right:auto;
		left:-29px;
		}
.buttmen-hlts{
	display:none;
	}
	.buttmen-hlts li{
		position:absolute;
		top:0;
		left:0;
		width:1.72rem;
		height:1.72rem;
		background:url(../i/white-dot.png) no-repeat 50% 50%;
		text-align:center;
		opacity:0.5;
	}
	.buttmen-hlts .buttmen-hlt-top{
		top:-1.72rem;
		
		}
	.buttmen-hlts .buttmen-hlt-right{
		right:-1.72rem;
		left:auto;
		}
	.buttmen-hlts .buttmen-hlt-bottom{
		top:100%;
		bottom:-1.72rem;
		}
	.buttmen-hlts .buttmen-hlt-left{
		left:-25px;
		}


/*
<dl class="buttmen play-controls">
	<dt class="main-button">
		<a class="pc pc-add "  title="add to playlist">
		</a>
		
		<span class="buttmen-mask"></span>
	</dt>
	<dd class="buttmen-hlts">
		<ul>
			<li class="buttmen-hlt-top"></li>
			<li class="buttmen-hlt-right"></li>
			<li class="buttmen-hlt-bottom"></li>
			<li class="buttmen-hlt-left"></li>
		</ul>
	</dd>
	<dd class="buttmen-butts">
		<ul>
			<li class="buttmen-butt-top">
				<a class="pc pc-prev" ></a>
			</li>
			<li class="buttmen-butt-right">
				<a class="pc pc-stop"></a>	
			</li>
			<li class="buttmen-butt-bottom">
				<a class="pc pc-next"></a>
			</li>
			<li class="buttmen-butt-left">
				<a class="pc pc-play" ></a>
			</li>
		</ul>
	</dd>
</dl>

.play-controls{
	display:none;
	
}

	.play-control{
		display:inline-block;
		padding:0;
		width:16px;
		height:16px;
		border:0  !important;
		background: transparent no-repeat 0 0;
		cursor:pointer;
		}
		.play-control:hover,.play-control.hover{
			background-image:url(../i/buttons_hover.png) ;
			}
		.play-control:active{
			background-image:url(../i/buttons_active.png) !important;
			}
.player-paused .playing-song .play-control.pause,
.player-stopped .playing-song .play-control.stop,
.player-played .playing-song .play-control.play{
	background-image:url(../i/buttons_active.png) !important;
}




.play-control.pause{
	display:inline-block;
	}

.tracks-for-play .play-controls{
	position:absolute;
	top:0;
	right:115px;
	
	z-index:7;
	margin-top:5px;
}

li.playing-song .play-controls{
	
}

.show-zoom-to-track ul.tracks-for-play .play-controls{
	display:none;
}
*/