.pc{
	display:inline-block;
	padding:0;
	width:26px;
	height:26px;
	border:0  !important;
	background: transparent no-repeat;
	cursor:pointer;
}

.pc.surf_nav{
	background-color: transparent;
	}


.pc-add{
	background-image:url(../i/buttons/pc-m-add-l.png);
	background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/all.size26.original.svg","state":"link-icon-state","part":"add-button"}');
	}
	.pc-add:hover{
		background-image:url(../i/buttons/pc-m-add-h.png);
		background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/all.size26.original.svg","state":"hover-icon-state","part":"add-button"}');
		}
	.pc-add:active{
		background-image:url(../i/buttons/pc-m-add-a.png);
		background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/all.size26.original.svg","state":"active-icon-state","part":"add-button"}');
		}
	.pc-add.surf_nav{
		background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/all.size26.original.svg","state":"surf_nav-icon-state","part":"add-button"}');
	}
.pc-remove{
	background-image:url(../i/buttons/pc-m-remove-l.png);
	}
	.pc-remove:hover{
		background-image:url(../i/buttons/pc-m-remove-h.png);
		}
	.pc-remove:active{
		background-image:url(../i/buttons/pc-m-remove-a.png);
		}

.pc-rupor{
	background-image:url(../i/buttons/pc-m-rupor-l.png);
	background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/all.size26.original.svg","state":"link-icon-state","part":"rupor-button"}');
	}
	.pc-rupor:hover{
		background-image:url(../i/buttons/pc-m-rupor-h.png);
		background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/all.size26.original.svg","state":"hover-icon-state","part":"rupor-button"}');
		}
	.pc-rupor:active{
		background-image:url(../i/buttons/pc-m-rupor-a.png);
		background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/all.size26.original.svg","state":"active-icon-state","part":"rupor-button"}');
		}
	.pc-rupor.surf_nav{
		background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/all.size26.original.svg","state":"surf_nav-icon-state","part":"rupor-button"}');
		}
.pc-love{
	background-image:url(../i/buttons/pc-m-love-l.png);
	background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/all.size26.original.svg","state":"link-icon-state","part":"love-button"}');
	}
	.pc-love:hover{
		background-image:url(../i/buttons/pc-m-love-h.png);
		background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/all.size26.original.svg","state":"hover-icon-state","part":"love-button"}');
		}
	.pc-love:active{
		background-image:url(../i/buttons/pc-m-love-a.png);
		background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/all.size26.original.svg","state":"active-icon-state","part":"love-button"}');
		}
	.pc-love.surf_nav{
		background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/all.size26.original.svg","state":"surf_nav-icon-state","part":"love-button"}');
		}
.pc-stop{
	background-image:url(../i/buttons/pc-m-stop-l.png);
	}
	.pc-stop:hover{
		background-image:url(../i/buttons/pc-m-stop-h.png);
		}
	.pc-stop:active{
		background-image:url(../i/buttons/pc-m-stop-a.png);
		}

.pc-tag{
	background-image:url(../i/buttons/pc-m-tag-l.png);
	background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/all.size26.original.svg","state":"link-icon-state","part":"tag-button"}');
	}
	.pc-tag:hover{
		background-image:url(../i/buttons/pc-m-tag-h.png);
		background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/all.size26.original.svg","state":"hover-icon-state","part":"tag-button"}');
		}
	.pc-tag:active{
		background-image:url(../i/buttons/pc-m-tag-a.png);
		background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/all.size26.original.svg","state":"active-icon-state","part":"tag-button"}');
		}
	.pc-tag.surf_nav{
		background-image: url('data:text/plain;utf8,svg-hack,{"file":"i/all.size26.original.svg","state":"surf_nav-icon-state","part":"tag-button"}');
		}
.pc-next{
	background-image:url(../i/buttons/pc-m-next-l.png);
	}
	.pc-next:hover{
		background-image:url(../i/buttons/pc-m-next-h.png);
		}
	.pc-next:active{
		background-image:url(../i/buttons/pc-m-next-a.png);
		}
.pc-prev{
	background-image:url(../i/buttons/pc-m-prev-l.png);
	}
	.pc-prev:hover{
		background-image:url(../i/buttons/pc-m-prev-h.png);
		}
	.pc-prev:active{
		background-image:url(../i/buttons/pc-m-prev-a.png);
		}

.play-button-place.surf_nav{
	background-color: transparent;
	}
.nicebutton:active,.nicebutton:focus{
	outline:0;
}
.disabledbutton, .nicebutton{
	display:block;
	padding:3px 11px;
	border-top:1px solid transparent;
	border-bottom: 1px solid transparent;
	border-radius:11px;
	text-decoration:none;
	font-style:normal;
}
.get-vk-photo-request-b{
	width: 15rem;
	}


.button-hole{
	display:inline-block;

	border-top:1px solid #474747;
	border-bottom:1px solid #676767;
	border-radius:11px;
	background:#555;
	font: Arial, sans-serif;
	font-size: 1rem;
	}

	.button-hole:hover{
		background-color:#4a4a4a;
		}


.nicebutton{
	border-top:1px solid #626262;
	border-right: 0;
	border-bottom:1px solid #3D3D3D;
	border-left: 0;
	background-image: linear-gradient(#5a5a5a,#4a4a4a);
	color:#aaa;
	cursor:pointer;

	}
	.nicebutton:hover{
		background-image: linear-gradient(#5a5a5a,#444);
		}

.has-dark-buttons{

	}
	.has-dark-buttons .button-hole{
		border-bottom-color:#595959;
		background-image: linear-gradient(#575757,#4D4D4D);
		}
	.has-dark-buttons .nicebutton{

		}
		.has-dark-buttons .nicebutton:hover{

			}
.nicebutton.surf_nav{
	border-color: transparent;
	background-image: none;
	}
.disabledbutton{
	background:#595959;
	color:#777;
}

.nicebutton:active{
	box-shadow:inset 0 0 10px 1px #111;
	}
	.nicebutton:active{
		padding-top:4px;
		padding-bottom:4px;
		border-width:0;
		border-color:transparent;
	}


.bposition-l, .bposition-l .nicebutton, .bposition-l .disabledbutton{
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}
.bposition-l .nicebutton, .bposition-l .disabledbutton{
	border-right:1px solid #474747;
}

.bposition-r, .bposition-r .nicebutton, .bposition-r .disabledbutton{
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}
.bposition-r .nicebutton, .bposition-r .disabledbutton{
	border-left:1px solid #555;
}




.details_switch{

		border-radius: 0.3rem;
		width: 100px;
		display: inline-block;
		text-align: center;
		font-size: 0;
		}
	.min_details, .max_details{
		cursor: pointer;
		height: 1.5rem;
		line-height: 1.5rem;
		box-sizing:border-box;
		border: 0.125rem solid #454545;
		float:left;
		width: 50%;
		position: relative;
		background-image: linear-gradient(#535353,#4B4B4B);
	}
	.min_details:hover,.max_details:hover{
		background-image: linear-gradient(#666,#555);
		}
	.min_details:active,.min_details.active,.max_details:active,.max_details.active{
			box-shadow: inset 0 0 10px 1px #3F3F3F;
		}
	.min_details:after, .max_details:after{
		content: "";
		height: 1px;
		width: 100%;
		position: absolute;
		bottom:-.125rem;
		left:0;
		border-bottom:  0.125rem solid #5C5C5C;
		}
		.min_details:after{
			border-radius: 0 0 0 0.3rem;
			}

		.max_details:after{
			border-radius: 0 0 0.3rem 0 ;
			}
	.min_details .icon, .max_details .icon{
		display: inline-block;

		border: 0.2rem solid #333;
		vertical-align: middle;
		box-sizing: border-box;
	}

	.min_details{
		border-radius: 0.3rem 0 0 0.3rem;
		}
		.min_details .icon{
			height: 0.4rem;
			width: 0.9rem;
			}
	.max_details{
		border-radius: 0 0.3rem 0.3rem 0;
		border-left: 0;
		}
		.max_details .icon{
			height: 0.8rem;
			width: 1.2rem;
			}
