body{
	margin:0;
	padding:0;
	color:#E6E6E6;
	
	height:596px;
	line-height:1.5;
	font-size:14px;
	font-family:Helvetica , Arial ,sans-serif;
	}
body.slice-for-height{
	overflow:hidden;
}
.not-as-application body{
	background-color: #505050;
	
	
}
.not-as-application .slider-materail{
	padding-bottom:15px;
}

a img{border:0;}
label{cursor:pointer}
input[type=text],input[type=search],input[type=password]{
	background:#b2b2b2;
	border: 1px solid #666;
	padding:2px;
	font-size: 1.15em;
}
input[type=text]:focus,input[type=search]:focus,input[type=password]:focus{
	outline:1px solid #a37b1b;
}
input[type=submit],
input[type=button],
button{
	font-size: 1.15em;
}

dl,dt,dd,h5{
	margin:0;
	padding:0;
}
ul{list-style:none;padding:0;margin:0;}
a{color:#d5d5d5;}

a[href],a.js-serv{
	color:#ABABAB;
	text-decoration:none;
	border-bottom:1px solid #737373;
	}
	a[href]:hover,a.js-serv:hover{
		color:#E6E6E6;
		border-bottom-color:#9C9C9C;
		}
	a[href]:active,a.js-serv:active{
		color:#999;
		}
a[href='javascript:void(0)']{
	border-bottom-style:dotted;
}

h5{
	font-size:1em;
	font-weight:400;
}
a.js-serv,
a.bbcode_artist,
a.bbcode_tag{
	cursor:pointer;
	text-decoration:none;
	border-bottom-style:dotted!important;
	}
	a.js-serv:hover,
	a.bbcode_artist:hover,
	a.bbcode_tag:hover{
		border-bottom-color:#9C9C9C   !important;
		}
	a.js-serv:active,
	a.bbcode_artist:active,
	a.bbcode_tag:active{
		border-bottom-color:#999  !important;
		}
.hidden{
	display:none;
}
a.desc{
	color:#666;
	border-bottom-color:#5e5e5e !important;
}
	a.desc:hover{
		color:#5e5e5e;
		border-bottom-color:#5a5a5a !important;
		}
		
		
.row-context{
	position:relative;
}		
.row-song-context, .row-listeners-context{
	margin-bottom:14px;
	border-top: 1px solid #555555;
	border-bottom: 1px solid #6e6e6e;
	background: #5a5a5a;
	margin: 5px -13px 24px;
	padding: 0 13px 14px;
}
.row-listeners-context{
	margin-top:15px;
}
.big-listener-info{
	overflow:hidden;
	padding-top:12px;
}
	
	
	
	
#sm2-container{
	bottom:10px;
	right:20px;
}
#close-widget{
	position:absolute;
	top:5px;
	cursor:pointer;
	right:8px;
	font-size:16px;
	color:#ffffff;
	font-family:"Trebuchet MS", sans-serif;
	height:25px;
	font-size:1.4em;
	line-height:25px;
	}
	
	#close-widget:hover{
		color:#E52573;
	}
	#close-widget:active{
		color:#F4AF16;
	}
.background-changes{
	height:200px;
}


.needs-cross-domain{
	display:none;
}
.cross-domain-allowed .needs-cross-domain{
	display:block;
}
.cross-domain-allowed span.needs-cross-domain{
	display:inline;
}
.cross-domain-allowed .no-needs-cross-domain{
	display:none;
}


	.lfm-auth{
		display:none;
		padding-left:20px;
		line-height:1.5;
		}
		
.lfm-finish{
	opacity:0.3;
	display:none;
}
.deep-sandbox .lfm-finish{
	display:block;
}
.lfm-finish .lfm-code{
	width: 314px;
	margin-right: 24px;
}
.lfm-waiting-for-finish .lfm-finish{
	opacity:1;
}
.lfm-auth p{
	margin:0.3em 0;
	}
.lfm-auth .real-lfm-auth-part{
	margin-bottom: 20px;
	margin-bottom:20px;
}
.login-lastfm-button{
	float:right;
}
.lfm-auth form{
	margin-bottom:2.5em;
	padding-bottom:1em;
	}
	.lfm-start{
		border-top:1px solid #666;
	}
.lfm-auth-req-recomm
.lfm-recomm
.lfm-auth{
display:block;
}
.lfm-auth-req-loved
.lfm-loved
.lfm-auth{
display:block;
}
.lfm-auth-done
#slider
.lfm-start
.lfm-auth{
display:none;
}
	
.search-start{
	margin-bottom:1em;
	}
	.search-start
	form{
		margin:0;
		}
		.window-bottom{
			height:20px;
			position:absolute;
			bottom:0;
			width: 20px;
			right:0;
			text-align:right;
			overflow:hidden;
			z-index:20;
			}
			#resize-handle{
				position:absolute;
				bottom:3px;
				right:3px;
				cursor: se-resize;
				-apple-dashboard-region: dashboard-region(control rectangle 0 0 0 0);
				}
.track-context{
	padding:0 8px 10px;
	margin-top:6px;
	min-height: 383px;
}
.artist-info{overflow:hidden;}
.artist-info .image{
	margin-right:13px;
	margin-bottom:7px;
	width: 126px;
	position:relative;
	}
	.artist-info .image:hover{
		z-index:3;
	}
@media (max-width:550px) {
	.daddy .stack-bottom, .daddy .stack-middle{
		display:none;
	}
	.daddy .stack-top{
		margin-left:0;
		}
		.daddy .stack-top > b{
			top:-1px;
			background-position:0 0;
			}
}
@media (min-width:600px) {
	.artist-info .image{
		float:left;
	}
	
	.artist-info .image img.artist-image{
		position:absolute;
	}
	.desc-name{
		float:left;
		min-height:1.5em;
		width:126px;
		text-align:right;
	}
	.desc-text{
		overflow:hidden;
		display: table-cell;
	}
	.desc-text2{
		overflow:hidden;
	}
	.track-files .files-source{
		float:right;
		
	}
}

.play-list-holder{
	padding-top:0;
	line-height:1.4em;
	position:relative;
}
	
.tracks-for-play{
	clear:both;
	}
	ul.tracks-for-play.tracks-c.loading{
		background: url(../i/spinner.gif) no-repeat 4px 10px;
		padding-top: 38px;
	}
	ul.tracks-for-play > li{
		margin: 0 0 3px 0;
		position:relative;
		}
.artist-image.freeze-this-image{
	visibility:hidden;
}

.artist-image{
	width:126px;
	display:none;
	}
	.artist-image[src]{
		display:block;
	}

.artist-info .artist-tags, .artist-info .artist-similar{
	position:relative;
	height:1.55em;
}
.artist-bio{
	line-height:1.5em;
	overflow:hidden;
	position:relative;
	top:-3px;
	height:1.55em;
	
	}
	
	@media (min-height:700px) {
		.artist-bio{
			height:4.7em;
		}
		.track-info-dominator{
			
			min-height:237px;
		}
		.track-context{
			
			min-height: 420px;
		}
	}
	
	
	.artist-similar a.artist{
		margin-right:8px;
		}
	
	.artist-tags a.music-tag{
		margin-right:6px;
		}
.artist-meta-info{
	overflow:hidden;
	clear:left;
	position:relative;
	z-index:2;
	}
	.artist-meta-info .desc-name{
		
		}
		.artist-meta-info .desc-name em {
			font-style:normal;
			background:#5a5a5a;
			padding:3px 0 3px 5px;
			border-radius: 4px 0 0 4px;
		}

.artist-info .forced-end{
	position:absolute;
	bottom: 0;
	right: 0;
	
	height:1.7em;
	background:url(../i/img_forced_end.png) repeat-y 0 0;
	width:76px;
}
.track-info-dominator{
	border-top:1px solid #555555;
	border-bottom:1px solid #6e6e6e;
	background:#5a5a5a;
	margin:5px -13px 0;
	padding: 0 0 14px;
	min-height:200px;
	}	
	.track-info-dominator > .vk-login-context, .track-context > .vk-login-context{
		border-radius:0;
		margin:5px -13px 24px;
		}	
	.track-info-dominator .dominator-head{
			overflow:hidden;
			padding:0 13px;
		}
		.track-info-dominator .dominator-head .closer-to-track{
			padding-top:7px;
		}
	.track-context .extend-switcher{
		border:0;
		padding: 7px;
		margin-left:-7px;
		margin-bottom:5px;
		display: inline-block;
		border-radius: 0 0 6px 6px;
		color:#808080;
		text-shadow: 0 1px 0 #4A4A4A;
		}
		.track-context .extend-switcher .big-space{
			border-bottom: 1px dotted #696969;
			padding-bottom: 1px;
		}

		
		.track-context .extend-switcher:hover{
			background-color:#555;
			}
			.track-context .extend-switcher:hover .big-space{
				border-bottom-color:transparent; 
				}
		.track-context .want-more-info .extend-switcher{
			text-shadow:0;
		}
		.track-context .want-more-info .extend-switcher:hover{
			background-color:#585858;
		}
			
	.track-info-dominator .extending-info{
		display:none;
		}	
	.track-info-dominator .artist-info, .track-info-dominator .track-info{
		padding:0 13px;
		
	}	
	.track-info-dominator .track-info{
		margin-top:14px;
	}
	
	
	
	.want-more-info .extending-info{
		display:block;
		}	
	.track-context .want-more-info .artist-bio,
	.track-context .want-more-info .artist-tags,
	.track-context .want-more-info .artist-similar{
		height:auto;
		}
	.track-context .want-more-info .forced-end{
		display:none;
		}

	.track-context .want-more-info .image img.artist-image{
		position:static;
	}

	
.artist-name{
	overflow:hidden;
	padding-bottom:2px;
}
.artist-albums, .artist-similar,.artist-tags{
	overflow: hidden;
	padding: 2px 0;
	margin: 6px 0;
	
}		
.desc-name{
	margin-right: 13px;
}
.artist-albums .desc-name{
	float:left;
}
.desc-text{
	padding-bottom:2px;
}	

#playlist-level h3{
	margin-top:0
	}
	#playlist-level h3 a{
		font-size:0.8em;
		margin-left:6px;
		display: inline-block;
	}

	
#slider-materail{
	background:#505050;
	z-index:2;
}


#promo{
	font-size:0.8em;
	height:10px;
	padding-left:18px;
	color:#999;
}
	#promo a{
		background:#505050;
		padding: 1px 6px;
		border-radius: 5px;
		}
		#promo a:hover{
			color:#222;
			background:#fff;
			border:1px solid #eee  !important;
		}
.lfm-auth-done #scrobbling-switches{ 
	opacity:1;
	}
.lfm-auth-done .lfm-granting{
	display:none
}
#scrobbling-switches{
	opacity:0.3;
	
	}
#search #q{
	width:100%;
	height:26px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.users-play-this{
	overflow:hidden;
	
}

.users-play-this li{
	overflow:hidden;
	float:left;
	height:75px;
	width:250px;
	margin-bottom:15px;
	line-height:1.5;
}
	.users-play-this li .vk-ava{
		float:left;
		margin:0 14px 0 0;
		padding:0;
	}
	.users-play-this li .vk-ava img{
		
		background:#5C5C5C;
		padding:2px;
		border-radius:2px;
	}
	.metro-tracks{
		margin-bottom:44px;
		overflow:hidden
	}
	.metro-tracks li{
		overflow:hidden;
		margin-bottom:14px;
		float:left;
		width:50%
	}
	.metro-tracks li img{
		float:left;
		margin-right:14px;
		width:32px;
		height:32px;
	}
.block-for-startpage.loading{
	background: url(../i/spinner_small.gif) no-repeat 100% 4px;
	min-height:30px;
}
.block-for-startpage h3{
	margin:0 0 18px;
	overflow:hidden;
	line-height:1.5;
}
.block-for-startpage h3 a.js-serv{
	margin-left:24px;
	font-size:12px;
}


.tags-hyped{
	overflow:hidden;
	text-align: justify;
	line-height: 2;
	margin-top: 50px;
	}
	.tags-hyped h3{
		margin-bottom:10px;
	}
	.tags-hyped .hyped-tag{
		margin-right:15px;
		}

#search #search-p{
	margin:10px 0 5px;
	overflow:hidden;
	}
	#search #search-p label span.lbl{
		float:left;
		width:59px;
		margin-right:1px;
		padding-top:4px;
		font-style:normal;
		height: 26px;
	}
	#search #search-p label span.loading{
		background: url(../i/spinner_small.gif) no-repeat 100% 50%;
	}
	#search #search-p label span.inpt{
		overflow:hidden;
		display:block;
		padding:2px;
	}
.desc, .search-desc{
	color:#999;
}
.search-desc {
	padding-left:60px;
	font-size:0.9em;
	
	margin-top:0;
}

#update-star{
	position:relative;
	bottom:-4px;
	border-bottom:0  !important;
}
#screens{
	clear:left;
}
.arrow-part{
	position: absolute;
	width: 0;
	height: 0;
	font-size: 0;
}
	.rc-s-arrow,.tl-arrow {		
		margin-left: -11px;
		top: -22px;
		border: 11px solid;
		border-color: transparent   transparent  #555 transparent ;
		}
		.rc-s-arrow-bg,.tl-arrow-bg {
			top: -10px;
			left: -11px;
			border: 11px solid;
			border-color: transparent transparent #5A5A5A transparent  ;
			}
	.tl-arrow{
		margin-left:0;
	}	

.triangle {
	position: absolute;
	width: 21px;
	height:17px;
	background:url(../i/triangle.png) no-repeat 50% 0;
	left: 15px;
	top: -7px;
}
.triangle-bottom{
	position: absolute;
	width: 21px;
	height:17px;
	background:url(../i/triangle-bottom.png) no-repeat 50% 0;
	bottom:-12px;
	left: 15px;
}

.balun {
	display:block;
	position: absolute;
	background-color:#ddd;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	width: 100%;
	padding:10px;
}
	.balun a{
		color:blue;
		border-bottom-color:blue;
		}
		.balun a:hover{
			color:#333;
			border-bottom-color:#333;
		}
#sm2-container{
	width:30px;
	height:30px;
	position:fixed;
	bottom:auto;
	top:51px;
	left:19px;
	z-index:10;
	}
	.swf_unblocked{
		z-index:-10;
		width:8px;
		height:8px;
		top:0;
		left:0;
	}
	
	#sm2-container.swf_error{
		display:none;
		}

html.not-as-application{
	position:static;
}
html.not-as-application, .not-as-application  body{
	height:100%  !important;
	
}


#gstat{
	border:0;
	margin:0;
	padding:0;
	height:1px;
	width:1px;
	position:relative;
	z-index:-10;
}
.serv-container{
	display:none;
}
.track-files{
	overflow:hidden;
	}
.track-files.show-files	{
	display:block;
}
	.track-files .files-header{
		display:none;
		margin-left:139px;
	}
	.track-files .files-header.show-f-head{
		display:block;
	}
	.track-files .files-source{
	
		width:90px;
		margin-bottom:14px;
	}
	.track-context .track-files .extend-switcher{
		margin-bottom:-19px;
	}
	.track-files .files-lists{
		margin-top:24px;
	}
	.track-files .files-lists ul{
		margin-bottom:24px;
	}
	.track-files .files-lists ul:last-of-type{
		margin-bottom:0;
	}
	.track-files .page-link{
		float:right;
	}
	



	
	.track-files .files-header a{
		margin-right:14px;
	}
	.track-files.show-all-files li.addition-file{
		display:block;
	}
	
	
	.track-files ul{
		margin-bottom:10px;
	}
	.track-files li.addition-file{
		display:none;
	}
	.track-files li{
		overflow:hidden;
		margin-bottom:11px;
		}
		.track-files li .song-file{
			float:left;
			width:378px;
		}
		.track-files li .duration{
			margin-left:14px;
			width:40px;
			color:#666;
			float:right;
			}
		.track-files li .mp3-file-link{
			float:right;
			width:40px;
		}
.track-listeners{
	margin:0.5em 0 0;
	min-height:10px;
}
.big-user-avatar {
	height: 252px;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: center;
	width: 196px;
	float:left;
	margin-right:24px;
	background: #545454;
	border-radius: 6px;
}
.song-listeners-list{
	height: 56px;
	overflow: hidden;
	padding-top: 10px;
	position: relative;
	}
	.song-listener{
		position:relative;
		margin-left:11px;
		background: #4A4A4A;
		padding: 3px;
		border-radius: 3px;
		margin-bottom:10px;
		width:50px;
		float:left;
	}
	.current-user-listen{
		margin-left:0;
	}
	.many-users .current-user-listen{
		float:right;
	}
	
	.song-listeners-list li.song-listener{
		
		
		cursor:pointer;
		
		}
		.song-listeners-list li.song-listener:hover{
			background-color:#555;
		}
		.song-listeners-list li.song-listener:active{
			background-color:#5a5a5a;
		}
		.track-listeners li.song-listener:first-of-type{
			margin-left:0;
		}
		.song-listener .image-cropper{
			height:50px;
			overflow:hidden;
			
		}
		.song-listener img{
			width:50px;
			border-radius:1px;
		}

iframe.you-tube-video,embed.you-tube-video{
	border:0;
	width:100%;
	height:360px;
	margin:20px 0 40px;
	}
.track-video{
	overflow:hidden;
	}
	.track-video .desc-text{
		display:block;
		}
		
	.you-tube-video-link{
		float:left;
		cursor:pointer;
		margin-right:14px;
		}
		.video-title{
			display:none;
			}
		.video-preview{
			height:48px;
			overflow:hidden;
			width:85px;
			float:left;
			border:1px solid #737373;
			}
			.video-preview img{
				height:64px;
				width:85px;
				margin-top:-8px;
				}
	
		.video-preview:hover, .you-tube-video-link.active .video-preview{
			border-color:#9C9C9C;
			}
			
.people-list{
	overflow:hidden;
	}
	.people-list>li{
		float:left;
		padding-right:12px;
		margin-bottom:12px;
	}
.people-l-wide .people-list-item{
	width:238px;
	
}
.people-list-item{
	
	}
	.people-list-item .desc{
		font-size:0.8em;
		line-height:1.4;
		display:block;
	}
	.people-image{
		margin-right:12px;
		float:left;
	}
	.button-place-people-el .button-hole{
		margin-top:6px;
	}
.people-list-desc{
	font-size:12px;
	margin-top:-12px;
}