body{
	margin:0;
	padding:0;
	color:#E6E6E6;
	
	height:596px;
	line-height:1.5;
	font-size:14px;
	font-family:Helvetica , Arial ,sans-serif;
	}
body.slice-for-height{
	overflow:hidden;
}
html.not-as-application{
	position:static;
}
html.not-as-application, .not-as-application  body{
	height:100%;
	
}

.not-as-application body{
	background-color: #505050;
	
	
}
.not-as-application .slider-materail{
	padding-bottom:15px;
}

a img{border:0;}
label{cursor:pointer}
input[type=text],input[type=search],input[type=password]{
	background:#ccc;
	border: 1px solid #666;
	padding:2px;
	font-size: 1.15em;
	border-radius: 2px;
}
input[type=text]:focus,input[type=search]:focus,input[type=password]:focus{
	outline:1px solid #a37b1b;
}
input[type=submit],
input[type=button],
button{
	font-size: 1.15em;
}

dl,dt,dd,h5{
	margin:0;
	padding:0;
}
ul{list-style:none;padding:0;margin:0;}
a{color:#d5d5d5;}

a[href],a.js-serv{
	color:#ABABAB;
	text-decoration:none;
	border-bottom:1px solid #737373;
	}
	a[href]:hover,a.js-serv:hover{
		color:#E6E6E6;
		border-bottom-color:#9C9C9C;
		}
	a[href]:active,a.js-serv:active{
		color:#999;
		}
a[href='javascript:void(0)']{
	border-bottom-style:dotted;
}

h5{
	font-size:1em;
	font-weight:400;
}
a.js-serv,
a.bbcode_artist,
a.bbcode_tag{
	cursor:pointer;
	text-decoration:none;
	border-bottom-style:dotted!important;
	}
	a.js-serv:hover,
	a.bbcode_artist:hover,
	a.bbcode_tag:hover{
		border-bottom-color:#9C9C9C   !important;
		}
	a.js-serv:active,
	a.bbcode_artist:active,
	a.bbcode_tag:active{
		border-bottom-color:#999  !important;
		}
.hidden{
	display:none;
}
a.desc{
	color:#666;
	border-bottom-color:#5e5e5e !important;
}
	a.desc:hover{
		color:#5e5e5e;
		border-bottom-color:#5a5a5a !important;
		}
.sm2proxy{
	position: absolute;
	top:40px;
	width:170px;
	height:170px;
	z-index:-10;
	border: 0;	
}		
.sm2proxy.sm2-complete{
	left:-1000px;
}
.sm2proxy.long-appearance{
	z-index:10;
}
.song-row-content{
	position:relative;
	border-top: 1px solid #555555;
	border-bottom: 1px solid #6e6e6e;
	background: #5a5a5a;
	margin: 5px -13px 11px;
	padding: 0 13px 14px;
}
.row-listeners-context{
	margin-top:15px;
}
.big-listener-info{
	overflow:hidden;
	padding-top:12px;
}
.moplas-block .show-all-songs{
	float:right;
	position: relative;
	}
	.moplas-block .show-all-songs .notifier{
		position: absolute;
		top: -11px;
		left: 0;
		background: red;
		height: 20px;
		line-height:20px;
		width: 20px;
		text-align: center;
		border-radius: 10px;
		opacity: 0.8;
		}
	.moplas-block .show-all-songs a{
		cursor: pointer;
		color:gray;
		display: inline-block;
		padding:6px 10px;
		text-shadow: 0 1px 0 #4A4A4A;
		}
		.moplas-block .show-all-songs a:hover{
			background:#555;
			color:#ccc;
			}
		.moplas-block .show-all-songs a:active{
			color:#aaa;
			box-shadow: inset 0 0 11px 0 #444;
			}
		.moplas-block .show-all-songs a span{
			border-bottom: 1px dotted;
			}
	.moplas-block.want-more-songs .show-all-songs a{
		border-bottom-left-radius: 6px;
		}
.moplas-block{
	font-size: 14px;
	padding:0;
	min-height:31px;
	
	}
	.moplas-block h4{
		font-weight: 400;
		margin:7px 0 7px 53px;

		}
	.moplas-block ul {
		
		}
		.moplas-block ul li{
			cursor: pointer;
			border-top: 1px solid #5d5d5d;
			padding:6px 5px;
			color:#999;
			border-bottom: 1px solid #555555;
			}
			.moplas-block ul li .play-button-place{
				float: left;
				margin-right: 5px;
				margin-top: -8px;
				margin-bottom: -12px;
				margin-left: 5px;
				height: 31px;
				width: 32px;
			}
			.moplas-block ul li .play-button-place .pc-place{
				display: none;
				}
			.moplas-block ul li.selected-mf .play-button-place .pc-place{
				display:block;
				}
			.moplas-block ul li .mf-progress{
				overflow: hidden;
				min-height: 15px;
				max-height:15px;
				padding:1px 0;
				}
				.moplas-block.want-more-songs ul li .mf-progress{
					max-height:none;
					}
			.moplas-block ul li .mf-duration{
				float:right;
				margin-left: 5px;
				margin-bottom: 2px;
				}
			.moplas-block ul li .mf-source{
				margin-left:10px;
				color:#777;
				}
				.moplas-block.want-more-songs ul .mf-source{
					display: none;
					}
		
			.moplas-block ul li a{
				color:inherit;
			}

	.moplas-block .moplas-list h4{
		display: none;
		}
	.moplas-block .moplas-list li{
		display: none;
		}


		.want-more-songs.moplas-block  .moplas-list h4{
			display: block;
			}
		.want-more-songs.moplas-block .moplas-list ul{
			margin-bottom:42px;
			}
		.want-more-songs.moplas-block .moplas-list li{
			display: block;
			}


	

		.selected-mf .mf-text{
			font-size: 12px;
			}
			.want-more-songs .selected-mf .mf-text{
				font-size: inherit;
				}
		.selected-mf.buffering-progress .mf-progress{
			background:url(../i/spinner_darkest_small.gif) no-repeat 95% 50%;
			}
	.moplas-block .moplas-list li.overstocked{
		display: none;
		}
	
		.want-more-songs.moplas-block .moplas-list.want-overstocked-songs .overstocked{
			display: block;
		}
				
	.moplas-block .moplas-list .selected-mf{
		display: block;
		overflow: hidden;
		}
		.moplas-list .selected-mf .mf-progress{
		
			}



#close-widget{
	position:absolute;
	top:5px;
	cursor:pointer;
	right:8px;
	font-size:16px;
	color:#ffffff;
	font-family:"Trebuchet MS", sans-serif;
	height:25px;
	font-size:1.4em;
	line-height:25px;
	}
	
	#close-widget:hover{
		color:#E52573;
	}
	#close-widget:active{
		color:#F4AF16;
	}
.background-changes{
	height:200px;
}


.needs-cross-domain{
	display:none;
}
.cross-domain-allowed .needs-cross-domain{
	display:block;
}
.cross-domain-allowed span.needs-cross-domain{
	display:inline;
}
.cross-domain-allowed .no-needs-cross-domain{
	display:none;
}


	.lfm-auth{
		display:none;
		padding-left:20px;
		line-height:1.5;
		}
		
.lfm-finish{
	opacity:0.3;
	display:none;
}
.deep-sandbox .lfm-finish{
	display:block;
}
.lfm-finish .lfm-code{
	width: 314px;
	margin-right: 24px;
}
.lfm-waiting-for-finish .lfm-finish{
	opacity:1;
}
.lfm-auth p{
	margin:0.3em 0;
	}
.lfm-auth .real-lfm-auth-part{
	margin-bottom: 20px;
	margin-bottom:20px;
}
.login-lastfm-button{
	float:right;
}
.lfm-auth form{
	margin-bottom:2.5em;
	padding-bottom:1em;
	}
	.lfm-start{
		border-top:1px solid #666;
	}
.lfm-auth-req-recomm
.lfm-recomm
.lfm-auth{
display:block;
}
.lfm-auth-req-loved
.lfm-loved
.lfm-auth{
display:block;
}
.lfm-auth-done
#slider
.lfm-start
.lfm-auth{
display:none;
}
	
.search-start{
	margin-bottom:1em;
	}
	.search-start
	form{
		margin:0;
		}
		.window-bottom{
			height:20px;
			position:absolute;
			bottom:0;
			width: 20px;
			right:0;
			text-align:right;
			overflow:hidden;
			z-index:20;
			}
			#resize-handle{
				position:absolute;
				bottom:3px;
				right:3px;
				cursor: se-resize;
				-apple-dashboard-region: dashboard-region(control rectangle 0 0 0 0);
				}
.track-context{
	padding:0 8px 10px;
	margin-top:6px;
	min-height: 383px;
	}
	@media (min-height:700px) {
		.track-context{
			min-height: 420px;
			}
		}
.artist-info{
	overflow:hidden;
	zoom:1;
	position:relative;

}


	.desc-name{
		float:left;
		min-height:1.5em;
		width:126px;
		text-align:right;
	}
	.desc-text{
		overflow:hidden;
		display: table-cell;
	}
	.desc-text2{
		overflow:hidden;
	}

@media (max-width:550px) {
	.daddy .stack-bottom, .daddy .stack-middle{
		display:none;
	}
	.daddy .stack-top{
		margin-left:0;
		}
		.daddy .stack-top > b{
			top:-1px;
			background-position:0 0;
			}
}

	

@media (max-width:500px) {

	.desc-name{
		float:none;
		width:auto;
	}
	.desc-text{
		overflow:visible;
		display: block;
	}
	.desc-text2{
		overflow:visible;
	}

	.artist-info .artist-tags, .artist-info .artist-similar{
		height:auto;
	}
	.artist-meta-info .desc-name em{
		padding:0;
	}
}

.play-list-holder{
	padding-top:0;
	line-height:1.4em;
	position:relative;
}
	
.tracks-for-play{
	clear:both;
	}
	ul.tracks-for-play.tracks-c.loading{
		background: url(../i/spinner.gif) no-repeat 4px 10px;
		padding-top: 38px;
	}
	ul.tracks-for-play > li{
		margin: 0 0 3px 0;
		position:relative;
		}
.photo-cont{
	height:126px;
	overflow: hidden;
	}
	.photo-cont-lift{
		width:200%;
	}
.artist-image{
	height:126px;
	}
.track-info-dominator .artist-tags{
	padding:7px 0 0;
	margin:0;
}
.track-info-dominator .artist-tags, .track-info-dominator .artist-similar{
	position:relative;
	height:1.55em;
}
.artist-bio{
	line-height:1.5em;
	overflow:hidden;
	position:relative;
	top:-3px;
	height:1.55em;
	
	}
	
	@media (min-height:700px) {
		.artist-bio{
			height:4.7em;
		}
	}
	
	
	.artist-similar a.artist{
		margin-right:8px;
		}
	
	.artist-tags a.music-tag{
		margin-right:6px;
		}
.artist-meta-info{
	overflow:hidden;
	clear:left;
	position:relative;
	z-index:2;
	}
	.artist-meta-info .desc-name{
		
		}
		.artist-meta-info .desc-name em {
			font-style:normal;
			background:#5a5a5a;
			padding:3px 0 3px 5px;
			border-radius: 4px 0 0 4px;
		}

.artist-info .forced-end{
	position:absolute;
	bottom: 0;
	right: 0;
	
	height:1.7em;
	background:url(../i/img_forced_end.png) repeat-y 0 0;
	width:76px;
}
.track-info-dominator{
	border-top:1px solid #555555;
	border-bottom:1px solid #6e6e6e;
	background:#5a5a5a;
	margin:5px -13px 0;
	padding: 0 0 0;
	min-height:200px;
	}	
	@media (min-height:700px) {
		.track-info-dominator{
			
			min-height:237px;
		}
	}

	.track-info-dominator > .vk-login-context, .track-context > .vk-login-context{
		border-radius:0;
		margin:5px -13px 24px;
		}	
	.track-info-dominator .dominator-head{
			overflow:hidden;
			padding:0;
		}
		.track-info-dominator .dominator-head .closer-to-track{
			padding-top:7px;
			padding-left:13px;
			margin-right:12px;
			float:left;
			width:126px;

		}
		.one-artist-playlist a{
			color:#666;
			border-bottom-color: #666;
			}
			.one-artist-playlist a:hover{
				color:#777;
				border-bottom-color:#636363;
				}
	.track-context .extend-switcher{
		border:0;
		padding: 7px;
		margin-left:-7px;
		margin-bottom:5px;
		float:right;
		border-radius: 0 0 0 6px;
		color:#808080;
		text-shadow: 0 1px 0 #4A4A4A;
		}
		.track-context .extend-switcher .big-space{
			border-bottom: 1px dotted #696969;
			padding-bottom: 1px;
		}

		
		.track-context .extend-switcher:hover{
			background-color:#555;
			}
			.track-context .extend-switcher:hover .big-space{
				border-bottom-color:transparent; 
				}
		.track-context .want-more-info .extend-switcher{
			text-shadow:0;
		}
		.track-context .want-more-info .extend-switcher:hover{
			background-color:#585858;
		}
	

	.track-info-dominator.want-more-info{
		padding-bottom:14px;
	}
	.track-info-dominator .artist-info, .track-info-dominator .track-info {
		display: none;
		}	

		.want-more-info .artist-info,  .want-more-info .track-info{
			display: block;
			}

	.track-info-dominator .extending-info{
		display:none;
		}	
	.track-info-dominator .artist-info, .track-info-dominator .track-info{
		padding:0 13px;
		
	}	
	.track-info-dominator .track-info{
		margin-top:14px;
	}
	
	
	
	.want-more-info .extending-info{
		display:block;
		}	
	.track-context .want-more-info .artist-bio,
	.track-context .want-more-info .artist-tags,
	.track-context .want-more-info .artist-similar{
		height:auto;
		}
	.track-context .want-more-info .forced-end{
		display:none;
		}

	.track-context .want-more-info .image img.artist-image{
		position:static;
	}

	

.artist-albums, .artist-similar,.artist-tags{
	overflow: hidden;
	
}
.artist-info .artist-albums, .artist-info .artist-similar{
	padding: 2px 0;
	margin: 6px 0;
}
.artist-tags .simple-header{
	margin-right:12px;
	font-style:normal;
	}
.desc-name{
	margin-right: 13px;
}
.artist-albums .desc-name{
	float:left;
}
.desc-text{
	padding-bottom:2px;
}	

#playlist-level h3{
	margin-top:0
	}
	#playlist-level h3 a{
		font-size:0.8em;
		margin-left:6px;
		display: inline-block;
	}

	
#slider-materail{
	position: relative;
	background:#505050;
	z-index:2;
}


#promo{
	font-size:0.8em;
	height:10px;
	padding-left:18px;
	color:#999;
}
	#promo a{
		background:#505050;
		padding: 1px 6px;
		border-radius: 5px;
		}
		#promo a:hover{
			color:#222;
			background:#fff;
			border:1px solid #eee  !important;
		}
.lfm-auth-done #scrobbling-switches{ 
	opacity:1;
	}
.lfm-auth-done .lfm-granting{
	display:none
}
#scrobbling-switches{
	opacity:0.3;
	
	}
#search #q{

	-webkit-appearance: none;
	-moz-box-sizing:border-box;

	width:100%;
	height:26px;
	
	padding: 2px 0;
	box-sizing:border-box;
}
.users-play-this{
	overflow:hidden;
	
}

.users-play-this li{
	overflow:hidden;
	float:left;
	height:75px;
	width:250px;
	margin-bottom:15px;
	line-height:1.5;
}
	.users-play-this li .vk-ava{
		float:left;
		margin:0 14px 0 0;
		padding:0;
	}
	.users-play-this li .vk-ava img{
		
		background:#5C5C5C;
		padding:2px;
		border-radius:2px;
	}
	.metro-tracks{
		margin-bottom:44px;
		overflow:hidden
	}
	.metro-tracks li{
		overflow:hidden;
		margin-bottom:14px;
		float:left;
		width:50%
	}
	.metro-tracks li img{
		float:left;
		margin-right:14px;
		width:32px;
		height:32px;
	}
.block-for-startpage.loading{
	background: url(../i/spinner_small.gif) no-repeat 100% 4px;
	min-height:30px;
}
.block-for-startpage h3{
	margin:0 0 18px;
	overflow:hidden;
	line-height:1.5;
}
.block-for-startpage h3 a.js-serv{
	margin-left:24px;
	font-size:12px;
}


.tags-hyped{
	overflow:hidden;
	text-align: justify;
	line-height: 2;
	margin-top: 50px;
	}
	.tags-hyped h3{
		margin-bottom:10px;
	}
	.tags-hyped .hyped-tag{
		margin-right:15px;
		}

#search #search-p{
	margin:10px 0 5px;
	overflow:hidden;
	}
	#search #search-p label span.lbl{
		float:left;
		width:59px;
		margin-right:1px;
		padding-top:4px;
		font-style:normal;
		height: 26px;
	}
	#search #search-p label span.loading{
		background: url(../i/spinner_small.gif) no-repeat 100% 50%;
	}
	#search #search-p label span.inpt{
		overflow:hidden;
		display:block;
		padding:2px;
	}
.desc, .search-desc{
	color:#999;
}
.search-desc {
	padding-left:60px;
	font-size:0.9em;
	
	margin-top:0;
}

#update-star{
	position:relative;
	bottom:-4px;
	border-bottom:0  !important;
}
#screens{
	clear:left;
}
.arrow-part{
	position: absolute;
	width: 0;
	height: 0;
	font-size: 0;
}
	.rc-s-arrow,.tl-arrow {		
		top:-11px;
		border: 11px solid;
		border-color: transparent   transparent  #555 transparent ;
		}
		.rc-s-arrow-bg,.tl-arrow-bg {
			top: -10px;
			left: -11px;
			border: 11px solid;
			border-color: transparent transparent #5A5A5A transparent  ;
			}
	.tl-arrow{
		margin-left:0;
	}	
.rc-arrow{
	display:block;
	height:11px;
	width:22px;
	margin-left: -11px;
	top: -11px;
	overflow: hidden;
	position: absolute;
	}
.triangle {
	position: absolute;
	width: 21px;
	height:17px;
	background:url(../i/triangle.png) no-repeat 50% 0;
	left: 15px;
	top: -7px;
}
.triangle-bottom{
	position: absolute;
	width: 21px;
	height:17px;
	background:url(../i/triangle-bottom.png) no-repeat 50% 0;
	bottom:-12px;
	left: 15px;
}

.balun {
	display:block;
	position: absolute;
	background-color:#ddd;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	width: 100%;
	padding:10px;
}
	.balun a{
		color:blue;
		border-bottom-color:blue;
		}
		.balun a:hover{
			color:#333;
			border-bottom-color:#333;
		}

#sm2-container.swf_error{
	display:none;
	}



#gstat{
	border:0;
	margin:0;
	padding:0;
	height:1px;
	width:1px;
	position:absolute;
	z-index:-10;
}
.serv-container{
	display:none;
}

.track-listeners{
	margin:0.5em 0 0;
	min-height:10px;
}
.big-user-avatar {
	height: 252px;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: center;
	width: 196px;
	float:left;
	margin-right:24px;
	background: #545454;
	border-radius: 6px;
}
.song-listeners-list{
	height: 56px;
	overflow: hidden;
	padding-top: 10px;
	position: relative;
	}
	.song-listener{
		position:relative;
		margin-left:11px;
		background: #4A4A4A;
		padding: 3px;
		border-radius: 3px;
		margin-bottom:10px;
		width:50px;
		float:left;
	}
	.current-user-listen{
		margin-left:0;
	}
	.many-users .current-user-listen{
		float:right;
	}
	
	.song-listeners-list li.song-listener{
		
		
		cursor:pointer;
		
		}
		.song-listeners-list li.song-listener:hover{
			background-color:#555;
		}
		.song-listeners-list li.song-listener:active{
			background-color:#5a5a5a;
		}
		.track-listeners li.song-listener:first-of-type{
			margin-left:0;
		}
		.song-listener .image-cropper{
			height:50px;
			overflow:hidden;
			
		}
		.song-listener img{
			width:50px;
			border-radius:1px;
		}

iframe.you-tube-video,embed.you-tube-video{
	border:0;
	width:100%;
	height:360px;
	margin:20px 0 40px;
	}
.track-video{
	overflow:hidden;
	}
	.track-video .desc-text{
		display:block;
		}
		
	.you-tube-video-link{
		float:left;
		cursor:pointer;
		margin-right:14px;
		}
		.video-title{
			display:none;
			}
		.video-preview{
			border-radius:2px;
			height:48px;
			overflow:hidden;
			width:85px;
			float:left;
			border:1px solid #737373;
			}
			.video-preview img{
				height:64px;
				width:85px;
				margin-top:-8px;
				}
	
		.video-preview:hover, .you-tube-video-link.active .video-preview{
			border-color:#9C9C9C;
			}
			
.people-list{
	overflow:hidden;
	}
	.people-list>li{
		float:left;
		padding-right:12px;
		margin-bottom:12px;
	}
.people-l-wide .people-list-item{
	width:238px;
	
}
.people-list-item{
	
	}
	.people-list-item .desc{
		font-size:0.8em;
		line-height:1.4;
		display:block;
	}
	.people-image{
		margin-right:12px;
		float:left;
	}
	.button-place-people-el .button-hole{
		margin-top:6px;
	}
.people-list-desc{
	font-size:12px;
	margin-top:-12px;
}

.minimize-button{
	position: absolute;
	right: 0;
	top: 0;
	width: 22px;
	height: 13px;
	background: url(../i/minimize-icon.png) no-repeat;
	opacity: 0.8;
	border-radius: 0 0 0 4px;
	cursor: pointer;
	
	}
	.minimize-button:hover{
		box-shadow: 0 0 9px #999;
		opacity: 1;
		}
		.minimize-button:active{
			box-shadow: inset 0 0 7px #000;
			}
/* Custom CSS scrollbar */

.pokki-app ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 5px;
	background: none;
}


.pokki-app ::-webkit-scrollbar-track:vertical { 
    background: none; 
}
.pokki-app ::-webkit-scrollbar-thumb {
    width: 8px; 
    height: 20px;
    background: #999;
    border-radius: 5px;
}

.pokki-app ::-webkit-scrollbar-button: { 
    display: none; 
}
.attention-message{
	overflow: hidden;
	padding: 12px;
	margin: 0 -12px;
	background: #404040;
	color: #999;
	border-radius: 6px;
	}
	.attention-message .message-image{
		float: left;
		margin-right: 12px;
		}
	.attention-message .close-message{
		font-size:3em;
		float:right;
		cursor: pointer;
		line-height: 1;
		height: 0.5em;
		margin-top: -0.3em;
		margin-left: 12px;
		color:#999;
		}
		.attention-message .close-message:hover{
			color:#ccc;
			}
.moplas-block ul li .download-song-link{
	float:right;
	margin-right:5px;
	}
.moplas-block ul li .download-pressed{
	color: #757575;
	}
.share-song{
	padding-top:12px;
	}
	.share-song .song-link{
		width:100%;
		box-sizing: border-box;
		}
.addsong-to-playlist{
	padding:12px 0 0;
	}
	.addsong-to-playlist h4{
		font-weight:400;
		font-size: 12px;
		margin: 0 0 10px 3px;
		padding: 0;
		}
	.addsong-to-playlist .playlist-query{
		background: #777;
		border-color:#555;
		margin-bottom: 12px;
		}
		.addsong-to-playlist .create-named-playlist{
			color:#757575;
			}
			.addsong-to-playlist .create-named-playlist span{
				color: #ccc;
				}
		.addsong-to-playlist .suggest{
			cursor: pointer;
			border-radius:3px;
			padding:3px;
			}
			.addsong-to-playlist .suggest:hover{
				background-color: #494949;
				}
		.addsong-to-playlist .list-of-playlists{
			width:200px;
			}