body{
	margin:0;
	padding:0;
	color:#eee;
	
	height:596px;
	font-size:12px;
	font-family:Helvetica , Arial ,sans-serif;
	}
:not(.as-application) body{
	background-color: #505050;
	
	
}
:not(.as-application) .slider-materail{
	padding-bottom:15px;
}

a img{border:0;}
label{cursor:pointer}
input[type=text]{
	background:#b2b2b2;
	border: 1px solid #666;
	padding:2px;
	font-size: 1.15em;
}
input[type=text]:focus{
	outline:1px solid #a37b1b;
}
input[type=submit],
input[type=button],
button{
	font-size: 1.15em;
}

dl,dt,dd{
	margin:0;
	padding:0;
}
ul{list-style:none;padding:0;margin-top:0;}
a{color:#d5d5d5;}

a[href],a.js-serv{
	color:#a1d404;
	text-decoration:none;
	border-bottom:1px solid #647142;
	}
	a[href]:hover,a.js-serv:hover{
		color:#bef279;
		border-bottom-color:#a1d404;
		}
	a[href]:active,a.js-serv:active{
		color:#999;
		}
a[href='javascript:void(0)']{
	border-bottom-style:dashed;
}

a.js-serv,
a.bbcode_artist,
a.bbcode_tag{
	cursor:pointer;
	text-decoration:none;
	border-bottom:1px dashed #647142  !important;
	}
	a.js-serv:hover,
	a.bbcode_artist:hover,
	a.bbcode_tag:hover{
		border-bottom-color:#a1d404  !important;
		}
	a.js-serv:active,
	a.bbcode_artist:active,
	a.bbcode_tag:active{
		border-bottom-color:#999  !important;
		}


#sm2-container{
	bottom:10px;
	right:20px;
}
#close-widget{
	position:absolute;
	top:5px;
	cursor:pointer;
	right:8px;
	font-size:16px;
	color:#ffffff;
	font-family:"Trebuchet MS", sans-serif;
	height:25px;
	font-size:1.4em;
	line-height:25px;
	}
	
	#close-widget:hover{
		color:#E52573;
	}
	#close-widget:active{
		color:#F4AF16;
	}
.background-changes{
	height:200px;
}


.needs-cross-domain{
	display:none;
}
.cross-domain-allowed .needs-cross-domain{
	display:block;
}
.cross-domain-allowed .no-needs-cross-domain{
	display:none;
}


	.lfm-auth{
		display:none;
		padding-left:20px;
		padding-bottom:10px;
		}
		
.lfm-finish{
	opacity:0.3;
}
.lfm-waiting-for-finish

.lfm-finish{
	opacity:1;
}
.lfm-auth
p{
	margin:0.3em 0;
	}
.lfm-auth
form{
	margin-right:20px;
	margin-bottom:2.5em;
	padding-bottom:1em;
	border-bottom:1px solid #eee;
	}
	.lfm-start{
		border-top:1px solid #666;
	}
.lfm-auth-req-recomm
.lfm-recomm
.lfm-auth{
display:block;
}
.lfm-auth-req-loved
.lfm-loved
.lfm-auth{
display:block;
}
.lfm-auth-done
#slider
.lfm-start
.lfm-auth{
display:none;
}
	
.search-start{
	margin-bottom:1em;
	max-width:562px;
	}
	.search-start
	form{
		margin:0;
		}
		.window-bottom{
			height:20px;
			position:absolute;
			bottom:0;
			width: 20px;
			right:0;
			text-align:right;
			overflow:hidden;
			z-index:20;
			}
			#resize-handle{
				position:absolute;
				bottom:3px;
				right:3px;
				cursor: se-resize;
				-apple-dashboard-region: dashboard-region(control rectangle 0 0 0 0);
				}
.artist-info{overflow:hidden;padding-left:8px}
.artist-info .image{
	margin-right:13px;
	margin-bottom:7px;
	}
@media (min-width:600px) {
	.artist-info .image{
		float:left;
	}
	.desc-name{
		float:left;
		min-height:1.5em;
		width:126px;
		text-align:right;
	}
	.desc-text{
		overflow:hidden;
		display: table-cell;
	}
}

.play-list-holder{
	padding-top:0;
	line-height:1.4em;
	position:relative;
}
	
.tracks-for-play{
	clear:both;
	}
	.tracks-for-play>ul>li{
		margin: 0 0 5px 0;
		padding-right:43px;
		position:relative;
		}
.artist-image.freeze-this-image{
	visibility:hidden;
}
.artist-image{
	width:126px;
	display:none;
	}
	.artist-image[src]{
		display:block;
	}
.artist-bio{
	line-height:1.5em;
	overflow:hidden;
	position:relative;
	top:-3px;
	}
	.artist-similar a.artist{
		margin-right:8px;
		}
	
	.artist-tags a.music-tag{
		margin-right:6px;
		}
.artist-meta-info{
	overflow:hidden;
	clear:left;
}
.artist-name{
	overflow:hidden;
	padding-bottom:2px;
}
.artist-albums, .artist-similar,.artist-tags{
	
	padding-bottom:2px;
	margin:0.5em 0;
}		
.desc-name{
	margin-right: 13px;
}
.artist-albums .desc-name{
	float:left;
}
.desc-text{
	padding-bottom:2px;
}	
.artist-albums ul{
	overflow:hidden;
	margin:15px 0;
	padding-left:10px;
	}
	.artist-albums ul li{
		float:left;
		}
	.artist-albums ul li img{
			float:left;
		}
		
	.artist-albums ul li{
		width:190px;
		margin-bottom:30px;
		}
		.artist-albums ul li a{
			display:block;
			border-bottom:0;
			color:#aaaaaa;
			}
			.artist-albums ul li a:hover{
				color:#fff;
				}
		.artist-albums.collapse-albums ul{
			display:none;
		}
		.artist-albums.albums-loading a.get-artist-albums{
			display:none;
		}
		.artist-albums ul li img{
			width:64px;
			min-height:64px;
			margin-right:4px;
			padding:2px;
			background:#ccc url(http://cdn.last.fm/flatness/catalogue/noimage/2/default_album_medium.png) no-repeat 2px 2px;
			
		}
		.artist-albums ul li .album-name{
			width:110px;
			height:64px;
			-o-text-overflow: ellipsis;
			overflow:hidden;
			display:block;
			
			}
#artist-holder h3{
	margin-top:0
	}
	#artist-holder h3 a{
		font-size:0.8em;
		margin-left:10px;
	}

	
#slider-materail{
	background:#505050;
	z-index:2;
}


#promo{
	font-size:0.8em;
	height:10px;
	padding-left:18px;
	color:#999;
}

.lfm-auth-done #scrobbling-switches{ 
	opacity:1;
	}
.lfm-auth-done .lfm-granting{
	display:none
}
#scrobbling-switches{
	opacity:0.3;
	
	}
#search #q{
	width:100%;
	box-sizing:border-box;
}
@media (min-width:770px){
	.vk-login-context{
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
	}
}
#search #search-p{
	margin:10px 0 5px;
	overflow:hidden;
	}
	#search #search-p label span.lbl{
		float:left;
		width:60px;
		padding-top:4px;
		font-style:normal;
	}
	#search #search-p label span.inpt{
		overflow:hidden;
		display:block;
	}
.search-desc{
	padding-left:60px;
	font-size:0.9em;
	color:#999;
	margin-top:0;
}

#update-star{
	position:absolute;
	left:15px;
	background:url(../i/update_star.png);
	width:16px;
	height:16px;
	border:0;
	
}
#screens{
	clear:left;
}

.triangle {
	position: absolute;
	width: 21px;
	height:17px;
	background:url(../i/triangle.png) no-repeat ;
	left: 15px;
	top: -7px;
}

.balun {
	display:block;
	position: absolute;
	background-color:#ddd;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	width: 100%;
	padding:10px;
}
	.balun a{
		color:blue;
		border-bottom-color:blue;
		}
		.balun a:hover{
			color:#333;
			border-bottom-color:#333;
		}
#sm2-container{
	width:8px;
	height:8px;
	position:fixed;
	bottom:auto;
	top:5px;
	left:0;
	}
	#sm2-container.swf_error{
		display:none;
		}

html:not(.as-application){
	position:static;
}
html:not(.as-application), :not(.as-application)  body{
	height:100%  !important;
	
}

#now-play-b{
	margin-top:2em;
}
#gstat{
	border:0;
	margin:0;
	padding:0;
	height:1px;
	width:1px;
	position:relative;
	z-index:-10;
}