
body{
	background:#ddd;
	border:2px solid #999;
	margin:0;
	height:196px;
	font-family:Verdana,sans-serif;
	}
	#prayer{
		overflow-y:scroll;
		height:176px;
		padding:10px;
		}
	.screen{
		border-bottom:1px solid #666;
		padding-bottom:5px;
		margin-bottom:5px;
		}