.play-list-holder
#tracks-search{
	float:right;
	position:relative;
	color:#ddd;
}
.play-list-panel{
	padding-top:8px;
	padding-left:6px;
	margin-bottom:10px;
	overflow:hidden;
	height:20px;
}
#open-external-playlist{
	display:none;
	position:relative;
}
#open-external-playlist.can-be-used{
	display:inline;
}
#open-external-playlist .music-programs{
	position:absolute;
	width:61px;
	height:18px;
	right:-64px;
	background:url(../i/icons_programs_inactive.png) no-repeat 0 0;
}
#open-external-playlist:hover .music-programs{
	background-image:url(../i/icons_programs.png)
}
#tracks-waiting-for-search{
	position: absolute;
	left: -30px;
	width:20px;
	top:0;
}
.scrobbling-button .trackbutton{
	background:#333 url(../i/last-fm-gray.png) no-repeat;
	display:block;
	height:16px;
	width:16px;
	border-radius:2px;
	}
	.scrobbling-button .trackbutton:hover{
		background-image:url(../i/last-fm.png);
	}
	.scrobbling-button .trackbutton:active{
		background-position: 1px 1px;
		box-shadow:inset 0 0 6px 1px #111;
		background-image:url(../i/last-fm-gray.png);
	}
.flash-security-status{
	text-decoration:blink;
	background-color:#0d8b2b;
	}
	.flash-internet
	.flash-security-status{
		
		text-decoration:none;
		color:inherit;
		}

.track-buttons{
	position:relative;
	height:16px;
	float:right;
	}
	.track-buttons>li{
		float:left;
		width:16px;
		line-height:16px;
		height:16px;
		position:relative;
		margin-right:3px;
		}
		.track-buttons>li>a{
			font-weight:700;
			color:#d5d5d5;
			border-bottom:0;
			cursor:pointer;
			display:block;
			text-align:center;
			line-height:inherit;
			}


.tb-window
.track-button-content{
	display:block;
}
.track-button-content{
	display:none;
}
.track-button-content{
	position:absolute;
	display:none;
	width:460px;
	background:#fff;
	top:25px;
	left:auto;
	right:12px;
	z-index:10;
	color:#555;
}

.track-button-content .triangle { 
	left: auto;
	right: -14px;
	}

.volume-state{
	position:relative;
	float:right;
	
	width:50px;
	background:#456726;
	height:6px;
	cursor:pointer;
	border-radius:2px;
	border: 1px solid #4A4A4A;
	margin-top:2px;
	
	margin-left:14px;
	}
	.volume-state-position{
		height:6px;
		width:0;
		border-radius:2px;
		position:absolute;
		top:0;
		left:0;
		background:#6a9e3a;
	}
.player-holder{
	height: 18px;
	margin: 0 0 18px;
	position:relative;
}
.nice-buttons-place{
	margin-top:-4px;
	margin-left: -2px;
	float:left;
}
.track-panel{
	top:1px;
	position:relative;
	height:26px;
}

.playlist-info .artist-info{
	margin-bottom:30px;
}