.track-panel .pc-place{
	float:left;
	margin-right:6px;
}

.nice-buttons-place .play-indicator.pc-place{
	margin-top:-4px;
}

a.search-mp3-failed{
	color:#5E5E5E;
}
a.waiting-full-render{
	cursor:pointer;
}
a.song{
	padding:3px 1px 0;

	border:0  !important;

	}
a.track-node{
	display:block;
	overflow:hidden;
	padding:6px 6px 6px 28px;
	border:0 !important;
	color: hsl(0, 0%, 65%);
	cursor:pointer;
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
	}
	a.track-node:hover{
		color:#aaa;
		}
	#slider .track-node.surf_nav{
		background: #000;
		}
		.track-node.surf_nav .full-song_title, .track-node.surf_nav .song-artist_name {
			color:#fff;
			}
.playing-song a.track-node {
	color:#ccc;
}

a.waiting-full-render.marked-for-play{
	outline:1px dotted #888 ;
}
a.song .nothing-toy,
a.search-mp3-failed .nothing-toy,
a.search-mp3 .nothing-toy,
a.track_name_loading .nothing-toy{
	display: none;
	}


.tracks-for-play.list-overview > li:nth-of-type(even) > .track-node,
.page-scheme .song-view:nth-of-type(even) > .track-node{
	background-color: #4D4D4D;
	}


.tracks-for-play.list-overview > li > a.track-node:hover,
.page-scheme .song-view > a.track-node:hover{
	background-color:#535353;
	}







#i_f_sm2{
	position:absolute;
	bottom:50px;

	left:19px;
	z-index:10;
	width:30px;
	height:30px;
	border:0;
}
#i_f_sm2.sm-inited{
	left:-100rem;
	z-index:-10;
}
.selected-mf .mf-progress {

	}

	.mf-text{
		position: relative;
		z-index: 2;
		margin:0 5px;
		}
	.selected-mf .mf-text{
		margin:0 4px;
		color: hsl(0, 0%, 55%);
		}
.mopla-item .mf-progress{
	line-height:1.2;
	}
.mopla-item.selected-mf .mf-progress{
	position:relative;
	right:0;
	left:0;
	overflow:hidden;
	padding:0;
	max-width:100%;
	border-top: 1px solid #434343;
	border-right: 1px solid #4E4E4E;
	border-bottom: 1px solid #767676;
	border-left: 1px solid #4E4E4E;
	border-radius: 7px;


	background-color: #444444;



	}

	.mf-load-progress, .mf-play-progress{
		display: none;
	}
	.selected-mf .mf-load-progress{
		position:absolute;
		top:0;
		left:0;
		display: block;
		width:0;
		height:100%;
		border-radius: 5px;
		background:#484848;
		cursor:pointer;


		}
	.selected-mf .mf-play-progress{
		position:absolute;
		top:0;
		left:0;
		display: block;
		width:0;
		height:100%;
		border-radius: 5px;
		background:#4f4f4f url(../i/playing-gradient.png) repeat-x 0 0;
		cursor:pointer;

		}




.song-track-name {
	display: block;
	margin-right:0.5rem;
	}

.song-artist_name {
	display: block;
	color: hsl(0, 0%, 50%);
	font-size: 0.85rem;
	}


.placeholder-decor{
	display: none;
	}

.playing-song-mark{
	position: absolute;
	top:3px;
	right:5px;
	display: none;
	width: 20px;
	height: 20px;
	background: url(../i/equalaizer_stoped.gif) no-repeat;
	}
	.playing-process.playing-song-mark{
		background-image: url(../i/equalaizer.gif);
	}
.player_song .playing-song-mark{
	display: block;
	}

.full-song_title{
	position: relative;
	display: block;
	overflow: hidden;
	padding-left: 1rem;
	min-height: 39px;
	}
.has-no_track_title .song-artist_name {
	color: #8C8C8C;
	font-size: 1rem;
	}
.song-image-con {
	float: left;
	width: 38px;
	height: 38px;

	border-radius: 50%;
	background: #595959;
	}
	.song-image-con img{
		width: 100%;
		height: 100%;
		border-radius: 50%;
		}

	.track-context{
		display:none;
	}

	.song-view{
		background-color: #505050;
	}


.files-load-states{
	position: absolute;
	top: 0.2rem;
	left: 5px;
	width: 16px;
	height: 16px;
	}
	.search-mp3 .files-load-states:after{
		height: 100%;
		width: 100%;

	}
.list_rel_pos_mark {
	display: none;
	position: absolute;
	top: 1.6rem;
	left: 0.7rem;
	width: 0.5rem;
	height: 0.5rem;
	background: no-repeat 0 0;
	opacity: 0.2;
}
.to-play-previous .list_rel_pos_mark{
	display: block;
	background-image: url(../i/nano-prev.svg);
}
.to-play-next .list_rel_pos_mark{
	display: block;
	background-image: url(../i/nano-next.svg);
}

.nothing-toy{
	position: absolute;
	top:3px;
	left:3px;
	display: block;
	width:10px;
	height:10px;
	border: 1px solid transparent;
	border-top: 1px solid #666;
	border-bottom: 1px solid #444;
	border-radius: 6px;
	background: #555;
	}
	a.track-node:hover .nothing-toy{
		border-top-color:#6e6e6e;
		border-bottom-color: #4e4e4e;
		background-color: #5e5e5e;
		}
	a.track-node:active .nothing-toy{
		border-top-color:#444;
		border-bottom-color: #666;
		background-color: #555;
		}
.song-files-search-status{
	position: absolute;
	top: 5px;
	left: 5px;
	display: block;
	width: 7px;
	height: 7px;
	background: no-repeat 0 0;
	}
	.song-files-search-status.has-none-files{
		background-image: url(../i/nano-fail.svg);
		opacity: 0.4;
		}
	.song-files-search-status.has-some-files{
		background-image: url(../i/nano-done.svg);
		opacity: 0.2;
		}
	.song-files-search-status.has-best-files{
		background-image: url(../i/nano-done.svg);
		opacity: 0.3;
		}
	.song-files-search-status.forbidden_by_copyrh {
		opacity: 0.3;
		background: none;
		color: #FFA2A2;
	}




.page-scheme .song-track-name {
	overflow: hidden;
	height: 1.5rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	}
.page-scheme .song-artist_name{
	overflow: hidden;
	height: 1.5rem;
	text-overflow: ellipsis;
	white-space: nowrap;
}





.show-zoom-to-track a.track-node:hover{
	background-color:#535353;
	}
.show-zoom-to-track .song-view.viewing-song > a.track-node{
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: transparent;
	}


.show-zoom-to-track .viewing-song a.song{
	background-color:transparent;
	color: #fff;
}


	.show-zoom-to-track .viewing-song .song-artist_name{
		color: #AAA;

		}
.show-zoom-to-track .tracks-for-play{
	position: relative;
	}

	.show-zoom-to-track .v-song-sibling.to-play-previous{

		right:50%;
		left: 0;
		margin-top: 0;
		margin-right: 20px;
		border-top-left-radius:10px;
		}
	.show-zoom-to-track .v-song-sibling.to-play-next {
		right: 0;
		left:50%;
		margin-left: 20px;
		border-top-right-radius:10px;
		}

.show-zoom-to-track .viewing-song .placeholder-decor{
		position: absolute;
		top: -41px;
		left: 50%;
		display: block;
		margin-left: -20px;
		width: 40px;
		height: 3rem;
		border-top: 1px solid #737373;
		background-color: #5E5E5E;
		}
.show-zoom-to-track .viewing-song .playing-song-mark{
	display: none;
	}

.show-zoom-to-track li.viewing-song .track-context{
		display:block;
	}

	.show-zoom-to-track .load-more-list-data{
		display: none;
	}


	.show-zoom-to-track .playlist_panel{
		display:none;
	}

	.show-zoom-to-track .tracks-for-play{

		padding-top:40px;
	}


	.show-zoom-to-track li.to-play-next{

		}
	.show-zoom-to-track .song-view.viewing-song{
		margin:0 -5px;
		padding: 5px;
		border-top: 1px solid #737373;
		border-bottom: 1px solid #4D4D4D;
		border-radius: 0 0 10px 10px;
		background: #5E5E5E;
		color:#fff;
		}
		.show-zoom-to-track .song-view.viewing-song .track-node{

			cursor:default;

			}
		.show-zoom-to-track .song-view.viewing-song .song{


			text-shadow: 0 1px 0 #333;
			}
		.show-zoom-to-track .song-view.viewing-song .search-mp3-failed{
			color:#737373;
		}



	.show-zoom-to-track .song-view{
		display:none;
		}

	.show-zoom-to-track li.v-song-sibling,
	.show-zoom-to-track .song-view.viewing-song{
		display: list-item;
		}

.show-zoom-to-track .v-song-sibling{

		position: absolute;
		top: 0;
		height: 39px;
		border-top: 1px solid #6E6E6E;
		background-color: #545454;
		}
	.show-zoom-to-track .v-song-sibling:hover a.track-node{
		background-color: transparent;
		}
		.show-zoom-to-track .v-song-sibling:hover{
			background-color: #595959;
			}

.show-zoom-to-track .track-node {

	}
	.show-zoom-to-track .v-song-sibling .track-node .full-song_title,
	.page-scheme .tracks-for-play .track-node .full-song_title{
		min-height: 28px;
		}
	.show-zoom-to-track .v-song-sibling .track-node .song-image-con,
	.page-scheme .tracks-for-play .track-node .song-image-con{
		width: 1.72rem;
		height: 1.72rem;
		}
	.show-zoom-to-track .v-song-sibling .track-node .song-track-name,
	.show-zoom-to-track .v-song-sibling .track-node .song-artist_name,
	.page-scheme .tracks-for-play .track-node .song-track-name,
	.page-scheme .tracks-for-play .track-node .song-artist_name{

		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		font-size: 0.75rem;
		}
	.show-zoom-to-track .v-song-sibling .track-node .song-track-name,
	.page-scheme .tracks-for-play .track-node .song-track-name{
		margin-top: 0.2rem;
		height: 1.4em;
		line-height: 1.4em;

	}
	.show-zoom-to-track .v-song-sibling .track-node .song-artist_name,
	.page-scheme .tracks-for-play .track-node .song-artist_name{
		height: 1em;
		line-height: 1em;

		}
.show-zoom-to-track .has-no_track_title .song-artist_name{
	margin-top: 0;
	}
.show-zoom-to-track .song-artist_name{

	}
.show-zoom-to-track .viewing-song .files-load-states{
		top: 11px;
		left: 10px;
		}

a.track_name_loading .song-track-name{
	position: relative;
	}

.show-zoom-to-track .player_song.v-song-sibling .full-song_title{
	padding-right: 22px;
}
.playlist-container .song-view.selected_song a.track-node {
	background: #444;
	}
