
.tracks-for-play .play-controls{
	position:absolute;
	right:115px;
	margin-top:5px;
	top:0;
	
	z-index:7;
}
.track-panel .pc-place{
	float:left;
	margin-right:6px;
}
.playing-file .big-indicator.play-indicator{
	background-image: url(../i/buttons/pc-indicator-b.png);
}
.nice-buttons-place .play-indicator.pc-place{
	margin-top:-4px;
}

a.search-mp3-failed{
	color:#5E5E5E;
}
a.waiting-full-render{
	cursor:pointer;
}
a.song{
	padding:3px 1px 0;
	
	border:0  !important;
	
	}
a.track-node{
	display:block;
	padding:6px 6px 6px 28px;
	cursor:pointer;
	border:0 !important;
	overflow:hidden;
	color:#8C8C8C;
	}
	a.track-node:hover{
		color:#aaa;
		}
.playing-song a.track-node {
	color:#ccc;
}

a.waiting-full-render.marked-for-play{
	outline:1px dotted #888 ;
}
a.song .nothing-toy, 
a.search-mp3-failed .nothing-toy,
a.search-mp3 .nothing-toy,
a.track-name-loading .nothing-toy{
	display: none;
	}


ul.tracks-for-play.list-overview > li:nth-of-type(even) > .track-node,
.page-scheme ul.tracks-for-play > li:nth-of-type(even) > .track-node{
	background-color: #4D4D4D;
	}


ul.tracks-for-play.list-overview > li > a.track-node:hover,
.page-scheme ul.tracks-for-play > li > a.track-node:hover{
	background-color:#535353;
	}


.flash-internet .flash-secur{
	display:none;
}


#message-flash-secur{
	}
	
	#message-flash-secur
	#widget-url{
		width:80%;
	}
	#message-flash-secur
	strong{
		color:#333;
		font-weight:700;
		font-size:1.15rem;
	}
	#message-flash-secur
	img{
		max-width:100%;
	}






#i_f_sm2{
	width:30px;
	
	left:19px;
	z-index:10;
	height:30px;
	border:0;
	bottom:50px;
	position:absolute;
}
#i_f_sm2.sm-inited{
	left:-100rem;
	z-index:-10;
}
.selected-mf .mf-progress {
	
	}
	
	.mf-text{
		margin:0 5px;
		}
	.selected-mf .mf-text{
		color:#757575;
		margin:0 4px;
		}
.track-progress, .moplas-block .moplas-list li .mf-progress{

	line-height:13px;

}
.track-progress, .moplas-block .moplas-list li.selected-mf .mf-progress{	
	position:relative;
	overflow:hidden;
	max-width:100%;
	padding:0;
	left:0;
	right:0;
	
	
	background-color: #444444;
	border-top: 1px solid #434343;
	border-bottom: 1px solid #767676;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border-left: 1px solid #4E4E4E;
	border-right: 1px solid #4E4E4E;
	
	
	
	}
	.track-progress{
		
		text-align:right;
	}
	.mf-load-progress, .mf-play-progress{
		display: none;
	}
	.track-load-progress,  .selected-mf .mf-load-progress{
		position:absolute;
		display: block;
		cursor:pointer;
		width:0;
		left:0;
		top:0;
		height:100%;
		background:#484848;
		
		
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	
	
		}
	.track-play-progress, .selected-mf .mf-play-progress{
		position:absolute;
		display: block;
		cursor:pointer;
		width:0;
		left:0;
		top:0;
		height:100%;
		background:#4f4f4f url(../i/playing-gradient.png) repeat-x 0 0;
		
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	
		}
	.track-node-text, .mf-text{
		position: relative;
		z-index: 2;
	}
	.track-node-text{
		display:none;
		
		margin-right: 7px;
		font-size: 0.85rem;
		color: #666;
	}
	.track-progress:hover .track-node-text{
		display:inline;
	}



.flash-desandboxing{
	background: url(http://img-fotki.yandex.ru/get/4603/gleb-arestov.0/0_55167_ceb4a878_orig) no-repeat 0 0;
	width:446px;
	height:150px;
}

.song-track-name {
	display: block;
	margin-right:0.5rem;
	}

.song-artist-name {
	display: block;
	font-size: 0.85rem;
	color: #6B6B6B;
	}


.placeholder-decor{
	display: none;
	}
	
.playing-song-mark{
	display: none;
	position: absolute;
	top:3px;
	right:5px;
	height: 20px;
	width: 20px;
	background: url(../i/equalaizer_stoped.gif) no-repeat;
	}
	.playing-process.playing-song-mark{
		background-image: url(../i/equalaizer.gif);
	}
.player-song .playing-song-mark{
	display: block;
	}

.full-song-title{
	display: block;
	padding-left: 1rem;
	min-height: 39px;
	overflow: hidden;
	position: relative;
	}
.has-no-track-title .song-artist-name {
	font-size: 1rem;
	color: #8C8C8C;
	}
.song-image-con {
	width: 38px;
	height: 38px;
	float: left;
	background: #595959;
	
	border-radius: 2px;
	}
	.song-image-con img{
		max-width: 100%;
		max-height: 100%;
		border-radius: 2px;
		}

	.track-context{
		display:none;
	}

	li.playing-song .play-controls{
		
	}


	ul.tracks-for-play > li{
		background-color: #505050;
	}


.files-load-states{
	position: absolute;
	left: 5px;
	top: 6px;
	height: 16px;
	width: 16px;
	}
	.search-mp3 .files-load-states{
		background:url(../i/spinner_small_t.gif) no-repeat 0 0;
		}
	
.nothing-toy{
	border: 1px solid transparent;
	display: block;
	position: absolute;
	left:3px;
	top:3px;
	border-radius: 6px;
	border-top: 1px solid #666;
	background: #555;
	border-bottom: 1px solid #444;
	width:10px;
	height:10px;
	}
	a.track-node:hover .nothing-toy{
		border-top-color:#6e6e6e;
		background-color: #5e5e5e;
		border-bottom-color: #4e4e4e;
		}
	a.track-node:active .nothing-toy{
		border-top-color:#444;
		background-color: #555;
		border-bottom-color: #666;
		}
.song-files-search-status{
	display: block;
	height: 7px;
	width: 7px;
	position: absolute;
	left: 5px;
	top: 5px;
	background: no-repeat 0 0; 
	}
	.song-files-search-status.has-none-files{
		background-image: url(../i/nano-fail.png);
		opacity: 0.4;
		}
	.song-files-search-status.has-best-files{
		background-image: url(../i/nano-done.png);
		opacity: 0.4;
		}
	.song-files-search-status.has-some-files{
		background-image: url(../i/nano-done.png);
		opacity: 0.2;
		}


a.track-name-loading{
	background:url(../i/spinner.gif) no-repeat 78px 6px;
	}
	
a.track-name-loading:hover{
	background-image:url(../i/spinner_t.gif);
}

.page-scheme .has-no-track-title .song-track-name{
	display: none;
}

.page-scheme .song-track-name {
	height: 1.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	}
.page-scheme .song-artist-name{
	height: 1.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}





.show-zoom-to-track a.track-node:hover{
	background-color:#535353;
	}
.show-zoom-to-track ul.tracks-for-play > li.viewing-song > a.track-node{
	background-color: transparent;
	padding-top: 2px;
	padding-bottom: 2px;
	}


.show-zoom-to-track .viewing-song a.song{
	background-color:transparent;
	color: #fff;
}

	
	.show-zoom-to-track .viewing-song .song-artist-name{
		color: #AAA;
		
		}
.show-zoom-to-track .tracks-for-play{
	position: relative;
	}
	
	.show-zoom-to-track .to-play-previous{
		
		right:50%;
		margin-right: 20px;
		margin-top: 0;
		left: 0;
		border-top-left-radius:10px;
		}
	.show-zoom-to-track .to-play-next {
		border-top-right-radius:10px;
		left:50%;
		margin-left: 20px;
		right: 0;
		}

.show-zoom-to-track .viewing-song .placeholder-decor{
		display: block;
		position: absolute;
		width: 40px;
		top: -41px;
		left: 50%;
		background-color: #5E5E5E;
		border-top: 1px solid #737373;
		height: 40px;
		margin-left: -20px;
		}
.show-zoom-to-track .viewing-song .playing-song-mark{
	display: none;
	}

.show-zoom-to-track li.viewing-song .track-context{
		display:block;
	}

	.show-zoom-to-track .playlist-info{
		display:none;
	}
	.show-zoom-to-track .load-more-songs{
		display: none;
	}


	.show-zoom-to-track .play-list-panel{
		display:none;
	}
	.show-zoom-to-track ul.tracks-for-play .play-controls{
		display:none;
	}
	.show-zoom-to-track ul.tracks-for-play{

		padding-top:40px;
	}


	.show-zoom-to-track li.to-play-next{
		
		}
	.show-zoom-to-track ul.tracks-for-play > li.viewing-song{
		border-bottom: 1px solid #4D4D4D;
		border-top: 1px solid #737373;
		background: #5E5E5E;
		padding: 5px;
		border-radius: 0 0 10px 10px;
		color:#fff;
		margin:0 -5px;
		}
		.show-zoom-to-track ul.tracks-for-play > li.viewing-song .track-node{
			
			cursor:default;
			
			}
		.show-zoom-to-track ul.tracks-for-play > li.viewing-song .song{
			
			
			text-shadow: 0 1px 0 #333;
			}
		.show-zoom-to-track ul.tracks-for-play>li.viewing-song .search-mp3-failed{
			color:#737373;
		}
		

		
	.show-zoom-to-track .tracks-for-play>li{
		display:none;
		}	
		
	.show-zoom-to-track li.v-song-sibling,
	.show-zoom-to-track ul.tracks-for-play>li.viewing-song{
		display: list-item;
		}
		
.show-zoom-to-track .v-song-sibling{

		position: absolute;
		top: 0;
		background-color: #545454;
		border-top: 1px solid #6E6E6E;
		height: 39px;
		}
	.show-zoom-to-track .v-song-sibling:hover a.track-node{
		background-color: transparent; 
		}
		.show-zoom-to-track .v-song-sibling:hover{
			background-color: #595959;
			}

.show-zoom-to-track .track-node {

	}
	.show-zoom-to-track .v-song-sibling .track-node .full-song-title,
	.page-scheme .tracks-for-play .track-node .full-song-title{
		min-height: 28px;
		}
	.show-zoom-to-track .v-song-sibling .track-node .song-image-con,
	.page-scheme .tracks-for-play .track-node .song-image-con{
		height: 1.72rem;
		width: 1.72rem;
		}
	.show-zoom-to-track .v-song-sibling .track-node .song-track-name,
	.show-zoom-to-track .v-song-sibling .track-node .song-artist-name,
	.page-scheme .tracks-for-play .track-node .song-track-name,
	.page-scheme .tracks-for-play .track-node .song-artist-name{

		font-size: 0.75rem;
		
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		}
	.show-zoom-to-track .v-song-sibling .track-node .song-track-name,
	.page-scheme .tracks-for-play .track-node .song-track-name{
		height: 1.4em;
		line-height: 1.4em;
		margin-top: 0.2rem;
		
	}
	.show-zoom-to-track .v-song-sibling .track-node .song-artist-name,
	.page-scheme .tracks-for-play .track-node .song-artist-name{
		height: 1em;
		line-height: 1em;
		
		}
.show-zoom-to-track .has-no-track-title .song-artist-name{
	margin-top: 0;
	}
.show-zoom-to-track .song-artist-name{
	
	}
.show-zoom-to-track .viewing-song .files-load-states{
		left: 10px;
		top: 11px;
		}
.show-zoom-to-track a.track-name-loading{
		background-position: 64px 6px
		}
	.show-zoom-to-track .viewing-song a.track-name-loading{
		
		}
.show-zoom-to-track li.viewing-song a.track-name-loading{
	background-image:url(../i/spinner_bright.gif);
}

.show-zoom-to-track .player-song.v-song-sibling .full-song-title{
	padding-right: 22px;
}







