.play-controls{
	display:none;
	height:19px;
	width:252px;
	opacity:0.1;
}
	.vk-logged-in 
	.play-controls{
		opacity:1;
	}


	.play-control{
		display:inline-block;
		cursor:pointer;
		padding:1px 0 0 1px;
		width:19px;
		height:19px;
		background-repeat:no-repeat;
		}
		.play-control:hover{
			background-image:url(../i/buttons_hover.png);
			}
		.play-control:active{
			background-image:url(../i/buttons_active.png);
			}




.play-control{
	display:none;
	}
.play-control.pause{
	display:inline-block
	}

.track-zoom{
	position:absolute;
	z-index:-1;
	right: 0px;
	bottom: -40px;
	
	
	
	top: -14px;
	left: -29px;
	width:25px;
	
	
	
	
}

.track-zoomed {
	
}
	.track-zoomed .play-control{
		display:inline-block;
		}

	.track-zoomed  #play-list-holder .player-holder,
	.track-zoomed  #play-list-holder #i_f{
		left:auto;
		}
	.track-zoomed .active-play #track-buttons{
		display:block;

		}
	.track-zoomed .tracks-for-play .active-play{

			}
	.track-zoomed .active-play .track-zoom{
		background:#444;
		border:1px solid #333;
		opacity: 0.9;
		
		
		top: -15px;
		left: -30px;
		width:100%;
		

		
	}
.tracks-for-play .active-play .play-controls{
	display:block;
	}
.tracks-for-play .play-controls div{

	}
.tracks-for-play .active-play{
	position:relative;
	z-index:2;
	}

.tracks-for-play .play-controls{
	display:none;
	position:absolute;
	top: 12px;
	left:0;
	width:auto;
}
.tracks-for-play .play-controls a{
	float:left;
}

#track-buttons{
	display:none;
}

#track-buttons{
	position:absolute;
	bottom:5px;
	left:29px;
	height:16px;
	}
	#track-buttons>li{
		float:left;
		width:16px;
		line-height:16px;
		height:16px;
		position:relative;
		margin-right:3px;
		}
		#track-buttons>li>a{
			font-weight:700;
			cursor:pointer;
			display:block;
			text-align:center;
			line-height:inherit;
			}
			#track-buttons>li>a:hover{
				background:#666;
				}
			#track-buttons>li>a:active{
				background:#333;
			}




.player-holder
#flash-secur{
	position:relative;
}

.scrobbling-button>a{
background:#d8404c;
}
.flash-security-status{
	text-decoration:blink;
	background-color:#0d8b2b;
	}
	.flash-internet
	.flash-security-status{
		
		text-decoration:none;
		color:inherit;
		}

.flash-internet
#message-flash-secur
p{
	display:none;
	}
.flash-internet
#message-flash-secur
p.internet-flash-settings{
	display:block;
}
.vk-logged-in
#message-flash-secur{
}

.tb-window
.track-button-content{
	display:block;
}

.track-button-content{
	position:absolute;
	display:none;
	width:460px;
	background:#fff;
	top:25px;
	left:-18px;
	z-index:10;
	color:#555;
}

#message-flash-secur{
	}
	
	#message-flash-secur
	#widget-url{
		width:80%;
	}
	#message-flash-secur
	strong{
		color:#333;
		font-weight:700;
		font-size:1.15em;
	}
	#message-flash-secur
	img{
		max-width:100%;
	}

.triangle {
	position: absolute;
	width: 21px;
	height:17px;
	background:url(../i/triangle.png) no-repeat ;
	left: 15px;
	top: -7px;
}

.balun {
	display:block;
	position: absolute;
	width: 100%;
	padding:10px;
}
	.bal {
		position: absolute;
		background: url(../i/corners.png) no-repeat;
		z-index: -1;
	}
    .tl {
      top: -6px;
      bottom: 28px;
      left: -11px;
      right: 14px;
    }
    .tr {
      width: 25px;
      top: -6px;
      bottom: 28px;
      right: -11px;
      background-position: top right;
    }
    .bl {
      left: -11px;
      right: 14px;
      bottom: 0;
      height: 28px;
      background-position: bottom left;
    }
    .br {
      width: 25px;
      height: 28px;
      right: -11px;
      bottom: 0;
      background-position: bottom right;
    }





#play-list-holder
.player-holder, #play-list-holder #i_f{
	position:absolute;
	left:60px;
}

#play-list-holder
.player-holder.vk-p-initing, #play-list-holder #i_f.vk-p-initing{
	position:fixed;
	left:40px;
	top:50%;
	opacity:0.1;
}
#i_f{
	width:362px;
	border:0;
}
#play-list-holder .player-holder, #play-list-holder #i_f{
	left:-700px;
	z-index:10;
}


.player-holder,#i_f{
	height:20px;
}

