
.play-list-panel{
	margin-bottom:10px;
	padding-top:8px;
	padding-left:6px;
	}
.page-scheme .play-list-panel{
	display: none;
	}
	.play-list-panel .playlist-actions{

		}
		.play-list-panel .playlist-actions .pla-panel{
			overflow: hidden;
			}
			.pla-panel .pla-button{
				color: #5e5e5e;
				cursor: pointer;
				}
			.pla-panel .pla-button:hover{
				color:#666;
				}
				
			.play-list-panel .playlist-actions .pla-button{
				float:left;
				}
			.play-list-panel .playlist-actions .pl-settings-button{
				float:right;
				width: 16px;
				height: 16px;
				background-image: url(../i/settings-icon.png);
				cursor: pointer;
				}
				.pla-settings{

					}
				.pla-settings input{
					margin:0 6px 0 0;
				}
	.play-list-panel .pla-row-content{
		
		position:relative;
		margin:1rem -1rem 0;
		padding: 1rem;
		border-top: 1px solid #444;
		border-bottom: 1px solid #555;
		border-radius: 1rem;
		background: #4D4D4D;

		color:#999;
		line-height: 1.5;

		}
		.play-list-panel .pla-row-content .rc-s-arrow{
			border-bottom-color:#444; 
			}
			.play-list-panel .pla-row-content .rc-s-arrow-bg{
				border-bottom-color:#4D4D4D;
				}
.open-external-playlist{
	position:relative;
	display:none;
}
.has-files-in-songs .open-external-playlist{
	display:inline;
	}
	.has-files-in-songs .open-external-playlist.nicebutton{
		display: block;
		}

.buttons-panel .track-buttons li.volume-control{
	margin-top: -3px;
	padding: 6px 6px 6px 22px;
	width: 62px;
	height: 8px;
	border: 1px solid #515151;
	border-radius: 10px;
	background: #5E5E5E url(../i/volume-icon.png) no-repeat 3px 50%;
	}

	.buttons-panel .track-buttons li.volume-control:hover{
		border-color: #4F4F4F;
		background-color: #5A5A5A;
		}
	.v-hole{
		position: relative;
		border: 1px solid transparent;
		border-top: 1px solid #4D4D4D;
		border-bottom: 1px solid #5E5E5E;
		border-radius: 3px;
		background: #555;
		}
		.v-bar{
			height: 6px;
			border: 1px solid transparent;
			border-top: 1px solid #666;
			border-bottom: 1px solid #454545;
			border-radius: 3px;
			background: #5E5E5E;
			}
		.buttons-panel .track-buttons li.volume-control:hover .v-bar{
			background-color: #5f5f5f;
		}
	.buttons-panel .track-buttons li.volume-control.interactive-state{
		border-color:transparent;
		background-color:transparent;
		}
.rept-song-button-wrap .trackbutton{
	background: url(../i/repeat-icon.png) no-repeat 50% 50%;
}

.scrobbling-button .trackbutton{
	background: url(../i/lfm-icon.png) no-repeat 50% 50%;
	
	}
	.scrobbling-button .trackbutton:hover{
		
	}
	.scrobbling-button .trackbutton:active{
	}
.flash-security-status{
	background-color:#0d8b2b;
	text-decoration:blink;
	}
	.flash-internet
	.flash-security-status{
		color:inherit;
		
		text-decoration:none;
		}

.track-buttons{
	position:relative;
	float:right;
	height:16px;
	}
	.track-buttons>li{
		position:relative;
		float:left;
		margin-left:6px;
		width:16px;
		height:16px;
		border-radius:2px;
		line-height:16px;
		}
		.track-buttons>li>a{
			display:block;
			width:16px;
			height:16px;
			border-bottom:0;
			border-radius:4px;
			color:#d5d5d5;
			text-align:center;
			font-weight:700;
			line-height:inherit;
			cursor:pointer;
			}
			.track-buttons>li>a:hover{
				background-color: #555;
				}
				.track-buttons>li>a:active{
					background-position: 0 1px;
					box-shadow: inset 0 0 2px 1px #444;
					}





.volume-state{
	position:relative;
	float:right;
	margin-top:2px;
	
	margin-left:1rem;
	
	width:50px;
	height:6px;
	border: 1px solid #4A4A4A;
	border-radius:2px;
	background:#456726;
	cursor:pointer;
	}
.player-holder{
	position:relative;
	margin: 0 0 18px;
	height: 18px;
}
.nice-buttons-place{
	float:left;
	margin-top:-4px;
	margin-left: -2px;
}
.track-panel{
	position:relative;
	top:1px;
	height:26px;
}

.playlist-info .artist-info{
	margin-bottom:30px;
}



