.play-controls{
	display:none;
	z-index:7;
}

	.play-control{
		display:inline-block;
		cursor:pointer;
		padding:1px 0 0 1px;
		width:19px;
		height:19px;
		background-repeat:no-repeat;
		}
		.play-control:hover{
			background-image:url(../i/buttons_hover.png);
			}
		.play-control:active{
			background-image:url(../i/buttons_active.png);
			}
.player-paused .play-control.pause,
.player-stopped .play-control.stop,
.player-played .play-control.play{
	background-image:url(../i/buttons_active.png);
}




.play-control.pause{
	display:inline-block
	}

a.song{
	padding:3px 1px 0px;
	
	background:#535353;
	border:1px solid #505050;
	
	}
a.song:hover{
	color:#ffffff;
	border-color:#5a5a5a;
}
a.search-mp3{
	text-decoration:blink;
	color:#6c1471;
}
a.track-node{
	display:block;
	padding:6px;
	margin-right:37px;
	border:1px solid transparent;
}
a.search-mp3-failed{
	color:#666;
}
a.waiting-full-render{
	cursor:pointer;
}
a.waiting-full-render.marked-for-play{
	border-bottom:1px dashed #888;
}
a.download-mp3{
	text-decoration:none;
	padding:3px 5px 1px;
	margin-left:3px;
	border-bottom:0;
	float:right;
	}
a.download-mp3:hover{
	background:#666;
	color:#ffffff;
	}
.active-play
a.song{
	cursor:default;
	
}
	.player-played
	.active-play
	a.song{
		
		
		color: #fff;
	}
	.player-paused
	.active-play
	a.song{
		outline:1px dashed #647142;
	}
	.player-stopped
	.active-play
	a.song{
		outline:1px solid #647142;
	}

.track-zoom{
	position:absolute;
	z-index:-1;
	right: 0px;
	bottom: -30px;
	padding-left:40px;
	
	display:none;
	
	top: -15px;
	left: -65px;
	width:100%;
	background:#444;
	border:1px solid #333;
	opacity: 0.95;
	
	
	
}
.track-zoomin,
.track-zoomout{
	display:none;
	position:absolute;
	top:-2px;
}
	.track-zoomin{
		right:30px;
	}
	.track-zoomout{
		left:-55px;
	}
.active-play .track-zoomin{
	display:block;
}
.track-zoomed {
	
}
	.track-zoomed .active-play{
		margin: 0 0 37px;
	}
	.track-zoomed .active-play .track-zoomin{
		display:none;
	}
	.track-zoomed .track-zoomout{
		display:block;
	}
	.track-zoomed .tracks-for-play>ul>li{
		
	}
	.track-zoomed .tracks-for-play li.active-play{
		display:block;
	}

	.track-zoomed .play-control{
		display:inline-block;
		}

	.player-paused.track-zoomed  #play-list-holder .player-holder,
	.player-played.track-zoomed  #play-list-holder .player-holder,
	.player-paused.track-zoomed  #play-list-holder #i_f,
	.player-played.track-zoomed  #play-list-holder .player-holder{
		left:auto;
		
		}
	.track-zoomed .active-play .track-buttons{
		display:block;

		}
	.track-zoomed .tracks-for-play .active-play{

			}
	.track-zoomed .active-play .track-zoom{
		display:block;
		
	}
.tracks-for-play .active-play .play-controls{
	display:block;
	}
.tracks-for-play .play-controls div{

	}
.tracks-for-play .active-play{
	position:relative;
	z-index:2;
	}

.tracks-for-play .play-controls{
	display:none;
	position:absolute;
	top: -2px;
	left:-31px;
}


.track-buttons{
	display:none;
}

.track-buttons{
	position:absolute;
	bottom:5px;
	left:64px;
	height:16px;
	}
	.track-buttons>li{
		float:left;
		width:16px;
		line-height:16px;
		height:16px;
		position:relative;
		margin-right:3px;
		}
		.track-buttons>li>a{
			font-weight:700;
			cursor:pointer;
			display:block;
			text-align:center;
			line-height:inherit;
			}
			.track-buttons>li>a:hover{
				background:#666;
				}
			.track-buttons>li>a:active{
				background:#333;
			}




.player-holder
#flash-secur{
	position:relative;
}

.scrobbling-button>a{
background:#d8404c;
}
.flash-security-status{
	text-decoration:blink;
	background-color:#0d8b2b;
	}
	.flash-internet
	.flash-security-status{
		
		text-decoration:none;
		color:inherit;
		}

.flash-internet
#message-flash-secur
p{
	display:none;
	}
.flash-internet
#message-flash-secur
p.internet-flash-settings{
	display:block;
}


.tb-window
.track-button-content{
	display:block;
}

.track-button-content{
	position:absolute;
	display:none;
	width:460px;
	background:#fff;
	top:25px;
	left:-18px;
	z-index:10;
	color:#555;
}

#message-flash-secur{
	}
	
	#message-flash-secur
	#widget-url{
		width:80%;
	}
	#message-flash-secur
	strong{
		color:#333;
		font-weight:700;
		font-size:1.15em;
	}
	#message-flash-secur
	img{
		max-width:100%;
	}

.triangle {
	position: absolute;
	width: 21px;
	height:17px;
	background:url(../i/triangle.png) no-repeat ;
	left: 15px;
	top: -7px;
}

.balun {
	display:block;
	position: absolute;
	width: 100%;
	padding:10px;
}
	.balun a{
		color:blue;
		border-bottom-color:blue;
		}
		.balun a:hover{
			color:#333;
			border-bottom-color:#333;
		}
	.bal {
		position: absolute;
		background: url(../i/corners.png) no-repeat;
		z-index: -1;
	}
    .tl {
      top: -6px;
      bottom: 28px;
      left: -11px;
      right: 14px;
    }
    .tr {
      width: 25px;
      top: -6px;
      bottom: 28px;
      right: -11px;
      background-position: top right;
    }
    .bl {
      left: -11px;
      right: 14px;
      bottom: 0;
      height: 28px;
      background-position: bottom left;
    }
    .br {
      width: 25px;
      height: 28px;
      right: -11px;
      bottom: 0;
      background-position: bottom right;
    }





#play-list-holder
.player-holder, #play-list-holder #i_f{
	position:absolute;
	left:60px;
}

#play-list-holder
.player-holder.vk-p-initing, #play-list-holder #i_f.vk-p-initing{
	position:fixed;
	left:40px;
	top:50%;
	opacity:0.1;
}
#i_f{
	width:362px;
	border:0;
}
#play-list-holder .player-holder, #play-list-holder #i_f{
	left:-700px;
	z-index:2;
	margin-left:34px;
	margin-top: -13px;
}


.player-holder,#i_f{
	height:20px;
}
#i_f_sm2{
	width:20px;
	top:0;
	left:0;
	height:20px;
	border:0;
	position:absolute;
}
#i_f_sm2.sm-inited{
	left:-250px;
}
.track-progress{
	width:300px;
	height:6px;
	float:left;
	background:#456726;
	position:relative;
	border: 1px solid #3a3a3a;
	}
	.track-load-progress{
		position:absolute;
		cursor:pointer;
		width:0;
		left:0;
		cursor:pointer;
		top:0;
		height:6px;
		background:#537c2e;
		}
	.track-play-progress{
		position:absolute;
		cursor:pointer;
		width:0;
		left:0;
		top:0;
		height:6px;
		background:#6a9e3a;
		}
.volume-state{
	width:50px;
	float:left;
	margin-left:15px;
	background:#456726;
	height:6px;
	position:relative;
	cursor:pointer;
	border: 1px solid #3a3a3a;
	}
	.volume-state-position{
		height:6px;
		width:0;
		position:absolute;
		top:0;
		left:0;
		background:#6a9e3a;
	}
.song-duration{
	margin-top:7px;
	display:none;
	}
.track-zoomed .active-play .song-duration{
	display:block;
	}