.tracks-magic{
	position:relative;
	padding-top:1px;
}
.tracks-for-play .play-controls{
	position:absolute;
	right:115px;
	margin-top:5px;
	top:0;
	
	z-index:7;
}


.play-controls{
	display:none;
	
}

	.play-control{
		display:inline-block;
		cursor:pointer;
		padding:0;
		width:16px;
		height:16px;
		background: transparent no-repeat 0 0;
		border:0  !important;
		}
		.play-control:hover,.play-control.hover{
			background-image:url(../i/buttons_hover.png) ;
			}
		.play-control:active{
			background-image:url(../i/buttons_active.png) !important;
			}
.player-paused .play-control.pause,
.player-stopped .play-control.stop,
.player-played .play-control.play{
	background-image:url(../i/buttons_active.png) !important;
}




.play-control.pause{
	display:inline-block
	}

a.song{
	padding:3px 1px 0;
	color:#A1D404;
	border:0  !important;
	border-radius:4px;
	}
a.song:hover{
	color:#fff;
	background:#595959;
}
a.search-mp3{
	background:url(../i/spinner.gif) no-repeat 100% 50%;
	color:#6c1471;
}
a.loading{
	background:url(../i/spinner.gif) no-repeat 100% 50%;
}
a.track-node{
	display:block;
	padding:6px 43px 6px 6px;
	cursor:pointer;
	border:0 !important;
	overflow:hidden;
	}
	a.track-node.mp3-download-is-not-allowed{
		padding-right:0px;
	}
	.song-duration{
		color:#666;
		}
	a.track-node .song-duration,
	.track-node-text .song-duration{
		float:right;
		padding-left:10px;
		width:35px;
	}
a.search-mp3-failed{
	color:#666;
}
a.waiting-full-render{
	cursor:pointer;
}
a.waiting-full-render.marked-for-play{
	outline:1px dotted #888 ;
}
a.waiting-full-render:hover{
	color:#6c1471;
}
a.download-mp3{
	text-decoration:none;
	padding:3px 5px 1px;
	border-bottom:0  !important;
	position:absolute;
	right:0;
	margin-top:3px;
	}
a.download-mp3:hover{
	background:#666;
	color:#fff;
	}
.active-play a.song{
	background:transparent;
	
}
	.player-played
	.playing-song
	a.song{
		
		
		color: #fff;
	}

	.player-stopped
	.playing-song
	a.song{
		outline:1px solid #647142;
	}


.track-zoomin,
.track-zoomout{
	display:none;
	position:absolute;
	top:-2px;
}
	.track-zoomin{
		right:30px;
	}
	.track-zoomout{
		left:-55px;
	}













.scrobbling-button>a{
background:#d8404c;
}
.flash-security-status{
	text-decoration:blink;
	background-color:#0d8b2b;
	}
	.flash-internet
	.flash-security-status{
		
		text-decoration:none;
		color:inherit;
		}

.flash-internet
#message-flash-secur
p{
	display:none;
	}
.flash-internet
#message-flash-secur
p.internet-flash-settings{
	display:block;
}

.flash-internet
#flash-secur{
	display:none;
}


#message-flash-secur{
	}
	
	#message-flash-secur
	#widget-url{
		width:80%;
	}
	#message-flash-secur
	strong{
		color:#333;
		font-weight:700;
		font-size:1.15em;
	}
	#message-flash-secur
	img{
		max-width:100%;
	}






#i_f_sm2{
	width:30px;
	
	left:19px;
	z-index:10;
	height:30px;
	border:0;
	bottom:50px;
	position:absolute;
}
#i_f_sm2.sm-inited{
	left:-250px;
	z-index:-10;
}
.track-progress{
	background:#505050;
	position:absolute;
	overflow:hidden;
	max-width:100%;
	padding:0;
	left:0;
	right:0;
	height:15px;
	border: 1px solid transparent;

	}
	.track-load-progress{
		position:absolute;
		cursor:pointer;
		width:0;
		left:0;
		top:0;
		height:100%;
		background:#595959;
		}
	.track-play-progress{
		position:absolute;
		cursor:pointer;
		width:0;
		left:0;
		top:0;
		height:100%;
		background:#666;
		}
.track-node-text{
	position:relative;
	z-index:2;
	display:block;
}
#playlist-search{
		display:none;
		position:absolute;
		z-index:20;
		margin:30px 0px 0px -17px;
		}
	#playlist-search-con{
		width:200px;
		background:#ddd;
		color:#555;
		border-radius:5px;
		padding:15px;
	}
		#playlist-search-con .js-serv{
			color:#666;
			border-bottom-color:#aaa  !important;
			}
			#playlist-search-con .js-serv:hover{
				color:#999;
				border-bottom-color:#ccc  !important;
				}
	#playlist-search h4{
		margin:0 0 10px;
		padding:0;
		font-size:12px;
	}
	#playlist-search .ext-playlists-getting{
		margin:15px 0 50px 3px;
		
	}
	#playlist-search .ext-playlists-getting.not-want-to{
		margin-bottom:15px;
	}
	
	#playlist-search .pl-r{
		padding:0;
		margin-top:15px;
		list-style:none;
		max-height:140px;
		overflow-y:auto;
		}
		#playlist-search .pl-r li{
			margin-bottom:5px;
			padding:3px;
			border-radius:4px;
			}
			#playlist-search .pl-r li span{
				color:#999;
			}
			#playlist-search .pl-r li:hover{
				background:#eee;
				cursor:pointer;
				}
	.ext-playlists-getting.not-want-to div{
		display:none;
	}