
.tracks-for-play .play-controls{
	position:absolute;
	right:115px;
	margin-top:5px;
	top:0;
	
	z-index:7;
}
.track-panel .pc-place{
	float:left;
	margin-right:6px;
}
.playing-file .big-indicator.play-indicator{
	background-image: url(../i/buttons/pc-indicator-b.png);
}
.nice-buttons-place .play-indicator.pc-place{
	margin-top:-4px;
}





a.search-mp3-failed{
	color:#5E5E5E;
}
a.waiting-full-render{
	cursor:pointer;
}
a.song{
	padding:3px 1px 0;
	
	border:0  !important;
	
	}
a.track-node{
	display:block;
	padding:6px;
	cursor:pointer;
	border:0 !important;
	overflow:hidden;
	color:#8C8C8C;
	}
	a.track-node:hover{
		color:#aaa;
		}
.playing-song a.track-node {
	color:#ccc;
}

a.waiting-full-render.marked-for-play{
	outline:1px dotted #888 ;
}
a.song .nothing-toy, 
a.search-mp3-failed .nothing-toy,
a.search-mp3 .nothing-toy,
a.track-name-loading .nothing-toy{
	display: none;
	}


ul.tracks-for-play.list-overview > li:nth-of-type(even) > .track-node{
	background-color: #4D4D4D;
	}


ul.tracks-for-play.list-overview > li > a.track-node:hover{
	background-color:#535353;
	}
.show-zoom-to-track ul.tracks-for-play > li > a.track-node:hover{
	background-color:#535353;
	}
.show-zoom-to-track ul.tracks-for-play > li.viewing-song > a.track-node{
	background-color: transparent;
	}
.nothing-toy{
	border: 1px solid transparent;
	display: block;
	position: absolute;
	left:6px;
	top:10px;
	border-radius: 6px;
	border-top: 1px solid #666;
	background: #555;
	border-bottom: 1px solid #444;
	width:10px;
	height:10px;
	}
	a.track-node:hover .nothing-toy{
		border-top-color:#6e6e6e;
		background-color: #5e5e5e;
		border-bottom-color: #4e4e4e;
		}
	a.track-node:active .nothing-toy{
		border-top-color:#444;
		background-color: #555;
		border-bottom-color: #666;
		}
a.download-mp3{
	text-decoration:none;
	padding:3px 5px 1px;
	border-bottom:0  !important;
	position:absolute;
	right:0;
	margin-top:3px;
	}
a.download-mp3:hover{
	background:#666;
	color:#fff;
	}
.viewing-song a.song{
	background-color:transparent;
	color: #fff;
}




.track-zoomin,
.track-zoomout{
	display:none;
	position:absolute;
	top:-2px;
}
	.track-zoomin{
		right:30px;
	}
	.track-zoomout{
		left:-55px;
	}
















.flash-internet .flash-secur{
	display:none;
}


#message-flash-secur{
	}
	
	#message-flash-secur
	#widget-url{
		width:80%;
	}
	#message-flash-secur
	strong{
		color:#333;
		font-weight:700;
		font-size:1.15em;
	}
	#message-flash-secur
	img{
		max-width:100%;
	}






#i_f_sm2{
	width:30px;
	
	left:19px;
	z-index:10;
	height:30px;
	border:0;
	bottom:50px;
	position:absolute;
}
#i_f_sm2.sm-inited{
	left:-250px;
	z-index:-10;
}
.selected-mf .mf-progress {
	
	}
	
	.mf-text{
		margin:0 5px;
		}
	.selected-mf .mf-text{
		color:#757575;
		margin:0 4px;
		}
.track-progress, .moplas-block .moplas-list li .mf-progress{

	line-height:13px;

}
.track-progress, .moplas-block .moplas-list li.selected-mf .mf-progress{	
	position:relative;
	overflow:hidden;
	max-width:100%;
	padding:0;
	left:0;
	right:0;
	
	
	background-color: #444444;
	border-top: 1px solid #434343;
	border-bottom: 1px solid #767676;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border-left: 1px solid #4E4E4E;
	border-right: 1px solid #4E4E4E;
	
	
	
	}
	.track-progress{
		
		text-align:right;
	}
	.mf-load-progress, .mf-play-progress{
		display: none;
	}
	.track-load-progress,  .selected-mf .mf-load-progress{
		position:absolute;
		display: block;
		cursor:pointer;
		width:0;
		left:0;
		top:0;
		height:100%;
		background:#484848;
		
		
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	
	
		}
	.track-play-progress, .selected-mf .mf-play-progress{
		position:absolute;
		display: block;
		cursor:pointer;
		width:0;
		left:0;
		top:0;
		height:100%;
		background:#4f4f4f url(../i/playing-gradient.png) repeat-x 0 0;
		
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	
		}
	.track-node-text, .mf-text{
		position: relative;
		z-index: 2;
	}
	.track-node-text{
		display:none;
		
		margin-right: 6px;
		font-size: 12px;
		color: #666;
	}
	.track-progress:hover .track-node-text{
		display:inline;
	}



.flash-desandboxing{
	background: url(http://img-fotki.yandex.ru/get/4603/gleb-arestov.0/0_55167_ceb4a878_orig) no-repeat 0 0;
	width:446px;
	height:150px;
}

.song-track-name {
	display: block;
	margin-right:0.5em;
	}

.song-artist-name {
	display: block;
	font-size: 12px;
	color: #666;
	}
	.viewing-song .song-track-name, .viewing-song .song-artist-name{
		display: inline;
		}
	.viewing-song .song-artist-name{
		color: #AAA;
		font-size: 0.8em;
		}
.show-zoom-to-track .tracks-for-play{
	position: relative;
	}
/*
	.tracks-for-play .to-play-previous{
		position: absolute;
		top: 0;
		width: 35%;
		margin-top: :0;
		left: 0;
		}
	.tracks-for-play .to-play-next {
		position: absolute;
		top: 0;
		width: 35%;
		right: 0;
		}
.placeholder-decor{
	display: none;
	}
	.show-zoom-to-track .placeholder-decor{
		display: block;
		position: absolute;
		width: 30%;
		top:0;
		left:35%;
		background-color: #5E5E5E;
		border-top: 1px solid #737373
		}*/
.playing-song-mark{
	display: none;
	position: absolute;
	top:5px;
	right:20px;
	height: 20px;
	width: 20px;
	background: url(../i/equalaizer_stoped.gif) no-repeat;
	}
	.playing-process.playing-song-mark{
		background-image: url(../i/equalaizer.gif);
	}
.player-song .playing-song-mark{
	display: block;
	}
.viewing-song .playing-song-mark{
	display: none;
	}
.full-song-title{
	display: block;
	padding-left: 26px;
	min-height: 39px;
	overflow: hidden;
	position: relative;
	}
.has-no-track-title .song-artist-name {
	font-size: 14px;
	margin-top: 16px;
	color: #8C8C8C;
	}
.song-image-con {
	width: 38px;
	height: 38px;
	float: left;
	background: #595959;
	
	border-radius: 2px;
	}
	.song-image-con img{
		max-width: 100%;
		max-height: 100%;
		border-radius: 2px;
		}
.viewing-song .song-image-con{
	height: 24px;
	width: 24px;
	}
.show-zoom-to-track .track-node {

	}
	.show-zoom-to-track .track-node .full-song-title{
		min-height: auto;
		}
	.show-zoom-to-track .track-node .song-image-con{
		height: 24px;
		width: 24px;
		}
	.show-zoom-to-track .track-node .song-track-name{
		display: inline;
		float:left;
		}
	.show-zoom-to-track .has-no-track-title .song-artist-name{
		margin-top: 0;
		}
	.show-zoom-to-track .song-artist-name{
		display: inline;
		float: right;
		}
.song-files-search-status{
	display: block;
	height: 7px;
	width: 7px;
	position: absolute;
	left: 9px;
	top: 12px;
	background: no-repeat 0 0; 
	}
	.song-files-search-status.has-none-files{
		background-image: url(../i/nano-fail.png);
		opacity: 0.4;
		}
	.song-files-search-status.has-best-files{
		background-image: url(../i/nano-done.png);
		opacity: 0.4;
		}
	.song-files-search-status.has-some-files{
		background-image: url(../i/nano-done.png);
		opacity: 0.2;
		}

a.search-mp3 .full-song-title{
	background:url(../i/spinner_small_t.gif) no-repeat 5px 7px;
}
a.track-name-loading .full-song-title{
	background:url(../i/spinner.gif) no-repeat 26px 0;
}

a.track-name-loading:hover .full-song-title{
	background-image:url(../i/spinner_t.gif);
}
li.viewing-song a.track-name-loading .full-song-title{
	background-image:url(../i/spinner_bright.gif);
}