.play-list-holder
#tracks-search{
	float:right;
	position:relative;
	color:#ddd;
}
.play-list-panel{
	padding-left:6px;
	margin-bottom:10px;
	overflow:hidden;
	height:16px;
}
#open-external-playlist{
	display:none;
}
#open-external-playlist.can-be-used{
	display:inline;
}
#tracks-waiting-for-search{
	position: absolute;
	left: -30px;
	width:20px;
	top:0;
}
.track-buttons{
	position:absolute;
	top:23px;
	right:54px;
	height:16px;
	}
	.track-buttons>li{
		float:left;
		width:16px;
		line-height:16px;
		height:16px;
		position:relative;
		margin-right:3px;
		}
		.track-buttons>li>a{
			font-weight:700;
			color:#d5d5d5;
			border-bottom:0;
			cursor:pointer;
			display:block;
			text-align:center;
			line-height:inherit;
			}
			.track-buttons>li>a:hover{
				background:#666;
				}
			.track-buttons>li>a:active{
				background:#333;
			}

.tb-window
.track-button-content{
	display:block;
}
.track-button-content{
	display:none;
}
.track-button-content{
	position:absolute;
	display:none;
	width:460px;
	background:#fff;
	top:25px;
	left:auto;
	right:12px;
	z-index:10;
	color:#555;
}

.track-button-content .triangle { 
	left: auto;
	right: -14px;
	}

.volume-state{
	width:50px;
	background:#456726;
	height:6px;
	cursor:pointer;
	border: 1px solid #3a3a3a;
	
	position:absolute;
	top:23px;
	right:0;
	}
	.volume-state-position{
		height:6px;
		width:0;
		position:absolute;
		top:0;
		left:0;
		background:#6a9e3a;
	}
.track-panel{
	top:1px;
	position:relative;
	height:54px;
	
	}
.playlist-info .artist-info{
	margin-bottom:30px;
}