.complex-page{
	position: relative;

	max-width: 750px;
	}
.inactive-page{
	display: none;
}

.page-scheme{
	
	float:left;
	

	}
.complex-page.page-scheme .complex-page-scroll_con{
	overflow-x: hidden;
	overflow-y: auto;
	
	margin-right: -30px;
	height: 100%;
	}
	.complex-page.page-scheme .complex-page_material{
		width: 200px;
		}

@media (min-width:760px) {
	.screens{
		padding-right: 240px;
		box-sizing: border-box;
	}
	.complex-page{
		left: 240px;
		}
	
	.page-scheme{
		display: block;
		left:0;
		width: 200px;
		}
}

.shared-parts{
	position: relative;
	max-width: 750px;
	}
@media (min-width:760px) {
	.shared-parts {
		left: 240px;
		}
}

.full_page_need .page-scheme{
	display: none;
	}
.full_page_need .full-page{
	left: 0;
	max-width: none;
}



.page-scheme{
		position: absolute;
		top: 0;
		bottom: 0;
		overflow: hidden;
		
		}
	.complex-page{
		-webkit-transition: left 0.12s ease-out;
		-moz-transition: left 0.12s ease-out;
		-o-transition: left 0.12s ease-out;
		transition: left 0.12s ease-out;
		}
