.complex-page{
	position: relative;

	max-width: 750px;
	}
.shared-parts{
	position: relative;
	max-width: 750px;
	}
.inactive-page{
	display: none;
}

.page-scheme{
	
	float:left;
	

	}
.complex-page.page-scheme .complex-page-scroll_con{
	overflow-x: hidden;
	overflow-y: auto;
	
	margin-right: -30px;
	height: 100%;
	}
	.complex-page.page-scheme .complex-page_material{
		width: 200px;
		}
.yes-transform_support{

	}
@media (min-width:760px) {
	.screens{
		padding-right: 240px;
		box-sizing: border-box;
	}

	.complex-page{
		left: 240px;
		}
	.shared-parts {
		left: 240px;
		}
	.page-scheme{
		left:0;
	}

	.yes-transform_support .complex-page{
		left: auto;

		-moz-transform: translateX(240px);
		-webkit-transform: translateX(240px);
		-o-transform: translateX(240px);
		transform: translateX(240px);

		}
	.yes-transform_support .shared-parts {
		left: auto;

		-moz-transform: translateX(240px);
		-webkit-transform: translateX(240px);
		-o-transform: translateX(240px);
		transform: translateX(240px);
		}
	.yes-transform_support .page-scheme{
		left: auto;

		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}

	.page-scheme{
		display: block;
		
		width: 200px;
		}
}

.full_page_need .page-scheme{
	display: none;
	}
.full_page_need .full-page{
	left: 0;
	max-width: none;
}



.page-scheme{
		position: absolute;
		top: 0;
		bottom: 0;
		overflow: hidden;
		
		}
	.complex-page{
		-webkit-transition: left 0.12s ease-out, -webkit-transform 0.12s ease-out;
		-moz-transition: left 0.12s ease-out, -moz-transform 0.12s ease-out;
		-o-transition: left 0.12s ease-out, -o-transform 0.12s ease-out;
		transition: left 0.12s ease-out, transform 0.12s ease-out;
		}
