.complex-page{
	position: relative;


	max-width: 750px;
	transform-origin: 0 0;
	}
.complex-page-scroll_con{
	-webkit-transform: translateZ(0);
}
.shared-parts{
	position: relative;
	max-width: 750px;
	}
.inactive-page{
	display: none;
}

.page-scheme{

	float:left;


	}
.complex-page.page-scheme .complex-page-scroll_con{
	overflow-x: hidden;
	overflow-y: auto;

	margin-right: -30px;
	height: 100%;
	}
	.complex-page.page-scheme .complex-page_material{
		width: 200px;
		}
.yes-transform_support{

	}
@media (min-width:760px) {
	.app_map_con{
		padding-right: 240px;
		box-sizing: border-box;
		}
		.full_page_need .app_map_con {
			padding-right: 0;
			}

	.complex-page{
		left: 240px;
		}
		.full_page_need .full-page.complex-page {
			left: auto;
			}
		.full_page_need .full-page.complex-page {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		.full_page_need .full-page.complex-page .complex-page-scroll_con{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

	.shared-parts {
		left: 240px;
		}
	.page-scheme{
		left:0;
	}

	.yes-transform_support .complex-page{
		left: auto;
		transform: translateX(240px);

		}
		.yes-transform_support .full_page_need .full-page.complex-page{
			transform: translateX(0);

			}
	.yes-transform_support .shared-parts {
		left: auto;
		transform: translateX(240px);
		}
	.yes-transform_support .page-scheme{
		left: auto;
		transform: translateX(0);
	}

	.page-scheme{
		display: block;

		width: 200px;
		}
}

.full_page_need .page-scheme{
	display: none;
	}
.full_page_need .full-page{
	left: 0;
	max-width: none;
}



.page-scheme{
		position: absolute;
		top: 0;
		bottom: 0;
		overflow: hidden;

		}
	.app-loaded .can_be_animated.complex-page{
		transition: left 0.12s ease-out, transform 0.12s ease-out;


		/*-webkit-transition: left 2s ease-out, -webkit-transform 2s ease-out;
		-moz-transition: left 2s ease-out, -moz-transform 2s ease-out;
		-o-transition: left 2s ease-out, -o-transform 2s ease-out;
		transition: left 2s ease-out, transform 2s ease-out;*/
		}
