.search-results-holder{
	padding-left:60px;
	position:relative;
	margin-top:20px;
	}
	.search-results-holder h4{
		position:absolute;
		left:0;
		margin:4px 0 0;
		font-weight:400;
	}

	.search-results-holder ul{
		overflow:hidden;
		margin:0;
		border-left:1px solid #5d5d5d;
		border-bottom:1px solid #5d5d5d;
		min-height:26px;
		}
		.search-results-holder p{
			width:500px;
			margin-left:1px;
		}
		.search-results-holder ul li{
			position:relative;
			}
		.search-results-holder ul li.searched-bordered{
			border-top: 1px dashed #5d5d5d;
			}
		.search-results-holder ul li:first-child{
			border-top:0 !important;
			}
		.search-results-holder   a,
		.search-results-holder   button{
			display:block;
			cursor:pointer;
			overflow: hidden;
			margin: 0;
			padding:5px;
			}
			.search-results-holder
			ul
			.sugg-track-dur{
				float:right;
				margin:0;
			}
		.search-results-holder button{
			border:0;
			text-align:right;
			width:100%;
			background: transparent;
			color:#aaa;
		}
		.search-results-holder button.search-button{
			text-align:left;
		}
		.search-results-holder a.active,
		.search-results-holder button.active{
			background-color:#555  !important;
			padding-right:23px;
		}
		.search-results-holder a.active:after,
		.search-results-holder button.active:after{
			content: '↩';
			position:absolute;
			top:12px;
			right:5px;
			line-height:20px;
			height:20px;
			margin-top:-10px;
			vertical-align:middle;
			color:#fff;
		}
		.search-results-holder a:hover,
		.search-results-holder button:hover
		{
			color:#f6f0e1;
			background-color:#666  !important;
			}
		
			.search-results-holder
			ul.results-artists
			img{
				float:left;
				width:34px;
				height:34px;
				margin-right:8px;
				border:1px solid #eee;
				}
			.search-results-holder
			ul.results-artists
			span{
				overflow:hidden;
				margin-top:1px;
				margin-bottom:0;
				
				}
	.search-results-holder
	ul:last-child{
		border-bottom:0;
	}
	.search-results-holder
	ul:nth-of-type(even){
		background-color:#4d4d4d;
	}
	.search-results-holder
	ul.recommend-tags a{
		padding-left:47px;
		background: url(../i/tag-icon.png) no-repeat 26px 50%;
	}
	.search-results-holder
	ul.recommend-tags{
		border-bottom:0  !important;
	}
	.search-results-holder .nothing-found{
		padding-left:47px  !important;
		background:inherit  !important;
		}
		.search-results-holder .nothing-found:hover{
			background:inherit  !important;
			color:inherit  !important;
		}
	.search-results-holder button span{
		border-bottom:1px dashed #5c5c5c;
	}
#search_result p{
	margin:0;
	position:relative;
	}
