.navs{
	overflow:hidden;
	padding-top:6px;
	padding-left:12px;
	padding-right:12px;
	min-height:36px;
	background:#6e1573 url(../i/nav/head-gradient.png) repeat-x;
	border-bottom:1px solid #333;
	font-family:"Trebuchet MS", sans-serif;
	
	
	font-size:18px;
	font-family: "Trebuchet MS", sans-serif;

}
.daddy.not-inited * {
	display:none;
}
.daddy{
	margin-right:19px;
	height: 31px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.player-played .np{
	background-image:url(../i/equalaizer.gif);
}
 #slider .screens{
 	max-width: 900px;
	
}

.start-screen{
	padding-bottom:20px;


	
	}

#search {
	max-width: 750px;
	margin: 0 auto;
	margin-left: 240px;
	}
.complex-page{
	margin-left: 240px;

	max-width: 750px;
	}
.inactive-page{
	display: none;
}

.page-scheme{
	display: block;
	float:left;
	width: 200px;
	margin-left:0;
	}




.block-for-startpage, .for-startpage{
	margin-top:2em;
}



			
		
/**  New nav **/	
.show-zoom-to-track li.viewing-song .track-context{
	display:block;
}
.track-context{
	display:none;
}

li.playing-song .play-controls{
	
}


.show-zoom-to-track .playlist-info{
	display:none;
}
.show-zoom-to-track .load-more-songs{
	display: none;
}


.show-zoom-to-track .play-list-panel{
	display:none;
}
.show-zoom-to-track ul.tracks-for-play .play-controls{
	display:none;
}
.show-zoom-to-track ul.tracks-for-play{

	padding-top:36px;
}
ul.tracks-for-play > li{
	background-color: #505050;
}


.show-zoom-to-track ul.tracks-for-play > li.to-play-previous{
	margin-top:-36px;
	}
.show-zoom-to-track ul.tracks-for-play > li.to-play-next{
	
	}
.show-zoom-to-track ul.tracks-for-play > li.viewing-song{
	border-bottom: 1px solid #4D4D4D;
	border-top: 1px solid #737373;
	background: #5E5E5E;
	padding: 5px;
	border-radius: 10px;
	color:#fff;
	margin:0 -5px;
	}
	.show-zoom-to-track ul.tracks-for-play > li.viewing-song .track-node{
		font-size:1.3em;
		cursor:default;
		height:19px;
		}
	.show-zoom-to-track ul.tracks-for-play > li.viewing-song .song{
		
		
		text-shadow: 0 1px 0 #333;
		}
	.show-zoom-to-track ul.tracks-for-play>li.viewing-song .search-mp3-failed{
		color:#737373;
	}
	

	
.show-zoom-to-track ul.tracks-for-play>li{
	display:none;
	}	
	
.show-zoom-to-track ul.tracks-for-play>li.to-play-previous,
.show-zoom-to-track ul.tracks-for-play>li.viewing-song,
.show-zoom-to-track ul.tracks-for-play>li.to-play-next{
		display: list-item;
		left:0;
		right:0;
	}
	
	

.not-as-application .navs .nav-title{
	float:left;
}


		
.nav-start{
	padding: 4px 18px 4px;
	width: 20px;
	margin-right: 0;
	margin-left: 0;
}

.nav-start{
	-webkit-transition: margin-right 0.1s ease-out;
	-moz-transition: margin-right 0.1s ease-out;
	-o-transition: margin-right 0.1s ease-out;
	transition: margin-right 0.1s ease-out;
	border-left:1px solid transparent;
}	

.nav-start .icon{
	background-image:url(../i/nav/seesu-nav-logo.png);
	}
	.nav-start:active .icon{
		background-image:url(../i/nav/seesu-nav-logo-active.png);
		}
.nav-search-results{
	padding:4px 14px 4px 9px;
	width:15px;
	}
.nav-search-results .icon{
	background-image:url(../i/nav/seesu-nav-search.png);
	}
	.nav-search-results:active .icon{
		background-image:url(../i/nav/seesu-nav-search-active.png);
		}

.np-button{
	width:20px;	
	position:absolute;
	right:12px;
	top:8px;
	padding: 4px 8px;
	border-right: 1px solid transparent;
	}
	.np{
		cursor:pointer;
		height:20px;
		width:20px;
		background:url(../i/equalaizer_stoped.gif) no-repeat;
		}
@media (max-width:550px) {

	.daddy .stack-top{
		width:30px;
		}
	
}

.art-card{
	max-width: 750px;
	margin: 0 auto;
	
	overflow:hidden;
	padding-bottom: 20px;
	}
.full-page .art-card{
	padding: 24px 10px;
	}
	.art-card ul{
		
	}
	.art-card .row-header{
		margin-bottom:7px;
	}
	.art-card h5{
	
		}
		.art-card h5 a.extends-header{
			margin-left:14px;
			}
	.art-card-meta{
		float:left;
		width:50%;
		
		min-height:140px;
		margin-bottom:24px;
		}
		.top-tracks,.art-card-tags{
			margin-right:24px;
			margin-bottom:24px;
			}
			.top-tracks.loading,.art-card-tags.loading{
				background: url(../i/spinner_small.gif) no-repeat 100% 4px;
				}
					
	
			.art-card-meta ul{
				overflow:hidden;
				}
				.art-card-meta ul li{
					float:left;
					white-space:nowrap;
					margin-right:1em;
					}
	
	.art-card-similar{
		float:right;
		width:50%;
		margin-bottom:24px;
		}
		.art-card-similar.loading{
			background: url(../i/spinner_small.gif) no-repeat 100% 4px;
			}
		.art-card-similar ul{
			overflow:hidden;
			}
			.art-card-similar ul li{
				float:left;
				margin-right:1em;
				white-space:nowrap;
				}

	
	
	.full-page .art-card-albums{
		background: #3f3f3f;
		padding: 10px 10px;
		border-radius: 6px;
		margin: 0 -10px 24px;

		clear:both;
		
		}
		.art-card-albums.loading .row-header{
			background: url(../i/spinner_dark_small.gif) no-repeat 100% 0%;
			}
	.art-card-albums.show-all-albums{
		
		}
		.art-card-albums .albums-groups{
			height:126px;
			overflow:hidden;
		}
		.art-card-albums.show-all-albums .albums-groups{
			height:auto;
		}
		.art-card-albums ul{
			overflow:hidden;
			margin:0 0 12px;
			padding-left:0;
			}

			.art-card-albums ul li{
				float:left;
				}
			.art-card-albums ul li img{
				
				}
				
			.art-card-albums ul li{
				width:126px;

				}
				.art-card-albums ul li a{
					display:block;
					border-bottom:0;
					color:#aaaaaa;
					position: relative;
					}
				.page-scheme .art-card-albums ul li a{
					overflow: hidden;
					}
					.art-card-albums ul li a:hover{
						color:#fff;
						}
						.art-card-albums ul li a:hover  .album-name{
							opacity: 1;
						}
				.art-card-albums ul li img{
					width:126px;
					display:block;
					height:126px;
					margin-right:4px;
					background:#ccc url(http://cdn.last.fm/flatness/catalogue/noimage/2/default_album_medium.png) no-repeat 2px 2px;
				}
				.art-card-albums ul li .album-name{
					
					text-overflow: ellipsis;
					overflow:hidden;
					
					bottom:0;
					left:0;
					right:0;
					position: absolute;
					background: black;
					opacity: 0.7;
					
					}
	.full-page .art-card-bio{
		float: right;
		width: 50%;
		}
		.art-card-bio.loading{
			min-height:20px;
			background: url(../i/spinner_small.gif) no-repeat 100% 0%;
			}
	.page-scheme .art-card-bio{
		display: none;
		}
	.full-page .art-card-image{
		width:50%;
		float:left;
		}
		
		.full-page .art-card-image-padding{
			padding-right:24px;
		}
		.art-card-image img{
			width:100%;
			margin-bottom:24px;
		}
@media (max-width:550px) {
	.art-card-similar, .art-card-meta{
		float:none;
		width:auto;
	}
}





.page-scheme{

	}
	.page-scheme .art-card{

		}
		.page-scheme .art-card-meta{
			float:none;
			width: auto;
			}
		.page-scheme .art-card-similar{
			float:none;
			width: auto;
			}
			.page-scheme .art-card-albums .albums-groups{
				height: auto
				}
			.page-scheme .art-card-albums ul li{
				float:none;
				overflow: hidden;
				width: auto;
				margin-bottom: 14px;
				}
			.page-scheme .art-card-albums ul li img{
				width: 38px;
				height: 38px;
				float:left;
				}
			.page-scheme .art-card-albums ul li .album-name{
				position: static;
				background: transparent;
				}