.navs{
	overflow:hidden;
	padding-top:6px;
	padding-left:25px;
	padding-right:25px;
	min-height:36px;
	background:#6e1573 url(../i/nav/head-gradient.png) repeat-x;
	border-bottom:1px solid #333;
	font-family:"Trebuchet MS", sans-serif;
	
	
	font-size:18px;
	font-family: "Trebuchet MS", sans-serif;

}
.daddy.not-inited * {
	display:none;
}
.daddy{
	float:left;
}
.np{
	cursor:pointer;
	height:20px;
	width:20px;
	background:url(../i/equalaizer_stoped.gif) no-repeat;
	float: right;
	margin-top:4px;
	position:absolute;
	right:25px;
}
.player-played.np{
	background-image:url(../i/equalaizer.gif);
}
#search_result{
	display:none;
	}	

.start-screen{
	display:none;
	max-width: 750px;
	margin:0 auto;
	padding-bottom:20px;
	}

	
	
#playlist-level{
	display:none;
	max-width: 750px;
	margin:0 auto;
	position: relative;
}

#search-desciption{
	display:none;
}
.block-for-startpage, .for-startpage{
	display:none;
	margin-top:2em;
}
.lfm-start{
	display:none;
	}
.show-start{
	
	}
	.show-start #search{
		display:block;
	}
	.show-start .lfm-start,
	.show-start .for-startpage,
	.show-start .block-for-startpage {
		display:block;
		}
	.show-start .start-screen{
		display:block;
		}	
#search{
	display:none;
}
.show-search{
	}
	.show-search #search{
		display:block;
	}
	.show-search #search-use-hint{
		display:none;
	}
	.show-search #search-desciption{
		display:block;
	}
	.show-search .start-screen{
		display:block;
		}	
.show-search-results {
	}
	.show-search-results .start-screen{
		display:block;
		} 
	.show-search-results #search_result{
		display:block;
		}
.show-full-nav{
	}
.show-player-page{
	}
	.show-player-page #playlist-level{
		display:block;
		}
		
		
/**  New nav **/	
.show-zoom-to-track li.viewing-song .track-context{
	display:block;
}
.track-context{
	display:none;
	min-height: 412px;
}

li.playing-song .play-controls{
	display:block;
}

.show-zoom-to-track .play-list-holder{
	position:static;
	padding-top:0px;
}
.show-zoom-to-track .playlist-info{
	display:none;
}
.player-holder{
	height:23px;
	position:relative;
}

.show-zoom-to-track .tracks-magic{
	position:static;
}
.show-zoom-to-track .play-list-panel{
	display:none;
}
.show-zoom-to-track ul.tracks-for-play .play-controls{
	display:none;
}
.show-zoom-to-track ul.tracks-for-play{

	padding-top:33px;
}
.show-zoom-to-track ul.tracks-for-play>li.to-play-previous{
	margin-top:-33px;
	}
.show-zoom-to-track ul.tracks-for-play>li.to-play-next{
	
	}
.show-zoom-to-track ul.tracks-for-play>li.viewing-song{
	border: 1px solid #666;
	background: #5E5E5E;
	padding: 5px;
	border-radius: 10px;
	border-bottom-color:#4D4D4D;
	}
	.show-zoom-to-track ul.tracks-for-play>li.viewing-song .song{
		font-size:1.3em;
		cursor:default;
		text-shadow: 0 1px 0 #333;
		}
		.show-zoom-to-track ul.tracks-for-play>li.viewing-song .song .song-duration{
			color:#aaa;
		}

.show-zoom-to-track ul.tracks-for-play>li{
	display:none;
	}	
	
.show-zoom-to-track ul.tracks-for-play>li.to-play-previous,
.show-zoom-to-track ul.tracks-for-play>li.viewing-song,
.show-zoom-to-track ul.tracks-for-play>li.to-play-next{
		display: list-item;
		left:0;
		right:0;
	}
	
	
	
.not-as-application .navs .nav-title{
	float:left;
}
.navs .nav-title{
	display:block;
	padding-top:5px;
	padding-left:10px;
	overflow:hidden;
	white-space:nowrap;
	
	height:20px;
	line-height:20px;
	text-overflow: ellipsis; 
}
.nnav{
	height:20px;
	float:left;
	cursor:pointer;
	
	padding-right:30px;
	padding-left:9px;
	padding-top:4px;
	padding-bottom:4px;
	border-right:1px solid #731677;
	border-top:1px solid #cb85cf;
	border-bottom:1px solid #3d0740;
	
	background:url(../i/nav/button-gradient.png) repeat-x 100% 0;
	position:relative;
	
	line-height:20px;
	
	text-shadow:0 1px 0 #000;
	margin-right:10px;
	
	}

		

.nnav{
	-moz-border-radius:0 6px 6px 0;
	-webkit-border-radius:0 6px 6px 0;
	border-radius:0 6px 6px 0;
	padding-right:14px;
	}
	.nnav b{
		position:absolute;
		width:15px;
		left:-15px;
		z-index:2;
		
		background:url(../i/nav/button-arrow.png) no-repeat 0 0;
		height:30px;
		top:-1px;
		}

.nnav:after{
	content: " ";
	position:absolute;
	left:0;right:0;
	height:28px;
	bottom:-2px;
	border-bottom:1px solid #904695;
	border-radius:0 0 6px 0;
	display:block;
}

.nnav:first-child:after{
	
}
.nnav:hover{
	color:#fff;
	background-image:url(../i/nav/button-gradient-hover.png);
	}
	.nnav:hover b{
		background-image:url(../i/nav/button-arrow-hover.png) ;
		}
.nnav:active{
	text-shadow:none;
	background-image:url(../i/nav/button-gradient-active.png);
	
	}
	.nnav:active b{
		background-image:url(../i/nav/button-arrow-active.png) ;
		}
.nav-start{
	background:url(../i/nav/seesu-nav-logo.png) no-repeat 10px 4px, url(../i/nav/button-gradient.png) repeat-x 100% 0;
	width:20px;
	}
	.nav-start:hover{
		background-image:url(../i/nav/seesu-nav-logo.png), url(../i/nav/button-gradient-hover.png);
		}
		.nav-start:active{
			background-image:url(../i/nav/seesu-nav-logo-active.png), url(../i/nav/button-gradient-active.png);
			}
.nav-search-results{
	background:url(../i/nav/seesu-nav-search.png) no-repeat 10px 4px, url(../i/nav/button-gradient.png) repeat-x 100% 0;
	width:15px;
	}
	.nav-search-results:hover{
		background-image:url(../i/nav/seesu-nav-search.png), url(../i/nav/button-gradient-hover.png);
		}
		.nav-search-results:active{
			background-image:url(../i/nav/seesu-nav-search-active.png), url(../i/nav/button-gradient-active.png);
			}

