.navs{
	-webkit-transform: translateZ(0);
	
	overflow:hidden;
	padding-top:6px;
	padding-right:1rem;
	padding-left:1rem;
	min-height:36px;
	border-bottom:1px solid #252525;
	background:#444 url(../i/nav/head-gradient.png) repeat-x;
	
	background-image: -o-linear-gradient(#525252,#363636);
	background-image: -moz-linear-gradient(100% 0% 270deg, #525252, #363636);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#525252), to(#363636));
	background-image: linear-gradient(#525252,#363636);
	
	font-size:1.28rem;
	font-family:"Trebuchet MS", sans-serif;
	font-family: "Trebuchet MS", sans-serif;

}
.daddy.not-inited * {
	display:none;
}
.daddy{
	overflow: hidden;
	
	margin-right:19px;
	height: 31px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.appnav_wrap {
	position: relative;
}

.player-played .np{
	background-image:url(../i/equalaizer.gif);
}
 #slider .screens{
 	max-width: 900px;
	
}

.start-screen{
	padding-bottom:1.5rem;
	}
.full-page .start-screen{
	padding: 0 1rem 1.5rem;
	}
.page-scheme .start-screen{
	padding-top: 1rem;
	}
.page-scheme .art_card{
	padding-top: 1rem;
}
.page-scheme .usual_page{
	padding-top: 1rem;
	padding-bottom: 1rem;
}
#search {
	margin: 0 auto;
	

	}


.block-for-startpage{
	margin-top:2rem;
}

.page-scheme .relations-invites-wrap,
.page-scheme .relations-likes-wrap,
.page-scheme .users-play-this{
	display: none;
	}

.random-metro-chart{

	}
	.random-metro-chart .show-in-header{
		display: none;
		margin-left: 0 !important;
		}
	.page-scheme .random-metro-chart ul{
		display: none;
		}		
	.page-scheme .random-metro-chart .refresh-in-header{
		display: none;
		}
	.page-scheme .random-metro-chart .show-in-header{
		display: inline;
		}


.tags-hyped{

	}
	.page-scheme .tags_list a{
		display: block;
		padding:0.2rem 0.5rem;
		border: 0;
		border-radius: 0;
		}
	.page-scheme .tags_list span:nth-of-type(even) a{
		background-color: #4D4D4D;

		}
	.page-scheme .tags_list a:hover{
		background-color: #535353;
		}
	#slider .page-scheme .tags_list a.surf_nav{
		background-color: #000;
		}

/**  New nav **/	

	

.not-as-application .navs .nav-title{
	float:left;
}


		
.nav-start{
	margin-right: 0;
	margin-left: 0;
	padding: 4px 18px 4px;
	width: 20px;
}

.nav-start{
	border-left:1px solid transparent;
	-webkit-transition: margin-right 0.1s ease-out;
	-moz-transition: margin-right 0.1s ease-out;
	-o-transition: margin-right 0.1s ease-out;
	transition: margin-right 0.1s ease-out;
}	

.nav-start .icon{
	background-image:url(../i/seesu_logo.svg);
	}
	
.nav-search_results{
	padding:4px 1rem 4px 9px;
	width:15px;
	}
.nav-search_results .icon{
	background-image:url(../i/nav/seesu-nav-search.png);
	}
	.nav-search_results:active .icon{
		background-image:url(../i/nav/seesu-nav-search-active.png);
		}

.np-button{	
	position:absolute;
	top:0;
	right:0;
	padding: 4px 8px;
	width:20px;
	border-right: 1px solid transparent;
	}
	.np{
		width:20px;
		height:20px;
		background:url(../i/equalaizer_stoped.gif) no-repeat;
		cursor:pointer;
		}
@media (max-width:550px) {

	.daddy .stack-top{
		width:30px;
		}
	
}
.full-page .usual_page{
	margin-top:1.72rem;
}
.preview_ffp {
	display: none;
}
.full-page .preview_ffp {
	display: block;
}
.art_card{
	
	overflow:hidden;
	margin: 0 auto;
	padding-bottom: 20px;
	max-width: 750px;
	}


.full_wide_col{
	clear:both;
	}
	.full_wide_col .area_for_button .albums_previews{
		height: 4.6rem;
		}

@media (min-width:490px) {

	.full-page .leftcol{
		width: 50%;
		float:left;
		min-width: 15rem;
		-moz-box-sizing:border-box;
		box-sizing: border-box;
		padding-right: 0.86rem;
		}
	.full-page .rightcol{
		width: 50%;
		float:right;
		padding-left: 0.86rem;
		-moz-box-sizing:border-box;
		box-sizing: border-box;
		min-width: 15rem;
		}
}
.full-page .art_card{
	padding: 1.72rem 10px;
	}
	.art_card ul{
		
	}
	.art_card .row-header{
		margin-bottom:0.5rem;
	}
	.art_card h5{
	
		}
		.art_card h5 a.extends-header{
			margin-left:1rem;
			}
	
	.art_card-statinfo{
		clear: both;
		padding-top:1rem;
		overflow: hidden;
		}
		.area_for_button .albums_previews{
			height: 9.4rem;
			}
	
		

	.page-scheme .art_card-image{
		display: none;
		}


		.art_card-bio.loading{
			min-height:20px;
			position: relative;
			}
			.art_card-bio.loading:after{
				left: auto;
				right: 0;
			}
	.page-scheme .art_card-bio{
		display: none;
		}


		.art_card-image img{
			margin-bottom:1.72rem;
			width:100%;
			background: #666;
		}
@media (max-width:550px) {

}


		

#slider .full_page_need#screens{
	max-width: 100%;
	padding:0;
}
