.vk-needs-login
.vk-login-context{
	display:block;
}
.vk-login-context{
	clear:left;
	display:none;
	}
	.vk-login-context
	.vk-captcha-context{
		display:none;
	}
	.vk-needs-captcha
	.vk-login-context
	.vk-captcha-context{
		display:block;
	}
	.vk-login-context
	form{
		padding-left:10px;
	}
	.vk-login-context
	form
	p{
		overflow:hidden;
		}
		.vk-login-context
		form
		p
		label{
			float:left;
			width:140px;
			padding:2px;
		}
		.vk-login-context
		form
		p
		span.input-place{
			float:left;
		}
		.vk-login-context form p input[type=text],
		.vk-login-context form p input[type=password]{
			width:100px;
		}
.vk-login-context input{
	margin-left:0;
}