.vk-needs-login .vk-login-context{
	display:block;
}

.vk-login-context{
	clear:left;
	border-radius:6px;
	padding:12px;
	margin: 10px 0 15px;
	background:#faebd7 no-repeat 100% 12px;
	color:#000;
	overflow:hidden;
	}
	.moplas-block .vk-login-context{
		border-radius:0px;
		display: none;
		clear:both;

		}
	.moplas-block.want-more-songs .vk-login-context{
		display: block;
		}
	.big-listener-info .vk-login-context{
		clear: none;
	}
	.vk-login-context .auth-container{
		display:none;
		margin-top:20px;
		}
		.vk-login-context.vk-finishing .auth-container{
			display:block;
		}
		.wait-vk-login .auth-container{
			display:block;
			}
	.vk-login-context .decor{
		padding-right:16px;
		background:no-repeat 100% 0;
	}
	.vk-login-context.waiting-vk-login .decor{
		background-image:url(../i/spinner_small_yellow.gif)
	}
	.vk-login-context button{
		margin:0;
	}
	.vk-login-context a{
		color:#83ac1b;
		border-bottom-color:#dddba9;
	}
	.vk-login-context a:hover{
		color:#a1d404;
		border-bottom-color:#e3e5a0;
	}
	.vk-login-reg-link{
		float:right;
		margin-left:12px;
		text-align:right;
		}
		.vk-login-reg-link div{
			margin-bottom:5px;
			}
	.vk-login-context a.js-serv{
		
		}
		.vk-login-context a.js-serv:hover{
			
		}
	.vk-login-context .vk-captcha-context{
		display:none;
	}
	.vk-needs-captcha
	.vk-login-context
	.vk-captcha-context{
		display:block;
	}
	.vk-login-context form{
	}
	.vk-login-context form p{
		overflow:hidden;
		}
		.vk-login-context form p label{
			
			overflow:hidden;
		}
		.vk-login-context form p label span.label{
			float:left;
			padding:2px 2px 2px 6px;
		}
		.vk-login-context form p span.input-place{
			float:left;
			text-align:right;
		}
		.vk-login-context form p input[type=text],
		.vk-login-context form p input[type=password]{
			width:140px;
			margin:0;
		}
.vk-login-context input{
	margin-left:0;
}
.want-to-sign-in-to-vk .vk-auth{
	display:block;
}
.vk-auth{
	display:none;
}