.vk-needs-login .vk-login-context{
	display:block;
}
.vk-login-context .login-request{
	display:none;
}
.vk-login-context.usual-login .usual-login-request{
	display:inline;
}
.vk-login-context.enhancement-login .enhancement-login-request{
	display:inline;
}
.vk-login-context.stabilization-login .stabilization-login-request{
	display:inline;
}
.vk-login-context{
	clear:left;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	padding:12px;
	margin: 10px 0 15px;
	background:#faebd7 no-repeat 50% 50%;
	color:#000;
	}
	.vk-login-context.waiting-vk-login{
		background-image:url(../i/spinner_small_yellow.gif)
	}
	.vk-login-context button{
		margin:0;
	}
	.vk-login-context a.js-serv{
		color:#83ac1b;
		border-bottom-color:#dddba9;
		}
		.vk-login-context a.js-serv:hover{
			color:#a1d404;
			border-bottom-color:#e3e5a0;
		}
	.vk-login-context .vk-captcha-context{
		display:none;
	}
	.vk-needs-captcha
	.vk-login-context
	.vk-captcha-context{
		display:block;
	}
	.vk-login-context form{
	}
	.vk-login-context form p{
		overflow:hidden;
		}
		.vk-login-context form p label{
			
			overflow:hidden;
		}
		.vk-login-context form p label span.label{
			float:left;
			padding:2px 2px 2px 6px;
		}
		.vk-login-context form p span.input-place{
			float:left;
			text-align:right;
		}
		.vk-login-context form p input[type=text],
		.vk-login-context form p input[type=password]{
			width:140px;
			margin:0;
		}
.vk-login-context input{
	margin-left:0;
}
.want-to-sign-in-to-vk .vk-auth{
	display:block;
}
.vk-auth{
	display:none;
}