<?xml version='1.0' encoding='UTF-8'?>
<widget network="public">
  <widgetname>Seesu</widgetname>
  <description>Get music you like from last.fm and play it with vk.com</description>
  <width>440</width>
  <height>200</height>
  <icon>images/favicon.png</icon>
  <author>
    <name>Gleb Arestov</name>
	<name></name>
    <email>gleb.arestov@gmail.com</email>
    <organization>Spreadus foundation</organization>
  </author>
  <author>
    <name>Nikita Vasilyev</name>
	<name></name>
    <email>me@elv1s.ru</email>
    <link>http://elv1s.ru/</link>
  </author>
  <author>
    <name>Alexandr Koss</name>
	<name></name>
    <email>kossnocorp@gmail.com</email>
    <organization>Spreadus foundation</organization>
  </author>
  <id>
    <name>Seesu</name>
    <revised>2008-10-16</revised>
  </id>
  <security>
    <access>
      <protocol>https</protocol>
      <protocol>http</protocol>
      <host>last.fm</host>
      <host>vkontakte.ru</host>
      <host>vk.com</host>
      <host>widgets.opera.com</host>
    </access>
	<content java="no" plugins="yes" />
  </security>
</widget>