<?xml version='1.0' encoding='UTF-8'?>
<widget network="public" transparent="transparent">
  <widgetname>Seesu</widgetname>
  <description>You can find &amp; get any music you need. Type in an artist or genre.</description>
  <width>640</width>
  <height>600</height>
  <icon>icon.png</icon>

  <author>
	<name>Gleb Arestov</name>
	<name></name>
	<email>gleb.arestov@gmail.com</email>
	<link>http://arestov.me/</link>
	<organization>Spreadus foundation</organization>
  </author>
  <author>
	<name>Nikita Vasilyev</name>
	<name></name>
	<email>me@elv1s.ru</email>
	<link>http://elv1s.ru/</link>
  </author>
  <author>
	<name>Alexandr Koss</name>
	<name></name>
	<email>kossnocorp@gmail.com</email>
	<organization>Spreadus foundation</organization>
  </author>
  <id>
	<name>Seesu</name>
	<revised>20010-3-8</revised>
  </id>
</widget>
