/*
master.css
*/ 
html{
	font-size:14px;

	/* rem hack */
	font-size: 1rem;
}
body{
	margin:0;
	padding:0;
	width: 760px;
	
	height:596px;
	color:#E6E6E6;
	
	font-family: Arial, Helvetica ,sans-serif;
	line-height:1.5;
	
	
	/* rem hack */
	width: 54.285714285714285rem;
	height: 42.57142857142857rem;
}
body.slice-for-height{
	overflow:hidden;
}
html.not-as-application{
	position:static;
}
html.not-as-application, .not-as-application  body{
	height:100%;
	width: auto;
}

.not-as-application body{
	background-color: #505050;
	
	
}
.not-as-application .slider-materail{
	padding-bottom:15px;

	/* rem hack */
	padding-bottom: 1.0714285714285714rem;
}
.big_spinner:after, .app-loading-mark:after, .wait_love_done .add-to-lfmfav:after, .artists_list.list_loading_state:after, ul.tracks-for-play.loading:after, .photo-cont.loading-images:after{
	position: absolute;
	top:0;
	left:0;
	content: url(../i/spinner.svg);
	height: 1.72rem;
	width: 1.72rem;
	pointer-events: none;
}
.small_spiner:after,
.selected-mf.buffering-progress .mf-progress:after,
.block-for-startpage.loading:after,
#search #search-p label span.loading:after,
.search_results-container h4.loading:after,
.art_card-bio.loading:after,
.vk-login-context.waiting-auth .deco:after,
.desc_prevw_list.list_loading:after,
.search-mp3 .files-load-states:after,
a.track_name_loading .song-track-name,
.files-list-pioneer.list_loading:after{
	position: absolute;
	top:0;
	left:0;
	content: url(../i/spinner.svg);
	height: 1.143rem;
	width: 1.143rem;
	pointer-events: none;
}

.keys-navigation-focus{
	box-shadow: 0 0 3pt 2pt orange;
	}
	
.app-loading-mark{
	margin: 1rem 0;
	height: 1.72rem;
	
	position: relative;
	}

	.app-loaded .app-loading-mark{
		display: none;
		}

.sm2proxy{
	position: absolute;
	top:3rem;
	z-index:-10;
	width:12rem;
	height:12rem;
	border: 0;	
}		
.sm2proxy.sm2-complete{
	left:-70rem;
}
.sm2proxy.long-appearance{
	z-index:10;
}
.song-row-content{
	position:relative;
	margin: 0 -13px 11px;
	padding: 0 13px 1rem;
	border-top: 1px solid #555555;
	border-bottom: 1px solid #6e6e6e;
	background: #5a5a5a;
	
	/* rem hack */
	margin: 0 -0.9285714285714286rem 0.7857142857142857rem;
	padding: 0 0.9285714285714286rem 1rem;
	border-top: 0.07142857142857142rem solid #555555;
	border-bottom: 0.07142857142857142rem solid #6e6e6e;
}
	.song-row-content .rept-song{
		padding-top:1rem;
		}
		.rept-song-label{
			padding: 0.3rem 0.5rem;
			}
	.song-row-content{

	}
.row-listeners-context{
	margin-top:15px;

	/* rem hack */
	margin-top: 1.0714285714285714rem;
}
.big-listener-info{
	overflow:hidden;
	padding-top:1rem;
	}
	.big-listener-info .get-vk-photo-request-b{
		float:right;
		margin-bottom: 1rem;
		margin-left:1rem;
		}
@-webkit-keyframes "pulse1" {
	 0% {
	    background-color: red;
	 }
	 50% {
	    background-color: #bb17b5;
	 }
	 100% {
	    background-color: red;
	 }
 
}
@-moz-keyframes pulse1 {
     0% {
	    background-color: red;
	 }
	 50% {
	    background-color: #bb17b5;
	 }
	 100% {
	    background-color: red;
	 }
}
@-o-keyframes pulse1 {
     0% {
	    background-color: red;
	 }
	 50% {
	    background-color: #bb17b5;
	 }
	 100% {
	    background-color: red;
	 }
}	
@keyframes "pulse1" {
	 0% {
	    background-color: red;
	 }
	 50% {
	    background-color: #bb17b5;
	 }
	 100% {
	    background-color: red;
	 }

}
.moplas-block .show-all-songs{
	position: relative;
	z-index: 2;
	float:right;
	}
	.moplas-block .show-all-songs .notifier{
		position: absolute;
		top: -0.75rem;
		left: 0;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 0.75rem;
		background: red;
		text-align: center;
		line-height: 1.5rem;
		opacity: 0.8;
		color:#fff;
		-webkit-animation: pulse1 1s cubic-bezier(0.77, 0, 0.175, 1) infinite;
		-moz-animation: pulse1 1s cubic-bezier(0.77, 0, 0.175, 1) infinite;
		-o-animation: pulse1 1s cubic-bezier(0.77, 0, 0.175, 1) infinite;
		animation: pulse1 1s cubic-bezier(0.77, 0, 0.175, 1) infinite;
		}
	.moplas-block .show-all-songs a{
		display: inline-block;
		padding:5px 10px;
		color: hsl(0, 0%, 60%);
		text-shadow: 0 1px 0 #4A4A4A;
		cursor: pointer;
		
		/* rem hack */
		padding: 0.35714285714285715rem 0.7142857142857143rem;
		text-shadow: 0 0.07142857142857142rem 0 #4A4A4A;
}
		.moplas-block .show-all-songs a:hover{
			background:#555;
			color:#ccc;
			
			/* bg hover hack */
			background-color:#000;
}
		.moplas-block .show-all-songs a:active{
			box-shadow: inset 0 0 0.8rem 0 #444;
			color:#aaa;
			}
		.moplas-block .show-all-songs a span{
			border-bottom: 1px dotted;
			
			/* rem hack */
			border-bottom: 0.07142857142857142rem dotted;
}
	.moplas-block .messages-c{
		clear:both;
		display: none;
		}
		.moplas-block.want_more_songs .messages-c{
			display: block;
			}
	.moplas-block.want_more_songs .show-all-songs a{
		border-bottom-left-radius: 0.5rem;
		}
.moplas-block{
	padding:0;
	min-height:81px;
	
	/* rem hack */
	min-height: 5.785714285714286rem;
}
	.music-files-lists{
		-webkit-transform: translateZ(0);
		min-height: 33px;
	
		/* rem hack */
		min-height: 2.357142857142857rem;
}
	.moplas-block-shift {
		padding-left: 3.2rem;
	}
	.moplas-block .files-list-pioneer{
		position: relative;
		padding:0.5rem 0;
		font-weight: 400;
		color:#d5d5d5;
		overflow: hidden;
		}
	.moplas-block ul {
		
		}
		.moplas-block .moplas-list li{
			padding:0.5rem 0.4rem 0.5rem 3.1rem;
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
			color:#999;
			cursor: pointer;
			position: relative;
			
			/* rem hack */
			border-top: 0.07142857142857142rem solid transparent;
			border-bottom: 0.07142857142857142rem solid transparent;
}
		.moplas-block .moplas-list li.mf-unavailable{
			color:#666;
			}
			.moplas-block .moplas-list li .play-button-place{
				position: absolute;
				left:0.4rem;
				width: 32px;
				height: 32px;
				top: -0.1rem;
			
				/* rem hack */
				width: 2.2857142857142856rem;
				height: 2.2857142857142856rem;
}
			.moplas-block .moplas-list li .play-button-place .pc-place{
				display: none;
				}
			.moplas-block .moplas-list li.selected-mf .play-button-place .pc-place{
				display:block;
				}
			.moplas-block .moplas-list li .mf-progress{
				overflow: hidden;
				padding:1px 0;
				min-height: 15px;
				max-height:15px;
				
				/* rem hack */
				padding: 0.07142857142857142rem 0;
				min-height: 1.0714285714285714rem;
				max-height: 1.0714285714285714rem;
}
				.moplas-block.want_more_songs .moplas-list li{
					border-top-color:#5D5D5D;
					border-bottom-color:#555555;
					}
				.moplas-block.want_more_songs ul li .mf-progress{
					max-height:none;
					}
			.moplas-block .moplas-list li .mf-duration{
				float:right;
				margin-bottom: 2px;
				margin-left: 5px;
				
				/* rem hack */
				margin-bottom: 0.14285714285714285rem;
				margin-left: 0.35714285714285715rem;
}
			.moplas-block .moplas-list li .mf-source{
				margin-right:5px;
				margin-left: 2px;
				color: hsl(0, 0%, 47%);
				
				/* rem hack */
				margin-right: 0.35714285714285715rem;
				margin-left: 0.14285714285714285rem;
}
				.moplas-block.want_more_songs ul .mf-source{
					display: none;
					}
		
			.moplas-block .moplas-list li a{
				color:inherit;
			}
	.moplas-block .full_mb_part {
		display: none;
	}
	.moplas-block .full_list_switch {
		margin: 0.2rem 0;
		padding-left: 3.2rem;
	}
	.moplas-block.want_more_songs .full_mb_part {
		display: block;
	}
	.moplas_source-tuner {
		background: #535353;
		border-top: 1px solid #4f4f4f;
		border-bottom: 1px solid #646464;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	
		/* rem hack */
		border-top: 0.07142857142857142rem solid #4f4f4f;
		border-bottom: 0.07142857142857142rem solid #646464;
}
	.moplas_source-unavailable {
		color: #666;
	}
	.moplas_source-icon {
		background: transparent no-repeat url(../i/icon-gear.svg);
		height: 1.14rem;
		width: 1.14rem;
		display: block;
		
		cursor: pointer;
		border-radius: 0.3rem;

		}
		.moplas_source-icon:hover {
			background-color: #666;
			
			/* bg hover hack */
			background-color:#000;
}
		.moplas_source-icon:active {
			background-color: #444;
			}
	.moplas-block .moplas_source-icon{
		float: left;
		margin-right: 0.2rem;
		position: relative;
		top: 0.15rem;
	}

	.moplas-block .moplas-list li{
		display: none;
		}



		.want_more_songs.moplas-block .moplas-list{
			margin-bottom:42px;
			
			/* rem hack */
			margin-bottom: 3rem;
}
		.want_more_songs.moplas-block .moplas-list li{

			display: block;
			}


	

		.selected-mf .mf-text{
			font-size: 0.86rem;
			}
			.want_more_songs .selected-mf .mf-text{
				font-size: inherit;
				}
		.selected-mf.buffering-progress .mf-progress{
			position: relative;
			}
		.selected-mf.buffering-progress .mf-progress:after{
			right: 5%;
			top:50%;
			left:auto;
			}
	.moplas-block .moplas-list li.overstocked{
		display: none;
		}
	
		.want_more_songs.moplas-block .moplas-list.want-overstocked-songs .overstocked{
			display: block;
		}
				
	.moplas-block .moplas-list li.selected-mf{
		display: block;
		overflow: hidden;
		}
		.moplas-list .selected-mf .mf-progress{
		
			}
.cant_play_music_message{
	background: #D12E2E;
	text-shadow: 1px 1px 1px #000;
	padding: 0.5rem 1rem;
	
	/* rem hack */
	text-shadow: 0.07142857142857142rem 0.07142857142857142rem 0.07142857142857142rem #000;
}


#close-widget{
	position:absolute;
	top:5px;
	right:8px;
	height:25px;
	color:#ffffff;
	font-size:1.2rem;
	font-family:"Trebuchet MS", sans-serif;
	line-height:1;
	cursor:pointer;
	
	/* rem hack */
	top: 0.35714285714285715rem;
	right: 0.5714285714285714rem;
	height: 1.7857142857142858rem;
}
	
	#close-widget:hover{
		color:#E52573;
	
		/* bg hover hack */
		background-color:#000;
}
	#close-widget:active{
		color:#F4AF16;
	}


.has_session .add-to-lfmfav{
	opacity: 1;
	}

.wait_love_done .add-to-lfmfav{
	position: relative;
	}
	.wait_love_done .add-to-lfmfav:after{
		right:0;
		top:0;
		left:auto;
		}
.add-to-lfmfav{
	margin-top:1rem;
	opacity: 0.3;
	}

	.lfm-auth{
		display:none;
		padding-left:20px;
		line-height:1.5;
		
		/* rem hack */
		padding-left: 1.4285714285714286rem;
}
		
.lfm-finish{
	display:none;
	opacity:0.3;
}
.deep-sandbox .lfm-finish{
	display:block;
}
.lfm-finish .lfm-code{
	margin-right: 1.72rem;
	width: 314px;

	/* rem hack */
	width: 22.428571428571427rem;
}
.waiting-auth .lfm-finish{
	opacity:1;
}
.lfm-auth p{
	margin:0.3rem 0;
	}
.lfm-auth .real-lfm-auth-part{
	margin-bottom:20px;

	/* rem hack */
	margin-bottom: 1.4285714285714286rem;
}
.lfm-auth-module .auth-block{
	overflow: hidden;
}

.login-lastfm-button,.lastfm-auth-bp{
	float:right;
	margin-left:1rem;
}
.page-scheme .nicebutton{
	height: 19px;
	line-height: 19px;
	
	/* rem hack */
	height: 1.3571428571428572rem;
	line-height: 1.3571428571428572rem;
}
.page-scheme .button-hole{
	display: block;
	}

.lfm-auth form{
	margin-bottom:2.5rem;
	padding-bottom:1rem;
	}
	.full-page .personal-stuff-preview{
		margin: 0 -0.5rem;
		padding: 1rem 1rem 0.5rem;
		border-top: 1px solid #444;
		border-bottom: 1px solid #555;
		border-radius: 1rem;
		background: #4D4D4D;
		color:#999;
		min-height: 6.7rem;
		
		/* rem hack */
		border-top: 0.07142857142857142rem solid #444;
		border-bottom: 0.07142857142857142rem solid #555;
}
		.full-page .personal-stuff-preview .area-button{
			margin: -0.5rem -0.5rem 0;
			}
		
		
	
		.window-bottom{
			position:absolute;
			right:0;
			bottom:0;
			z-index:20;
			overflow:hidden;
			width: 20px;
			height:20px;
			text-align:right;
			
			/* rem hack */
			width: 1.4285714285714286rem;
			height: 1.4285714285714286rem;
}
			#resize-handle{
				position:absolute;
				right:3px;
				bottom:3px;
				cursor: se-resize;
				-apple-dashboard-region: dashboard-region(control rectangle 0 0 0 0);
				
				/* rem hack */
				right: 0.21428571428571427rem;
				bottom: 0.21428571428571427rem;
}
.track-context{
	margin-top:0.5rem;
	padding:0 8px 10px;
	min-height: 389px;
	
	/* rem hack */
	padding: 0 0.5714285714285714rem 0.7142857142857143rem;
	min-height: 27.785714285714285rem;
}
	.track-context .song-row-content{
		margin-bottom: 0;
		}
	@media (min-height:600px) {
		.track-context{
			min-height: 422px;
			
			/* rem hack */
			min-height: 30.142857142857142rem;
}
		}
.artist-info{
	position:relative;
	overflow:hidden;
	zoom:1;

}


	.desc-name{
		float:left;
		min-height:1.5rem;
	}
	.desc-text{
		display: table-cell;
		overflow:hidden;
	}
	.desc-text2{
		overflow:hidden;
	}



	

@media (max-width:500px) {

	.desc-name{
		float:none;
		width:auto;
	}
	.desc-text{
		display: block;
		overflow:visible;
	}
	.desc-text2{
		overflow:visible;
	}

	.artist-info .artist-tags, .artist-info .artist-similar{
		height:auto;
	}
}


.playlist-container{
	padding-top: 4px;
	
	/* rem hack */
	padding-top: 0.2857142857142857rem;
}

.load-more-list-data{
	display:block;
	padding:0.5rem;
	border-radius:4px;
	color: gray;
	
	cursor:pointer;
	
	/* rem hack */
	border-radius: 0.2857142857142857rem;
}
	.load-more-list-data:hover{
		background-color: #595959;
		
		/* bg hover hack */
		background-color:#000;
}


.artists_list.list_loading_state{
	position: relative;
	padding-bottom: 2rem;
	}
	.artists_list.list_loading_state:after{
		left:0.5rem;
		top:auto;
		bottom: 0;
	}
.tracks-for-play{
	clear:both;
	}
	ul.tracks-for-play.loading{
		position: relative;
		padding-bottom: 30px;
	
		/* rem hack */
		padding-bottom: 2.142857142857143rem;
}
	ul.tracks-for-play.loading:after{
		left:0.3rem;
		top:auto;
		bottom: 0;
		}
	ul.tracks-for-play > li{
		position:relative;
		margin: 0 0 0 0;
		}
.photo-cont{
	position: relative;
	overflow: hidden;
	height:135px;
	
	/* rem hack */
	height: 9.642857142857142rem;
}
	.album_insong_image {
		width: 135px;
	
		/* rem hack */
		width: 9.642857142857142rem;
}
	.photo-cont.loading-images:after{
		left:auto;
		right:0;

		}
	@media (min-height:600px) {
		.photo-cont{
			/*237-48+16*/
			height: 172px;
		
			/* rem hack */
			height: 12.285714285714286rem;
}
		.album_insong_image {
			width: 172px;
		
			/* rem hack */
			width: 12.285714285714286rem;
}
	}

	.photo-cont-lift{
		height:100%;
		white-space: nowrap;
		position: relative;
		overflow: hidden;
	}
	.photo-cont-lift .artist_image{
		position: relative;
	}
	.photo-cont .artist_image{
		height:100%;
		display: inline-block;
		}


.artist_preview-base .artist-tags{
	margin:0;
	padding:0.25rem 0 0;
	
	}
.want-more-info .artist-tags{
	clear:both;
	margin-bottom:1rem;
	}



.artist_preview-base .artist-tags, .artist_preview-base .artist-similar{
	position:relative;
	height:2rem;
	line-height: 2rem;
}
.artist-bio{
	position:relative;
	top:-3px;
	overflow:hidden;
	height:1.55rem;
	line-height:1.5rem;
	
	
	/* rem hack */
	top: -0.21428571428571427rem;
}
	
	@media (min-height:600px) {
		.artist-bio{
			height:4.7rem;
		}
	}
	
	
	.artist-similar a.artist{
		margin-right:8px;
		display: inline-block;
		line-height: 1.2;
		
		/* rem hack */
		margin-right: 0.5714285714285714rem;
}
	
	.artist-tags a.music-tag{
		margin-right:0.5rem;
		white-space: nowrap;
		display: inline-block;
		line-height: 1.2;
		}
.artist-stat-in-song span{
	
}
.artist-meta-info{
	position:relative;
	z-index:2;
	clear:left;
	overflow:hidden;
	}
	.artist-meta-info .desc-name{
		
		}
		.artist-meta-info .desc-name em {
			font-style:normal;
			
		}


.track-context .photo_and_artinfo{
	border-top:1px solid #555555;
	border-bottom:1px solid #6e6e6e;
	background:#5a5a5a;
	margin:0 -13px;

	/* rem hack */
	border-top: 0.07142857142857142rem solid #555555;
	border-bottom: 0.07142857142857142rem solid #6e6e6e;
	margin: 0 -0.9285714285714286rem;
}

.track-context .artist_preview-texcon{
	padding: 0 1rem;
	}
.photo_and_artinfo{
	clear: both;
	
	padding:0;
	min-height:170px;
	
	/* rem hack */
	min-height: 12.142857142857142rem;
}
		
	@media (min-height:600px) {
		.photo_and_artinfo{
			min-height:207px;
		
			/* rem hack */
			min-height: 14.785714285714286rem;
}
	}

	.artist_preview-base > .vk-login-context, .track-context > .vk-login-context{
		margin:5px -13px 1.72rem;
		border-radius:0;
		
		/* rem hack */
		margin: 0.35714285714285715rem -0.9285714285714286rem 1.72rem;
}	
	.artist_preview-base .dominator-head{
			overflow:hidden;
			padding:0;
			min-height: 2rem;
		}
		.artist_preview-base .dominator-head .closer-to-track{
			float:left;
			margin-right:1rem;
			padding-top:0.25rem;
			width:126px;
			line-height: 2rem;

		
			/* rem hack */
			width: 9rem;
}
		.one-artist-playlist a{
			color:#666;
			}
			.one-artist-playlist a:hover{
				color:#777;
				
				/* bg hover hack */
				background-color:#000;
}
	.artist_preview-base .extend-switcher{
		float:right;
		cursor: pointer;
		max-width: 20rem;
		margin-left:-0.5rem;
		padding: 0.5rem 0.6rem;
		border:0;
		border-radius: 0 0  0.5rem 0.5rem;
		color: hsl(0, 0%, 60%);
		text-shadow: 0 1px 0 #4A4A4A;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		
		/* rem hack */
		text-shadow: 0 0.07142857142857142rem 0 #4A4A4A;
}
		.artist_preview-base .extend-switcher .big-space{
			padding-bottom: 1px;
			border-bottom: 1px dotted #696969;
		
			/* rem hack */
			padding-bottom: 0.07142857142857142rem;
			border-bottom: 0.07142857142857142rem dotted #696969;
}

		
		.artist_preview-base .extend-switcher:hover{
			background-color:#555;
			
			/* bg hover hack */
			background-color:#000;
}
			.artist_preview-base .extend-switcher:hover .big-space{
				border-bottom-color:transparent; 
				
				/* bg hover hack */
				background-color:#000;
}
		.track-context .want-more-info .extend-switcher{
			text-shadow:0;
		}
		.track-context .want-more-info .extend-switcher:hover{
			background-color:#585858;
		
			/* bg hover hack */
			background-color:#000;
}
	

	.artist_preview-base.want-more-info{
		padding-bottom:1rem;
	}
	.artist_preview-base .artist-info {
		display: none;
		}	

		.want-more-info .artist-info{
			display: block;
			}

	.artist_preview-base .extending-info{
		display:none;
		}

	
	
	.want-more-info .extending-info{
		display:block;
		}	
	.want-more-info .artist-bio,
	.want-more-info .artist-tags,
	.want-more-info .artist-similar{
		height:auto;
		}


	.track-context .want-more-info .image img.artist_image{
		position:static;
	}

	

.artist-albums, .artist-similar,.artist-tags{
	overflow: hidden;
	
}
.artist-info .artist-albums, .artist-info .artist-similar{
	margin: 0.5rem 0;
	padding: 2px 0;

	/* rem hack */
	padding: 0.14285714285714285rem 0;
}
.artist-tags .simple-header{
	margin-right:1rem;
	font-style:normal;
	}
.desc-name{
	margin-right: 13px;

	/* rem hack */
	margin-right: 0.9285714285714286rem;
}
.artist-albums .desc-name{
	float:left;
}
.desc-text{
	padding-bottom:2px;

	/* rem hack */
	padding-bottom: 0.14285714285714285rem;
}	

	
#slider-materail{
	position: relative;
	z-index:2;
	background:#505050;
	}
.footer{
	position: relative;
	z-index: 3;
	margin: 0 auto;
	max-width: 750px;
	
	
	
	/* rem hack */
	max-width: 53.57142857142857rem;
}
	.as-application .footer{
		position: absolute;
		right: 1rem;
		bottom:0;
		}

.as-application #promo{
	position: absolute;
	bottom: 10px;
	z-index:3;
	
	/* rem hack */
	bottom: 0.7142857142857143rem;
}
.as-application #seesu-me-link{
	
	}
#promo{
	padding-right: 18px;
	padding-left:18px;
	height:10px;
	color:#999;
	font-size:0.8rem;

	/* rem hack */
	padding-right: 1.2857142857142858rem;
	padding-left: 1.2857142857142858rem;
	height: 0.7142857142857143rem;
}
	#promo a{
		padding: 1px 0.5rem;
		background:#505050;
		
		
		/* rem hack */
		padding: 0.07142857142857142rem 0.5rem;
}
		#promo a:hover{
			
		
			/* bg hover hack */
			background-color:#000;
}
.has_session .scrobbling-switches{ 
	opacity:1;
	}

.scrobbling-switches{
	opacity:0.3;
	
	}
#search{
	padding-top:1rem;
	
	}
#search #q{
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
	padding: 2px 0;

	width:100%;
	height:2.3rem;


	-webkit-appearance: none;

	/* rem hack */
	padding: 0.14285714285714285rem 0;
}

#q.surf_nav, .lg_smarttv_app #q:hover{
	color:#fff;
}

.users-play-this{
	clear: both;
	overflow:hidden;
	
}

.chart-song{
	display: block;
	overflow:hidden;
	margin-right: 1rem;
	}
	.chart-song .song-track-name, 
	.chart-song .song-artist_name{
		overflow:hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
		

.users-play-this li{
	float: left;
	overflow: hidden;
	margin-bottom: 1rem;
	min-width: 13rem;
	width: 33%;
}
	.users-play-this li .vk-ava{
		float:left;
		margin:0 1rem 0 0;
		padding:0;
	}
	.users-play-this li .vk-ava img{
		padding:2px;
		border-radius:2px;
		width: 50px;
		height: 50px;
		
		background:#5C5C5C;
	
		/* rem hack */
		padding: 0.14285714285714285rem;
		border-radius: 0.14285714285714285rem;
		width: 3.5714285714285716rem;
		height: 3.5714285714285716rem;
}


.start-page-messages{
	display: none;
	}
	.full-page .start-page-messages{
		display: block;
		}

.block-for-startpage.loading{
	min-height:30px;
	position: relative;

	/* rem hack */
	min-height: 2.142857142857143rem;
}
.block-for-startpage.loading:after{
	left:auto;
	right:0;
	top:0.2rem;
}
.block-for-startpage h3{
	overflow:hidden;
	margin:0 0 18px;
	line-height:2;

	/* rem hack */
	margin: 0 0 1.2857142857142858rem;
}
.block-for-startpage h3 a.js-serv{
	margin-left:1.72rem;
	font-size:0.85rem;
}


	.tags-hyped h3{
		margin-bottom:10px;
	
		/* rem hack */
		margin-bottom: 0.7142857142857143rem;
}
	
	.full-page .tags-hyped{
		
		}
.tags_list{
	text-align: justify;
	line-height: 2;
	}
.full-page .tags_list{
	line-height: 2.5;
	}
	.full-page .tags_list a{

		margin-right:15px;
		
		/* rem hack */
		margin-right: 1.0714285714285714rem;
}
.tags_list-preview{
	font-size: 0.8em;
	color:#707070;
	}
	.tags_list-preview span{
		white-space: nowrap;
		margin-right: 0.5em;

		}

#search #search-p{
	overflow:hidden;
	margin:10px 0 5px;
	position: relative;
	
	/* rem hack */
	margin: 0.7142857142857143rem 0 0.35714285714285715rem;
}
	.main_search_label{
		float:left;
		margin-right:0.34rem;
		
		line-height: 1.5em;
		font-style:normal;
		font-size: 1rem;
	}
		#search-p .main_search_label {
			padding-top:0.2rem;
			position: absolute;
			top: 0.4rem;
			left: 0.4rem;
			z-index: 2;
			color:#777;
		}
	#search #search-p label span.loading{
		position: relative;
	}
	#search #search-p label span.loading:after{
		left:auto;
		right:0;
		top:50%;
		margin-top: -0.6rem;
	}
	#search #search-p label span.inpt{
		display:block;
		overflow:hidden;
		padding:0.14rem;
	}
.desc{
	color:#999;
}
.search-desc {
	display: none;
	font-size:0.9rem;
}

.full-page .search-desc{
	display: block;
}
#update-star{
	position:relative;
	bottom:-4px;
	border-bottom:0  !important;

	/* rem hack */
	bottom: -0.2857142857142857rem;
}
#screens{
	clear:left;
}
.arrow-part{
	position: absolute;
	width: 0;
	height: 0;
	font-size: 0;
}
	.rc-s-arrow,.tl-arrow {		
		top:-11px;
		border-style: solid;
		border-width: 11px;
		border-color: transparent   transparent  #555 transparent ;
		
		/* rem hack */
		top: -0.7857142857142857rem;
		border-width: 0.7857142857142857rem;
}
		.rc-s-arrow-bg,.tl-arrow-bg {
			top: -10px;
			left: -11px;
			border-style: solid;
			border-width: 11px;
			border-color: transparent transparent #5A5A5A transparent  ;
			
			/* rem hack */
			top: -0.7142857142857143rem;
			left: -0.7857142857142857rem;
			border-width: 0.7857142857142857rem;
}
	.tl-arrow{
		margin-left:0;
	}	
.rc-arrow{
	position: absolute;
	top: -11px;
	display:block;
	overflow: hidden;
	margin-left: -11px;
	width:22px;
	height:11px;
	
	/* rem hack */
	top: -0.7857142857142857rem;
	margin-left: -0.7857142857142857rem;
	width: 1.5714285714285714rem;
	height: 0.7857142857142857rem;
}


#sm2-container.swf_error{
	display:none;
	}



#gstat{
	position:absolute;
	z-index:-10;
	margin:0;
	padding:0;
	width:1px;
	height:1px;
	border:0;

	/* rem hack */
	width: 0.07142857142857142rem;
	height: 0.07142857142857142rem;
}
.serv-container{
	display:none;
}

.track-listeners{
	margin:0.5rem 0 0;
	min-height:6rem;
}
.big-user-avatar {
	float:left;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-right:1.72rem;
	width: 196px;
	height: 252px;
	border-radius: 0.5rem;
	background: #545454;
	text-align: center;

	/* rem hack */
	width: 14rem;
	height: 18rem;
}
.song-listeners-list{
	position: relative;
	overflow: hidden;
	padding-top: 0.5rem;
	height: 56px;
	
	/* rem hack */
	height: 4rem;
}
	.song-listener{
		position:relative;
		float:left;
		margin-bottom:10px;
		margin-right:11px;
		padding: 3px;
		width:50px;
		border-radius: 3px;
		background: #4A4A4A;
	
		/* rem hack */
		margin-bottom: 0.7142857142857143rem;
		margin-right: 0.7857142857142857rem;
		padding: 0.21428571428571427rem;
		width: 3.5714285714285716rem;
		border-radius: 0.21428571428571427rem;
}
	.current-user-listen{
		margin-left:0;
	}
	.many-users .current-user-listen{
		background: #555;
	}
	
	.song-listeners-list li.song-listener{
		
		
		cursor:pointer;
		
		}
		.song-listeners-list li.song-listener:hover{
			background-color:#555;
		
			/* bg hover hack */
			background-color:#000;
}
		.song-listeners-list li.song-listener:active{
			background-color:#5a5a5a;
		}
		.track-listeners li.song-listener:first-of-type{
			margin-left:0;
		}
		.song-listener .image-cropper{
			overflow:hidden;
			height:50px;
			
		
			/* rem hack */
			height: 3.5714285714285716rem;
}

		.song-listener img{
			width:50px;
			border-radius:1px;
		
			/* rem hack */
			width: 3.5714285714285716rem;
			border-radius: 0.07142857142857142rem;
}
		.image-cropper img{
			width:50px;
			height:50px;
			
			/* rem hack */
			width: 3.5714285714285716rem;
			height: 3.5714285714285716rem;
}

iframe.you-tube-video,embed.you-tube-video{
	display: block;
	margin:0;
	width:100%;
	height:360px;
	border:0;
	
	/* rem hack */
	height: 25.714285714285715rem;
}
	.youtube-video-page iframe.you-tube-video,
	.youtube-video-page embed.you-tube-video{
		height: 100%;
		position: absolute;
		top:0;
		bottom:0;
		min-height: 320px;
		
		/* rem hack */
		min-height: 22.857142857142858rem;
}
.track-video{
	-webkit-transform: translateZ(0);
	padding: 0;
	min-height: 48px;
	overflow: hidden;
	
	/* rem hack */
	min-height: 3.4285714285714284rem;
}
	.track-video ul{
		}
	.track-video .desc-text{
		display:block;
		}
		
	.you-tube-video-link{
		float:left;
		cursor:pointer;
		}
	.you-tube-video-link.cant-show{
		opacity: 0.5;
		filter:alpha(opacity=5);
		-moz-opacity: 0.5;
		}	
		.video-title{
			display:none;
			}
		.video-preview{
			float:left;
			overflow:hidden;
			width:85px;
			height:48px;
			border:0 !important;
			
			/* rem hack */
			width: 6.071428571428571rem;
			height: 3.4285714285714284rem;
}
		.surf_nav .video-preview{
			opacity: 0.3;
			}
			.video-preview img{
				width:85px;
				height:64px;
				
				
				/* rem hack */
				width: 6.071428571428571rem;
				height: 4.571428571428571rem;
}
			.video-preview img.whole{
				margin-top:-8px;
				
				/* rem hack */
				margin-top: -0.5714285714285714rem;
}
				.video-preview .preview-slicer{
					position: relative;
					display: block;
					overflow: hidden;
					height:16px;
					
					/* rem hack */
					height: 1.1428571428571428rem;
}
			.video-preview .preview-part{
				position: absolute;
				}
			.video-preview .preview-start{
				top:-8px;
				
				/* rem hack */
				top: -0.5714285714285714rem;
}
			.video-preview .preview-middle{
				top:-1.72rem; /*8 + (48/3)*/
				}
			.video-preview .preview-end{
				top:-40px; /*8 + (48/3)x2*/
				
				/* rem hack */
				top: -2.857142857142857rem;
}
		.video-preview:hover, .you-tube-video-link.active .video-preview{
			border-color:#9C9C9C;
			
			/* bg hover hack */
			background-color:#000;
}
			

.people-l-wide .people-list-item{
	width:238px;
	

	/* rem hack */
	width: 17rem;
}
.full-page .people-list{
	overflow:hidden;
	}
	.full-page .people-list>li{
		float:left;
		margin-bottom:1rem;
		padding-right:1rem;
	}
.people-list-desc{
	margin-top:-1rem;
	font-size:1rem;
	}
	.button-place-people-el .button-hole{
		margin-top:7px;
	
		/* rem hack */
		margin-top: 0.5rem;
}


.minimize-button{
	position: absolute;
	top: 0;
	right: 0;
	width: 22px;
	height: 13px;
	border-radius: 0 0 0 4px;
	background: url(../i/minimize-icon.png) no-repeat;
	opacity: 0.8;
	cursor: pointer;
	
	
	/* rem hack */
	width: 1.5714285714285714rem;
	height: 0.9285714285714286rem;
	border-radius: 0 0 0 0.2857142857142857rem;
}
	.minimize-button:hover{
		box-shadow: 0 0 9px #999;
		opacity: 1;
		
		/* rem hack */
		box-shadow: 0 0 0.6428571428571429rem #999;

		/* bg hover hack */
		background-color:#000;
}
		.minimize-button:active{
			box-shadow: inset 0 0 7px #000;
			
			/* rem hack */
			box-shadow: inset 0 0 0.5rem #000;
}
/* Custom CSS scrollbar */

.pokki-app ::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border-radius: 5px;
	background: none;

	/* rem hack */
	width: 0.5714285714285714rem;
	height: 0.5714285714285714rem;
	border-radius: 0.35714285714285715rem;
}


.pokki-app ::-webkit-scrollbar-track:vertical { 
	background: none; 
}
.pokki-app ::-webkit-scrollbar-thumb {
	width: 8px; 
	height: 20px;
	border-radius: 5px;
	background: #999;

	/* rem hack */
	width: 0.5714285714285714rem;
	height: 1.4285714285714286rem;
	border-radius: 0.35714285714285715rem;
}

.pokki-app ::-webkit-scrollbar-button: { 
	display: none; 
}
.attention-message{
	overflow: hidden;
	margin: 0 -1rem;
	padding: 1rem;
	border-radius: 7px;
	background: #404040;
	color: #999;
	
	/* rem hack */
	border-radius: 0.5rem;
}
	.attention-message .message-image{
		float: left;
		margin-right: 1rem;
		}
	.attention-message .close-message{
		float:right;
		margin-top: -0.3rem;
		margin-left: 1rem;
		height: 0.5rem;
		color:#999;
		font-size:3rem;
		line-height: 1;
		cursor: pointer;
		}
		.attention-message .close-message:hover{
			color:#ccc;
			
			/* bg hover hack */
			background-color:#000;
}
.moplas-block .moplas-list li .download-song-link{
	float:right;
	margin-right:5px;
	
	/* rem hack */
	margin-right: 0.35714285714285715rem;
}
.moplas-block .moplas-list li .download-pressed{
	color: #757575;
	}
.share-song{
	padding-top:1rem;
	}
	.share-song .song-link{
		-moz-box-sizing:border-box;
		box-sizing: border-box;
		width:100%;
		}
	.share-song .users-list{
		
		margin-top:1.72rem;
		}

		.share-song .song_acting_vk_search{
			overflow: hidden;
			}
		.share-song .users-list .vk-login-context{
			margin:1rem -1rem 0;
			border-radius: 0;
		}
		.share-song .song_acting_vk_search{
			
		}
		.share-user-suggest{
			float:left;
			width:50%;
			margin-bottom:7px;
		
			/* rem hack */
			margin-bottom: 0.5rem;
}
.shareb-base .details_switch_block{
	float: right;
	margin-bottom: 0.2rem;
	margin-top: 0.2rem;
	}
	.shareb-base .details_switch_block .desc{
		float:left;
		margin-right: 0.5rem;
		}
	.shareb-base .details_switch_block  .details_switch{
		float: right;	
		}

	.shareb-base .details_for_switcher{
		clear: both;
		}


.vk_share{

	}
	.vk_share h3{
		
		}
	.share_header_wrap{
		overflow: hidden;
		margin-top: 1.5rem;
	}
	.vk_share_header{
		float:left;
		color: #999;
		padding-top: 0.1rem;
		margin: 0 1rem 0 0;
	}
	.post-to-my-vk-wall{
		float:left;
	}
.lfm_share{
	margin-top: 0.5rem;
}

.song_acting_vk_search{
	overflow: hidden;
}
.shareb-base{
	background: #545454;
	border: 1px solid transparent;
	border-top: 1px solid #4E4E4E;
	border-bottom: 1px solid #646464;
	border-radius: 0.5rem;
	margin-bottom: 0.2rem;
	padding: 0.7rem;
	overflow: hidden;
	
	/* rem hack */
	border: 0.07142857142857142rem solid transparent;
	border-top: 0.07142857142857142rem solid #4E4E4E;
	border-bottom: 0.07142857142857142rem solid #646464;
}
	.shareb-button{
		float:right;
		}

	.shareb-con{
		clear: both;
		}


.list-search-input-place{
	float:left;
	margin-bottom:7px;
	width:50%;

	/* rem hack */
	margin-bottom: 0.5rem;
}


.shareb-base.sharebopened .share-user-suggest{
	
	
	
	}
	.shareb-base .share-user-suggest a{
		min-width:200px;
	
		/* rem hack */
		min-width: 14.285714285714286rem;
}
	.shareb-base .share-user-suggest a, .post-to-my-vk-wall{
		display: block;
		overflow: hidden;
		padding: 3px 6px 3px 3px;
		border-radius:3px;
		cursor: pointer;
		
		/* rem hack */
		padding: 0.21428571428571427rem 0.42857142857142855rem 0.21428571428571427rem 0.21428571428571427rem;
		border-radius: 0.21428571428571427rem;
}
	.share-user-suggest img{
		width:25px;
		height:25px;
		float: left;
	
		/* rem hack */
		width: 1.7857142857142858rem;
		height: 1.7857142857142858rem;
}
	.shareb-base .share-user-suggest img, .post-to-my-vk-wall img{
		float:left;
		margin-right:7px;
		width:1.8rem;
		height:1.8rem;
		
		/* rem hack */
		margin-right: 0.5rem;
}
	.shareb-base .share-user-suggest:hover a,.post-to-my-vk-wall:hover{
		background-color: #494949;	
		
		/* bg hover hack */
		background-color:#000;
}
.protect_clicks{
	position: relative;
	
	}
.clicks_protecter{
	position: absolute;
	display: none;
	left:0;
	top:0;
	bottom: 0;
	right: 0;
	background: #333;
	opacity: 0.5;
	}
	.clicks_protecter:hover{
		cursor: pointer;
		border-bottom: 0.2rem solid #fff;
		
		/* bg hover hack */
		background-color:#000;
}
.compact_share {

	}
	.compact_share .clicks_protecter{
		display: block;
	}
	.share-song .compact_share .protect_clicks{
		height: 4.5rem;
		}
	.compact_share .share-user-suggest{
		width: auto;
		margin-bottom:0;
	}
	.compact_share .share-user-suggest a{
		padding: 0;
		border-radius: 0;
		cursor: default;
		min-width: 0;
		}
	.compact_share .share-user-suggest img{
		margin-right:0;
		}
	.compact_share .text_part{
		display: none;
		}

.friends-search-desc{
	clear: both;
	float: left;
	margin-bottom: 0.2rem;
	margin-top: 0.2rem;
	}

.row-song-context input{
	margin:0;
	border-color:#919191;
	border-radius:4px;
	background: #777;
	color:#eee;


	/* rem hack */
	border-radius: 0.2857142857142857rem;
}

.addsong-to-playlist{
	padding:1rem 0 0;
	}
	.addsong-to-playlist h4{
		
		margin: 0 0 0.5rem 0.2rem;
		padding: 0;
		font-weight:400;
		}
	.addsong-to-playlist .playlist-query{
		
		margin-bottom: 1rem;
		}
		.addsong-to-playlist .create-named-playlist{
			color:#757575;
			}
			.addsong-to-playlist .create-named-playlist span{
				color: #ccc;
				}
		.addsong-to-playlist .suggest{
			padding:0.3rem;
			border-radius:0.3rem;
			cursor: pointer;
			}
			.addsong-to-playlist .suggest:hover{
				background-color: #494949;
				
				/* bg hover hack */
				background-color:#000;
}
		.addsong-to-playlist .list-of-playlists{
			width:200px;
			
			/* rem hack */
			width: 14.285714285714286rem;
}
.song-by-user{
	display: block;
	overflow: hidden;
	margin-right: 1rem;
	border-radius: 0.5rem;
	background-color: #4D4D4D;
	cursor: pointer;
	}
	.users-play-this .desc-row,
	.song-by-user .song-track-name,
	.song-by-user .song-artist_name{
		overflow: hidden;
		height: 1.5rem;
		text-overflow: ellipsis;
		white-space: nowrap;
		line-height: 1.5rem;
		}
.song-by-user:hover{
	background-color:#535353;

	
	/* bg hover hack */
	background-color:#000;
}
body .surf_nav{
	background-color: #000;
	1box-shadow:0 0 0 2pt #1DD8B2;
	}



.playlist_preview-c{
	margin-bottom: 1rem;
	}
.playlist_preview-c{
	border-radius: 1rem;
	background: #4D4D4D;
	}
	.playlist_preview-c .area-button{
		margin-bottom: 0;
		}
.pl-auth-con{
	display: none;
	color:#999;
	padding: 0.5rem 1rem 0;
	}
	.pl-auth-con .vk-login-context{
		padding: 0;
		margin: 0;
		}
.access-request .pl-auth-con{
	display: block;
	}
	.pl-auth-con p {
		margin:0;

		}
	
.area_for_button .pl-auth-con .vk-login-context{
	margin: 0;
	padding: 0;
	background: transparent;
	color:inherit;
	}
	.area_for_button .pl-auth-con .vk-login-context a{
		border-bottom-color: #ccc;
		color:#ddd; 
		}

.artists_list{
	padding-top: 1rem;
	}
.artist_in_list {
	overflow: hidden;
	color: #aaa;
	display: block;
	background: #555;
	padding: 0.5rem;
	border: 1px solid #494949;
	margin-bottom: 0.5rem;
	border-radius: 0.54rem;
	cursor: pointer;
	
	/* rem hack */
	border: 0.07142857142857142rem solid #494949;
}
	.artist_in_list:hover{
		background-color: #444;
		
		/* bg hover hack */
		background-color:#000;
}

	.artist_in_list.surf_nav, .lg_smarttv_app .artist_in_list:hover{
		background-color: #000;
		color:#fff;
		}
	.artist_in_list .song-image-con{
		border-radius: 0.4rem;
		margin-right: 0.5rem;
		}
		.artist_in_list .song-image-con img{
			border-radius:inherit;
			}
.aqc_preview{
	min-height: 31px;

	/* rem hack */
	min-height: 2.2142857142857144rem;
}
.user_page .aqc_preview .user_acqes-preview{
	margin-bottom: 1rem;
	margin-top: 0;
	padding: 0 0.5rem;
	}
.user_acqes-preview{
	cursor: pointer;
	opacity: 0.5;
	margin-top: 0.2rem;
	}
	.user_acqes-preview img{
		width:25px;
		height:25px;
		
		/* rem hack */
		width: 1.7857142857142858rem;
		height: 1.7857142857142858rem;
}
	.user_acqes-preview:hover{
		opacity: 0.8;
		
		/* bg hover hack */
		background-color:#000;
}
	.user_acqes-preview:active{
		opacity: 1;
		}
	.page-scheme .user_acqes-preview{
		display: none;
		}
.album_preview{
	height: 4.58rem;
	width: 4.58rem;
	}
.albums_list_con{
	overflow: hidden;
	}
.album_preview-big{
	cursor: pointer;
	}
	.album_preview-big:hover{
		background: #555;
		
		/* bg hover hack */
		background-color:#000;
}
.full-page .album_preview-big{
	float:left;
	}
	
	.album_preview-big img{
		display: block;
		height: 9rem;
		width: 9rem;
		background-color: #666;
		}
	.album_preview-big .full_album_name{
		
		padding:0.5rem 0;
		overflow: hidden;
		bottom:0;
		}
	.full-page .album_preview-big .full_album_name{
		width:9rem;
		height: 9.5rem;
		}
	.page-scheme .album_preview-big img{
		height: 6rem;
		width: 6rem;
		}
	.page-scheme .album_preview-big .full_album_name{
		margin-bottom: 1rem;
		}
	.full_album_name .album_name{
		color: #999;
		}
.notify-closer{
	display: none;
	position: absolute;
	bottom: 0.5rem;
	left: 0;
	background: #F53C35;
	color: #fff;
	text-align: center;
	width: 1.5rem;
	height: 1.5rem;
	font-size: 1.2rem;
	border-radius: 0 40% 40% 0;
	cursor: pointer;
	}


.lulas_page{
	overflow: hidden;
	}
.user_artist{
	display: inline-block;
	width: 8rem;
	border: 2px dotted #777;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
	padding: 0.2rem;
	margin-right: 0.5rem;
	cursor: pointer;
	
	/* rem hack */
	border: 0.14285714285714285rem dotted #777;
}
	.full-page .user_artist{
		margin-bottom: 2.5rem;
	}
	.user_artist-image_con{
		
		}

	.user_artist-name{
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
		}

	.user_artist-counter{
		font-size: 0.8em;
		}
.user_tag{

	}
	.user_tag-count{
		display: inline-block;
		width: 50px;
	
		/* rem hack */
		width: 3.5714285714285716rem;
}
.lfm_friend-base-preview{
	overflow: hidden;
	margin-bottom: 1rem;
	padding: 0.5rem;
	border-radius: 0.2rem;
	cursor: pointer;
	}
	.lfm_friend-base-preview:hover{
		background-color:#555;	
	
		/* bg hover hack */
		background-color:#000;
}
	.lfm_friend-ava{
		float:left;
		height: 4.58rem;
		width: 4.58rem;
		margin-right:1rem;
		}
	.lfm_friend-desc{
		font-size: 0.8em;
		color:#8C8C8C;
	}
	.lfm_friend-scrobbler{
		float:right;
		font-size:0.8em;
		}
		.lfm_friend-scrobbler img{
			height: 1.143rem;
			width: 1.143rem;
			position: relative;
			top: 0.2rem;
		}
.vk_friend-base-preview{
	overflow: hidden;
	margin-bottom: 1rem;
	padding: 0.5rem;
	border-radius: 0.2rem;
	cursor: pointer;
	}
	.vk_friend-base-preview:hover{
		background-color:#555;	
	
		/* bg hover hack */
		background-color:#000;
}
	.vk_friend-ava{
		float:left;
		height: 4.58rem;
		width: 4.58rem;
		margin-right:1rem;
		}
	.vk_friend-desc{
		font-size: 0.8em;
		color:#8C8C8C;
	}
.lfm_user_page-header{
	overflow: hidden;
	margin-bottom: 1rem;
}
.vk_user_page-header{
	overflow: hidden;
	margin-bottom: 1rem;
}
.songcard_page .nested_artist{
	background: #4D4D4D;
	border-top: 1px solid #464646;
	border-bottom: 1px solid #5C5C5C;
	padding: 1rem;
	border-radius: 0.5rem;
	margin-top:2rem;
	margin-bottom:2rem;
	
	/* rem hack */
	border-top: 0.07142857142857142rem solid #464646;
	border-bottom: 0.07142857142857142rem solid #5C5C5C;
}
	.songcard_page-header{
		font-weight: 400;
		
		margin: 0;
		}
	.full-page .songcard_page-header{
		font-size: 1.5rem;
		}
.intrack_page{
	margin: 1rem -13px 0;
	border-top: 1px solid #555555;
	border-bottom: 1px solid #6e6e6e;
	background: #5a5a5a;
	padding:0.2rem 0 0.3rem;
	min-height: 3rem;
	cursor: pointer;
	
	/* rem hack */
	margin: 1rem -0.9285714285714286rem 0;
	border-top: 0.07142857142857142rem solid #555555;
	border-bottom: 0.07142857142857142rem solid #6e6e6e;
}
	.intrack_page:hover {
		background-color: #555;
		border-top-color: #505050;
		
		/* bg hover hack */
		background-color:#000;
}
.intrack_page-h{
	margin-left: 1rem;
	margin-right: 0.5rem;
	float: left;
	white-space: pre-line;
}
.song_fans-l-intrack{
	max-height: 3rem;
	overflow: hidden;
	}
.song_fan-b-tck{
	float:left;
	height: 3rem;
	width: 3rem;
	overflow: hidden;
	position: relative;
	background-size:60%;
	background-position: 50% 50%;
	background-image: url(../i/user.svg);
	background-repeat: no-repeat;
	}

	.song_fan-b-tck img{
		height: 100%;
		width: 100%;
		}
.song_fan-h-tck{
	position: absolute;
	top: 0;
	visibility: hidden;
	z-index: 2;
	width: inherit;
	text-overflow: ellipsis;
	text-shadow: #333 1px 1px 1px;
	word-wrap: break-word;
	line-height: 1;
	font-size: 0.8em;
	padding: 0.3rem;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	
	/* rem hack */
	text-shadow: #333 0.07142857142857142rem 0.07142857142857142rem 0.07142857142857142rem;
}


.song-act-tagging input{
	display: block;
	width: 100%;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	margin-bottom: 1rem;
	
}
.song-act-tagging{
	display: none;
	}
.has_session .song-act-tagging{
	display: block;
	}
	.song-tagging{
		margin-top: 1rem;
		}
		.possible_tags{
			}
			.possible_tags span{
				border: 1px solid #666;
				border-radius: 0.2rem;
				margin-right: 1rem;
			
				/* rem hack */
				border: 0.07142857142857142rem solid #666;
}
	.top_tags{
		
		}
		.song_tagging_help .tagging_help span{
			margin-right: 1rem;
			background: #3A473D;
			border: 1px dotted #686868;
			border-radius: 0.3rem;
			padding: 0 0.3rem;
			display: inline-block;
			margin-bottom: 0.3rem;
			color: #eee;
			cursor: pointer;
			
			/* rem hack */
			border: 0.07142857142857142rem dotted #686868;
}
	.song_tagging_help{
		background: rgb(85, 85, 85);
		padding: 1rem 13px;
		margin: 0 -13px;
		
		/* rem hack */
		padding: 1rem 0.9285714285714286rem;
		margin: 0 -0.9285714285714286rem;
}
		.tagging_help{
			min-height: 2.5rem;
			margin-bottom: 0.3rem;
			}
		.tagging_header{
			margin: 0;
			padding: 0;
			font-weight: 400;
			color:#777;
			}
			.tagging_header.has_tags{
				color:#eee;
				}
	.save_tags_b{
		float:right;
	}
.dmca_notice{
	font-size: 0.8rem;
	color:#999;
	display: none;
	padding: 0.5rem 1rem 1rem;
	padding-left: 3.2rem;
	}
	.want_more_songs .dmca_notice{
		display: block;
	}
.dmca_url{
	float: right;
	margin-right: 1rem;
	display: none;
	font-size: 0.8rem;
	}
	.want_more_songs .dmca_url{
		display: block;
	}



.compact_song {
	overflow: hidden;
	height: 2rem;
	font-size: 0.9rem;
	color: #ccc;
	padding: 0.4rem;
	margin: 0 -0.4rem;
}
.compact_song-image_con {
	float:left;
	width: 2rem;
	height: 2rem;
	margin-right: 0.4rem;
}
	.compact_song-artist_name, .compact_song-track_name{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 10rem;
	}
	.compact_song-artist_name {
		height: 1em;
		line-height: 1em;
		color: #AAA;
	}
	.compact_song-track_name{
		margin-top: 0.2rem;
		height: 1.4em;
		line-height: 1.4em;
	}
	.compact_song-image_con img{
		height: 100%;
		width: 100%;
	}
.compact_playlist .compact_song{
	background: #505050;
	}
.compact_playlist .compact_song:nth-of-type(even) {
	background: #555;
	}
	.compact_playlist-header {
		margin: 0.2rem 0;
		}
